[2022-04-03 01:53] #593 closed, assigned to nobody

[2022-04-05 04:26] nam-jaehyun commented on #661
[Fixes related to this issue](https://github.com/nam-jaehyun/KubeArmor/blob/530be40a05976b7a057ee7b46de3da52c70c503d/KubeArmor/feeder/policyMatcher.go#L841)

[2022-04-05 04:28] nam-jaehyun commented on #660
May need to consider the fact that KubeArmor does not support ALLOW policies that do not have fromSource,
which means that all ALLOW policies will have fromSource.

[2022-04-07 06:08] nyrahul opened #666 "support for CRIO container runtime"
## Feature Request

Kubearmor currently supports docker, and containerd container runtimes for k8s.
There are several k8s engine (for e.g. [OpenShift](https://docs.openshift.com/container-platform/3.11/crio/crio_runtime.html)) that use [CRIO](https://cri-o.io/).

Kubearmor connects to container-runtime to get the mount-namespace and other details (for e.g., container image details etc). These deta

[2022-04-07 12:03] viveksahu26 opened #667 "Remove unwanted KubeArmor service running in kube-system namespace"
## Feature Request

**Short Description**
Remove KubeArmor services running in kube-system namespace.

**Is your feature request related to a problem? Please describe the use case.**
Basically, these are auto-generated services by kubebuilder  and currently they are of no use.
To see those service,
[code]
**Describe the solution you'd like**
Clean up those services.

**Describe alternatives you've

[2022-04-07 12:34] viveksahu26 commented on #629
Ok, I will create small design doc for the same. And discuss it with the community in the next meeting.

[2022-04-09 02:12] viveksahu26 commented on #667
Hey @daemon1024 , since I don't have permission to add `cleanup` tag over `enhancement` tag. So,  can you do it.

[2022-04-09 02:13] viveksahu26 commented on #667
/assign

[2022-04-09 02:13] viveksahu26 commented on #629
/assign

[2022-04-09 15:32] daemon1024 commented on #667
`enhancement` should be fine.

This is an important service, we connect to this for logs/telemetry.

kubearmor-host-policy-manager-metrics-service   ClusterIP   10.152.183.249   <none>        8443/TCP

I would like to understand what potential usecase would this have before proceeding to remove it. We might consider leveraging those usecases as well if they deem fit.

[2022-04-10 03:31] viveksahu26 commented on #667
Hey @daemon1024 , as you said that below service

is used in providing logs and telemetry.

But, I deleted all 3 services from my cluster.

Then also `karmor cli` provides me logs and telemetry.  I don't understand why so ?

At present time these all are services running in my cluster
[code]

[2022-04-10 04:51] daemon1024 commented on #667
The `kubearmor svc` here is part of the https://github.com/kubearmor/kubearmor-relay-server, if you check the selector it would have `kubearmor-app: kubearmor-relay`

Then also karmor cli provides me logs and telemetry. I don't understand why so ?

What you are doing right now is essentially connecting to `kubearmor` directly. This only works because you are using kArmor on the same node. Also if

[2022-04-10 14:50] viveksahu26 commented on #667
Yeah, that could be the reason. Ok, I will also try to check it by installing both(k8s cluster and karmor cli) of them in diffferent nodes.

[2022-04-10 15:18] viveksahu26 commented on #667
Basically there are 3 deployments,
[code]

are related to each other.

Similarly,

are related to each other.

And,

aree related to each other.

[2022-04-10 15:23] viveksahu26 commented on #667
What does deployment `kubearmor-host-policy-manager ` and `kubearmor-policy-manager ` does. What is their use?

[2022-04-10 15:27] viveksahu26 commented on #667
And both deployment uses kubebuilder images, i.e. `gcr.io/kubebuilder/kube-rbac-proxy:v0.5.0`
https://github.com/kubearmor/KubeArmor/blob/4faeb7f825c175ac96600c1ba0b58085b2765bd0/deployments/microk8s/kubearmor.yaml#L215

[2022-04-12 05:08] daemon1024 commented on #667
They contain controllers for policy validation. Ref https://github.com/kubearmor/KubeArmor/blob/main/pkg/KubeArmorPolicy/controllers/kubearmorpolicy_controller.go

One of the image is rbac-proxy, their main image contains the CRD validation controller.
https://github.com/kubearmor/KubeArmor/blob/4faeb7f825c175ac96600c1ba0b58085b2765bd0/deployments/microk8s/kubearmor.yaml#L232

[2022-04-15 10:17] nthnieljson commented on #623
I have submitted pull requests regarding this issue, please kindly review. Thanks

[2022-04-17 15:12] viveksahu26 commented on #667
Hey @daemon1024 , I think controllers defined for deployments `kubearmor-host-policy-manager` and `kubearmor-policy-manager` will handle policy validation as well as internal logic. There is no need of services corresponding to  those deployment.
I have also tried to proof it.
Basically I ran the policy in presence of deployment  `kubearmor-host-policy-manager` and its service `kubearmor-policy-ma

[2022-04-18 07:00] nam-jaehyun commented on #76
Fix: #673

[2022-04-18 07:00] #76 closed, assigned to nam-jaehyun

[2022-04-19 04:52] Ankurk99 opened #675 "Multicontainer support for KubeArmor"
## Feature Request
Allow KubeArmor to apply policies at container level

**Is your feature request related to a problem? Please describe the use case.**
Currently if we apply any policy to a pod running multiple containers, the policy get applied at pod level and we cannot create separate KubeArmor profile for different containers in the pod

**Describe the solution you'd like**
Include container

[2022-04-19 04:53] Ankurk99 commented on #675
cc @nam-jaehyun @nyrahul

[2022-04-19 04:57] nam-jaehyun commented on #675
[code]
how about this? having a list of containers rather than having a string?

[2022-04-21 03:57] nyrahul opened #676 "supporting `protocol: raw` in matchProtocols"
## Feature Request

**Short Description**

Kubearmor supports enforcement of network primitives (tcp|udp|icmp) at the process level. A simple example is:
[code]

Currently, `raw` is not supported as the protocol type. However, the [discovery-engine](https://github.com/accuknox/discovery-engine) detects raw connections in the context to the process.

**Describe the solution you'd like**

Apparmor [

[2022-04-21 15:27] DelusionalOptimist commented on #676
@nyrahul can you please assign this to me? Thanks.

[2022-04-21 18:34] viveksahu26 commented on #667
@daemon1024 , any thoughts  ??

[2022-04-21 18:40] daemon1024 commented on #667
@viveksahu26 The Validation that you tried out right now is the validation performed by k8s based on the CRD specification and not by the controller.

You can see here what the controller validates for
https://github.com/kubearmor/KubeArmor/blob/bf6087fd0bc04315ccc3afd9babd72f215ec77ac/pkg/KubeArmorPolicy/controllers/kubearmorpolicy_controller.go#L123
Like here it checks if we mandate an allow act

[2022-04-21 18:50] viveksahu26 commented on #667
Yes, it's CRD specs.

[2022-04-21 18:53] viveksahu26 commented on #667
@daemon1024 , Do you want me to research more on above services functionality. Or should I remove it. As I couldn't see any role of those services.

[2022-04-21 21:30] viveksahu26 commented on #667
Found an interesting [docs](https://github.com/brancz/kube-rbac-proxy)  on image(`gcr.io/kubebuilder/kube-rbac-proxy:v0.5.0`) used by deployments(`kubearmor-host-policy-manager` and `kubearmor-policy-manager`). kube-rbac-proxy is a small HTTP proxy for a single upstream, that can perform RBAC authorization against the Kubernetes API using [SubjectAccessReview](https://kubernetes.io/docs/reference/

[2022-04-22 04:16] Ankurk99 commented on #675
[code]

Here: matchLabels will match the corresponding pod and containerName will match to the container inside that pod. If no matchLabels are applied then KubeArmor will apply the policy to all the containers with the respective containerName

[2022-04-27 07:16] #661 closed, assigned to nobody

[2022-04-27 11:11] nam-jaehyun opened #678 "Support network policy enforcement for SELinux-enabled env"
## Feature Request

**Short Description**

The SELinux enforcer currently supports policy enforcements for processes and file accesses.
There is a need for network policy enforcement.

The AppArmor enforcer already supports the network policy enforcement;
thus, the SELinux enforcer also needs to support the same.

[code]

[2022-04-27 11:22] nam-jaehyun opened #679 "Some host policies do not work as expected"
## Bug Report

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
vagrant-dev

**To Reproduce**

[code]

1. Instruction 1

[code]

2. Instruction 2

[code]

**Expected behavior**

/etc/default/useradd should be blocked.
/etc/hostname should not be blocked, but it is blocked.

**Screenshots**

![image](https://user-images.githubusercontent

[2022-04-27 14:31] nam-jaehyun opened #680 "Audit mode does not work as expected"
## Bug Report

**General Information**

While updating the policy matcher and the default posture, it seemed that the code for the audit mode was changed.
For this reason, the audit mode does not work as expected when LSMs are not available.

For a testing purpose, we can add two lines in kubeUpdate.go.

[code]

The above change will forcibly make KubeArmor use the audit mode even though LSMs are

[2022-04-27 14:58] nam-jaehyun opened #681 "Failed test scenarios when using NETNEXT=1"
## Bug Report

**General Information**

- Environment
vagarnt-dev (ubuntu), vagarnt-dev (centos), and vagrant-dev-next

Depending on testing environments, some operations show different behaviors, observing failed test scenarios.

**Additional Information**

When we execute 'ping -c 1 127.0.0.1',
we assume that ping will use the NET_RAW capability and the raw socket to create ICMP packets.

I obse

[2022-05-03 04:08] nyrahul commented on #531
folks, any update on this issue? Thanks

[2022-05-04 04:56] #681 closed, assigned to nam-jaehyun

[2022-05-04 04:56] #680 closed, assigned to nam-jaehyun

[2022-05-04 04:57] #679 closed, assigned to nam-jaehyun

[2022-05-04 13:56] viveksahu26 commented on #629
Adding few policies based on the selector type `matchExpression`.
`MatchExpression` supports total 4 types of operators.
`In`—Label’s value must match one of the specified values.
`NotIn`—Label’s value must not match any of the specified values.
`Exists` —Pod must include a label with the specified key (the value isn’t important). When using this operator, the values field should not be specified.

[2022-05-05 12:58] DelusionalOptimist commented on #666
@nyrahul @nam-jaehyun @daemon1024 I took a look into how support for other CRIs has been implemented and tried to draw parallels.
I think the [client](https://github.com/cri-o/cri-o/blob/main/internal/client/client.go) provided by CRIO doesn't give all the info that we need about the containers. For e.g. it doesn't provide the container spec (like containerd) through which we can get the apparmor

[2022-05-05 14:57] viveksahu26 commented on #667
@daemon1024 , Any thoughts on this ??

[2022-05-10 14:28] nam-jaehyun commented on #666
@DelusionalOptimist can you explain what values we cannot get from CRIO?

[2022-05-11 13:50] DelusionalOptimist commented on #666
@nam-jaehyun I was comparing the container structs defined by containerd and cri-o and saw that [containerd](https://github.com/containerd/containerd/blob/eb39aace3cadc4e01ef18b0e3706edf3b5249b6c/api/services/containers/v1/containers.pb.go#L42) provides some more fields over [cri-o](https://github.com/cri-o/cri-o/blob/db76322414a7888c7642b707e07dbb9905aa969f/pkg/types/types.go#L8) which may affect

[2022-05-12 04:26] #676 closed, assigned to DelusionalOptimist

[2022-05-12 21:54] DelusionalOptimist commented on #666
I think the best (and only) option here would be to use the [cri-api](https://github.com/kubernetes/cri-api).
We can get basic data needed for a [Container](https://github.com/kubearmor/KubeArmor/blob/7410c1c91ead25bb28e15ed628ceb908d30ca897/KubeArmor/types/types.go#L19) from [cri-api's container](https://github.com/kubernetes/cri-api/blob/1c90a6f7abe8f5b7331c95960a5106c9876a9e4f/pkg/apis/runtime/

[2022-05-13 04:32] nyrahul commented on #666
If cri-api can work, that will be the best thing to happen. But please have a look at [this file](https://github.com/kubearmor/KubeArmor/blob/main/KubeArmor/core/containerdHandler.go) to check what information we need from container runtime.

[2022-05-13 06:00] seswarrajan opened #692 "Source and Resource is same for all process based logs"
**General Information**

- Environment : GKE, Minikube, k3s and VM
- Kernel version 5.13.0-40-generic

**To Reproduce**
1. Run Kubearmor in Systemd mode/k8s mode
2. Launch karmor in another tab and listen to all logs (karmor log --logFilter all)
3. Observe logs for all **Operation: Process**.

**Expected behavior**

For process operation, the source and resource needs to be same.

**Screenshots**

[2022-05-13 06:23] DelusionalOptimist commented on #666
Yes @nyrahul, I had taken it into consideration as well.

[2022-05-13 16:53] nyrahul opened #693 "supporting non-orchestrated containerized workloads"
## Feature Request

**Short Description**

KubeArmor is now getting deployed on non-orchestrated containerized workloads. Kubearmor has requirement to operate in this mode for [LFEdge OpenHorizon](https://www.lfedge.org/projects/openhorizon/).

Kubearmor currently creates security profiles by:
* listening to events from k8s
* In systemd mode, it operates directly on the processes running on the ho

[2022-05-14 05:09] Akshit42-hue commented on #496
Can I take it up @daemon1024

[2022-05-15 04:26] Akshit42-hue commented on #492
Hey @daemon1024 can I work on it

[2022-05-17 04:33] #692 closed, assigned to seswarrajan

[2022-05-17 06:40] nyrahul commented on #675
[code]

[2022-05-17 16:12] anu491 commented on #552
I would like to work on this issue , being somewhat new to the library, could someone guide me through the file structure or rather the file which I  should be looking into for a possible fix ?
@nyrahul

[2022-05-19 07:04] nyrahul opened #700 "security profile clash when namespace and container-name is same"
## Bug Report

kubearmor does not handle properly the situation where there is multiple containers with the same name in the same namespace ( this situation is common when using charts e.g gitlab autodevops) which results in unexpected behavior (policies are not enforced, policies are being applied to wrong containers etc...).

<details><summary>Sample Deployment with same container name (deploy.y

[2022-05-19 14:55] anutosh491 commented on #221
Hello @nam-jaehyun , I recently got onboard with KubeArmor and started contributing to good first issues . Along with other interesting projects that KubeArmor has to offer for the LFX mentorship program this summer ..... I am also interested in this project . I am comfortable with Go and K8s as of now . Could you share any relevant links , resources which I could look up for this ? Also what woul

[2022-05-19 16:35] viveksahu26 commented on #629
In the bi-weekly meeting, the conclusion was made to support all 4 operators(`In`, `NotIn`, `Exists`, `DoesNotExist`) for `matchExpression` selector.

[2022-05-22 17:34] #496 closed, assigned to Akshit42-hue

[2022-05-23 07:30] s1ntaxe770r commented on #638
Hey @nyrahul can i take this?

[2022-05-23 18:55] DelusionalOptimist commented on #215
@nam-jaehyun @nyrahul taking a look at this as discussed in the last community call.
Also, is https://github.com/kubearmor/KubeArmor/issues/58 a good reference on how we generally test compatibility with managed clusters?

[2022-05-25 19:36] achrefbensaad commented on #700
To add further details, after our talk me and @nam-jaehyun, @nam-jaehyun  noted that the pod name is not fix there will be always a random sequance for pods created via deployments, daemonsets, ... .
I suggests that we use the parent object name for those pods. and for static and standalone pods we use their respective names as it is garenteed that their names wont change .

[2022-05-31 05:19] nam-jaehyun opened #725 "Support both containerd-based and docker-based k3s"
## Feature Request

**Short Description**

K3s supports both docker and containerd, but the deployment YAML file for k3s is built based on containerd-based k3s.
It would be better to have the docker-based k3s YAML file as well.

**Describe the solution you'd like**

when we use 'karmor install', it would be better to check if k3s is installed with docker or containerd and deploy KubeArmor accordin

[2022-06-01 11:19] nthnieljson commented on #613
Hello, I have provided a design document draft regarding this feature
https://docs.google.com/document/d/177jR8CpC6OgqTA8sMyqXfaJitAvreN5XyO-NDm5UKcY/edit?usp=sharing

[2022-06-03 04:46] #215 closed, assigned to DelusionalOptimist

[2022-06-06 14:57] thennarasud opened #728 "logs not generating in karmor log for the applied policies when try to access relative path"
ksp-mysql-audit-dir.yaml:
https://github.com/kubearmor/KubeArmor/blob/main/examples/wordpress-mysql/security-policies/ksp-mysql-audit-dir.yaml
As per above policy, we will get the logs when we access the full path – for absolute path getting logs
i.e #/var/lib/mysql> touch /var/lib/mysql/test

However, no logs are getting generated for the below use case – For relative path no logs
#/var/lib/mysql

[2022-06-06 16:28] nyrahul commented on #484
The [design document](https://docs.google.com/document/d/1dEOABIQ3QBb4f0nKs_YejFmmn9U8ezlge4E-joXQcZ4/edit?usp=sharing) used for BPF-LSM.

[2022-06-09 06:36] rksharma95 opened #733 "snyk test found some issues in kubearmor deployment"
`snyk` reported some vulnerabilities that are found in `kubearmor`. Some of these are high priority issues.
All the reported issues here are common to all the various kubearmor deployments i.e. AKS, EKS, GKE, etc. and the proposed solution for an issue can be generalized for all deployments.

| issue no. |                 vulnerability                 |                                   affected r

[2022-06-09 07:35] nyrahul commented on #733
Hey @rksharma95 , can you please attach the full synk report here as well? Thanks

[2022-06-13 15:11] slayer321 commented on #552
Hey @nyrahul, I applied your above policy. It is getting blocked and I'm also getting the alerts. Is this issue fixed ?
or the issue is with `KubeArmorHostPolicy` and not the `KubeArmorPolicy`

[2022-06-13 15:20] nyrahul commented on #552
I havent tried. However, there were some fixes made in the context. Not sure if it fixed it.
Can you try `karmor install --image kubearmor/kubearmor:v0.3` and check if the same scenario works with this image? It should not.

[2022-06-13 17:25] nyrahul commented on #728
This problem is fixed in latest stable version (v0.4.4) released today. I did a quick tests and all seems fine with the relative paths.
To try the fix, you can do `karmor uninstall` and `karmor install` again and that would install the latest stable.
Another option is to simply delete all kubearmor pods and they will restart with the new stable release.

[2022-06-13 17:39] #728 closed, assigned to nobody

[2022-06-14 06:00] #623 closed, assigned to nthnieljson

[2022-06-14 14:18] slayer321 commented on #552
yes, I tried installing `v0.3` version and can confirm that it is not working. By `kubearmor/kubearmor:stable` we mean the latest release version of KubeArmor right?

[2022-06-15 05:04] DelusionalOptimist commented on #700
@nyrahul @achrefbensaad is someone working on this? If not, can you please assign me? Thanks.

[2022-06-20 10:08] vikasvr commented on #221
/assign

[2022-06-20 16:33] nyrahul commented on #493
@daemon1024 , I think we have the necessary documentation in the context. What is the ask here?

[2022-06-20 19:23] daemon1024 commented on #493
Yup. Closing this. Need to clean up list in https://github.com/kubearmor/KubeArmor/issues/477

[2022-06-20 19:23] #493 closed, assigned to slayer321

[2022-06-20 19:25] #495 closed, assigned to nobody

[2022-06-20 19:28] #494 closed, assigned to nobody

[2022-06-23 03:16] liusy58 opened #742 "How to compile `system_monitor.c` file?"
## How to compile `system_monitor.c` file?

I'm stuck in compiling  `system_monitor.c` file, we command is shown below:

[code]

But I got the following error:

[code]

Any help?

[2022-06-23 06:25] daemon1024 commented on #742
Hey @liusy58

We use [BCC](https://github.com/iovisor/bcc), more specifically [`gobpf/bcc`](https://github.com/iovisor/gobpf) to load and use this file at runtime. [Relevant Code](https://github.com/kubearmor/KubeArmor/blob/7e1810d2ad418655fb0d90760d57c29f8b550422/KubeArmor/monitor/systemMonitor.go#L241).
BCC compiler provides it with the necessary header files and flags to compile the program.

I

[2022-06-23 06:36] liusy58 commented on #742
Yeah, U R right, very happy to see your reply. But I want to get the bytecode of the file `system_monitor.c`, could you please give me some advice?

[2022-06-23 06:43] daemon1024 commented on #742
I am honestly not sure how we can do that with BCC 🤔

But we have a PR migrating away from BCC,
- https://github.com/kubearmor/KubeArmor/pull/677

There's updated code and a makefile under `BPF/` which should help generate the bytecode for you.

You can connect with us on [Slack](https://kubearmor.herokuapp.com/) as well if needed.

Hope it helps ✌🏽

[2022-06-23 07:07] liusy58 commented on #742
Yeah, I follow your instruction and successfully get the binary, another question is why there are three binaries?
[code]

Any difference between them?
Much thank!

[2022-06-23 07:12] daemon1024 commented on #742
They are compiled with different flags for different usecases, and decided by the Userspace which one to load based on configuration.

Also out of curiosity, what's the endgoal for the bytecode? Like what are you trying to do with it 😅

[2022-06-23 07:16] liusy58 commented on #742
Haha~ I'm learning eBPF for fun and want to learn something about bytecode. ;-)
I cannot thank you more for your general help. But are there any other eBPF kernel programs in KubeArmor?

[2022-06-23 09:24] daemon1024 commented on #742
Nice!! Enjoy 😄

Not as of now. Some WIP as part of #484.

[2022-06-23 09:24] daemon1024 commented on #742
Closing this issue! We can continue the conversation in here or on Slack if needed :v:

[2022-06-23 09:24] #742 closed, assigned to nobody

[2022-06-23 14:08] #666 closed, assigned to DelusionalOptimist

[2022-06-24 17:14] nvzard commented on #638
Hey @nyrahul, I can pick this up.

[2022-06-24 17:33] nyrahul commented on #638
Thank you for your interest.

[2022-07-01 13:36] nyrahul opened #750 "policy matching with relative path access has issues with telemetry/alerts"
## Bug Report

KubeArmor requires that you specify an absolute path in the policy rules. However, when the actual access happens with the relative path, the action is honored, but the policy name/severity/message is not populated with appropriate policy details (`defaultPosture` is specified as the policy name).

## General Information

### Environment description (GKE, VM-Kubeadm, vagrant-dev-env

[2022-07-04 05:13] nyrahul commented on #659
KubeArmor support matrix is maintained [here](https://github.com/kubearmor/KubeArmor/blob/main/getting-started/support_matrix.md) and will be updated henceforth.

[2022-07-04 05:13] #659 closed, assigned to nobody

[2022-07-04 05:13] nyrahul commented on #660
@daemon1024 , @nam-jaehyun , can we mark this as done?

[2022-07-04 07:29] nyrahul opened #754 "using configmap and grpc for configuration handling"
## Feature Request

**Short Description**

Kubearmor is provided with the [configuration at invoke time](https://github.com/kubearmor/KubeArmor/blob/8e74a245981a1ad53f4bba014705a331f578efe4/deployments/generic/kubearmor.yaml#L82). This means changing the default configuration is not possible without updating the container image.
Most of [the configuration options](https://github.com/kubearmor/Kube

[2022-07-04 13:47] seswarrajan opened #756 "Minikube Start is failing with latest version of minikube (1.26) and k8s(1.24)"
## Minikube start

**General Information**

- Environment (minikube)
- Kernel version (Linux eswar-LEGION 5.13.0-52-generic #59~20.04.1-Ubuntu SMP Thu Jun 16 21:21:28 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux)

**To Reproduce**

1. Goto contributions minikube.
2. Install minikube and virtualbox using scripts mentioned under contributions/minikube dir.
3. Then run minikube with start_minikube.sh scri

[2022-07-06 04:28] nyrahul commented on #360
Thanks @achrefbensaad for handling this issue. Closing this since this is now tested as well.

[2022-07-06 04:28] #360 closed, assigned to achrefbensaad

[2022-07-06 05:29] DelusionalOptimist commented on #700
@nyrahul @nam-jaehyun @achrefbensaad
The fix for this is simple if we change the apparmor profile naming convention however there are 2 scenarios that need to be addressed:
1. Currently, when new deployments are created, a new apparmor profile for them is created before they're patched with annotations. This has worked fine until now. However, if we change the naming convention to have pod names,

[2022-07-06 06:33] achrefbensaad commented on #700
1- In order to overcome the pod name beeing changed each time. I suggest that we use the deployment name or any high level object name as they dont have the random string suffixed to them, and for static and standalone pods (empty owner reference feild) we can use their names instead.
2- I agree with you, we need to explore more the migration options or we can offer backward compatibility.

[2022-07-06 07:39] DelusionalOptimist commented on #700
Thanks @achrefbensaad. Removing the pod template hash too from the generated name gets us over 1 for deployments :+1:

[2022-07-06 07:54] achrefbensaad commented on #700
@DelusionalOptimist  I think we should impliment a more generic logic ( via owner-reference) in order to support deferent types of K8S resources ( stateful sets, daemon sets, cronjobs, ....) with one logic.

[2022-07-06 08:04] DelusionalOptimist commented on #700
@achrefbensaad agreed. I've actually used owner references in #740 for getting the name of the parent object in all the cases (except static pods). Just that owner reference `name` in case of replica sets (deployment) also contains the the extra pod template hash which was leading to scenario 1.
Will update the PR shortly with the scenario 1 fix so that we have more context.

[2022-07-07 11:27] #660 closed, assigned to nobody

[2022-07-08 05:48] achrefbensaad commented on #733
| Issue no | Synk severity | Adjusted severity | Reasoning |  |
|--|--|--|--|--|
| 1 | High | Meduim | The socket is used to communicate with the runtime to gather necessary informayions on the node , in addition the socket is mounted in readonly mode| N/A (design constraint) |
| 2 | High | High | - | N/A we need privilleged mode to mount the ebpf program to the kernel |
| 3 | Meduim | High | Kube

[2022-07-08 07:05] achrefbensaad opened #763 "Explore and document unix capabilities used by kubearmor and its controllers"
## Feature Request

**Short Description**

We need to explore the capabilities needed by kubearmor and its controllers in order to whitelist them at the kubernetes deployement manifest.
This is related to point  4 in https://github.com/kubearmor/KubeArmor/issues/733

**Is your feature request related to a problem? Please describe the use case.**

We need to explicitly whitelist only the needed cap

[2022-07-08 07:10] achrefbensaad opened #764 "Add health check endpoints for hostpolicy and policy controllers"
## Feature Request

**Short Description**

hostpolicy and policy controllers should expose a health check endpoint.

**Is your feature request related to a problem? Please describe the use case.**

fixes point 13 in https://github.com/kubearmor/KubeArmor/issues/733

[2022-07-08 07:48] achrefbensaad opened #765 "Determine the needed K8S permissions that kubearmor needs to function properly"
## Feature Request

**Short Description**

Kubearmor is running as cluster admin, we should inventory the needed permissions and create a kubearmor role ( leeast privilege principle)

**Is your feature request related to a problem? Please describe the use case.**

fixes point 3 in https://github.com/kubearmor/KubeArmor/issues/733

[2022-07-08 18:54] verma-kunal commented on #756
This seems interesting!
I would love to help out in this @seswarrajan :)

I am new to the **KubeArmor** community & it would be really great if you could guide me a bit or provide some reference pointers on how to get started
Thanks!

Would try to reproduce the issue for starters!

[2022-07-10 00:11] s1ntaxe770r commented on #616
i think i have a solution working over [here](https://github.com/s1ntaxe770r/ektion/) could someone make a PR and try it out?

[2022-07-11 03:59] seswarrajan commented on #756
Hello @verma-kunal
Great Day. Happy to hear your interest in this.

I will assign the issue to you.

[2022-07-11 10:58] daemon1024 commented on #764
I would like to defer this until we handle https://github.com/kubearmor/KubeArmor/issues/241 i.e. Consolidate all controllers to single deployment,

What do you think?

[2022-07-12 09:26] #700 closed, assigned to DelusionalOptimist

[2022-07-13 07:53] Ankurk99 opened #769 "Ignore empty policy"
## Bug Report

**Environment**
KubeArmor running in host	mode

**General Information**
Add check to KubeArmor to ignore accepting blank policies. If a policy ends with "---" KubeArmor currently takes it as an additional empty policy.
It will have issues for eg: If we run KubeArmor in containerized mode then it will create an empty apparmor profile (with name kubearmor_) for that empty policy.

**E

[2022-07-13 07:56] daemon1024 commented on #769
I think we should validate the entire policy, not just limit this check to blanks. Like if the policy has the required fields or not and conforms to our CRD.

[2022-07-13 11:13] #484 closed, assigned to nobody

[2022-07-13 14:13] DelusionalOptimist commented on #750
@nyrahul has this been fixed? I'm getting the correct PolicyName with the latest changes.
![2022-07-13_19-37](https://user-images.githubusercontent.com/54525605/178753940-2001c0fa-9090-4990-8ed7-eca55acb9147.png)

[2022-07-14 05:15] seswarrajan opened #770 "Invalid resource detected in logs/telemetry"
## Invalid resource

**General Information**

- Environment description (GKE, minikube)
- Google microservices

**To Reproduce**

1. Run any cluster
2. Deploy kubearmor
3. Run karmor log --logFilter all to listen on logs
4. Deploy Google microservices demo deployment
https://raw.githubusercontent.com/GoogleCloudPlatform/microservices-demo/main/release/kubernetes-manifests.yaml

**Expected behavior

[2022-07-14 11:39] nyrahul opened #771 "supporting Rancher RKE"
## Feature Request

Kubearmor has not be tested with [Rancher RKE](https://rancher.com/products/rke). The task involves setting up the sample cluster, verifying kubearmor operations on the cluster and making any fixes if necessary.

## Tasks
- [ ] setting up a sample cluster using Rancher RKE
- [ ] installing kubearmor on the sample cluster
- [ ] execute the automated tests on the sample cluster
-

[2022-07-18 05:01] achrefbensaad opened #773 "Update helm chart to support new deployment changes"
Kubearmor release v0.5 introduced the annotation controller as a new component.

The current helm chart does not install the annotation controller.

- [ ] Add init container to kubearmor
- [ ] Add kubeArmorController deployment, svc, role, clusterbing, service
- [ ] Add a secret (tls) that will be used by kubearmor controller, the secret should be generated by helm. (give the user an option to use

[2022-07-18 17:21] slayer321 commented on #769
Hey @daemon1024 , I did like to work on this issue.
Also can you point me to the folder were all the codes related to policy resides .

[2022-07-18 20:25] Ankurk99 commented on #769
The policy matching logic is implemented in feeder/policyMatcher.go

[2022-07-19 10:12] verma-kunal commented on #756
An update on this!
Was a bit caught up in some personal stuff & will be resuming work on this. Will update soon with the progress

[2022-07-20 08:58] #38 closed, assigned to daemon1024

[2022-07-21 04:19] yasin-cs-ko-ak opened #776 "[EKS] panic: runtime error: index out of range [0] with length 0"
## Bug Report

**General Information**

- Environment description - EKS
- Kernel version `Linux arch 5.18.12-arch1-1 #1 SMP PREEMPT_DYNAMIC Fri, 15 Jul 2022 15:33:02 +0000 x86_64 GNU/Linux`

- Orchestration system version in use
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Target containers/pods

**To Reproduce**

1. Instruction
-> `aws eks --region <region-code> upda

[2022-07-21 04:36] daemon1024 commented on #776
I am suspecting here the nodes are not ready!

Can you please share the output for
`kubectl get nodes -owide`
and
Archive generate by
`karmor sysdump`?

Thank You!

[2022-07-26 12:27] nyrahul opened #781 "using non-privileged containers for kubearmor daemonset"
## Feature Request

**Short Description**

Privileged containers are usually frowned upon. Almost every static scanning engine will flag this as an issue. In lot of cases, orgs also deploy admission controllers that would not allow containers to be installed in priviledged mode.

Kubearmor [currently uses](https://github.com/kubearmor/KubeArmor/blob/d6fef36897a751211e1c54780734bd02ee85a28d/deploym

[2022-07-26 12:37] daemon1024 opened #782 "Update KubeArmor peripheral images in CI"
## Feature Request

We only update the `kubearmor/kubearmor` image as part of our CI. But we have other images such as

- [x] kubearmor/kubearmor-annotation-manager
- [x] kubearmor/kubearmor-host-policy-manager
- [x] kubearmor/policy-manager
- [ ] kubearmor/kubearmor-init

Currently we manually build and push these images when an update are needed.

**Describe the solution you'd like**

Add CI to

[2022-07-28 02:27] nyrahul commented on #756
I tried using latest version of minikube with virtualbox driver. I was able to get past initial iso installation and the VM booted up fine. The problem was kubearmor was not starting up due to volume mount paths issue. Also minikube VM does not seem to have certain file paths (`/sys/kernel/security/lsms`) that kubearmor expects to have.

<details>
  <summary>kubectl get pods status</summary>

[cod

[2022-07-28 10:58] nyrahul commented on #776
Can you raise this issue on [kubearmor-client](https://github.com/kubearmor/kubearmor-client)? Thanks.

[2022-07-28 13:39] daemon1024 opened #787 "Lenient Whitelisting Policies"
Let's consider a scenario,

We want to allow service account token access to only `/bin/cat`. But everything else should function as it is.
Can also be interpreted as
Block access to service account token to everyone except for `/bin/cat`

A sample policy for this could be
[code]

But in our current behavior we copy the deny rule to subprofiles, so this policy blocks service account token from `/b

[2022-07-28 15:25] daemon1024 opened #788 "Configure LSM Order"
## Feature Request

We recently introduced BPF LSM for enforcement and current order for checking the LSM to use for enforcement in KubeArmor is

` BPFLSM -> AppArmor -> SELinux `

But this order should be configurable

**Is your feature request related to a problem? Please describe the use case.**

We can have issues with Hybrid Node Setup and might want to have a preference order for the LSMs.

[2022-07-29 02:10] Ankurk99 commented on #769
Hello @slayer321, did you got the time to look into it?

[2022-07-29 04:35] slayer321 commented on #769
Not yet @Ankurk99 , but I'm going to look into issue this weekend

[2022-07-29 07:01] daemon1024 opened #789 "BTF and CORE Support"
## Feature Request

We migrated away from BCC and now we are leveraging libbpf for our eBPF programs.
But we depend on kernel headers to leverage various kernel structures in our programs.
Our BPF System monitor is not portable and we leverage init container to compile our BPF Monitor at runtime.

Kernels where BTF (BPF Type Format) is available, allows us to Compile Once and Run Anywhere (CO-RE)

[2022-07-29 07:36] daemon1024 commented on #776
Should be handled in https://github.com/kubearmor/kubearmor-client/releases/tag/v0.7.12.

Please reopen if any updates or if you have more context for this error.

[2022-07-29 07:36] #776 closed, assigned to nobody

[2022-07-29 07:37] daemon1024 commented on #773
Noting we need to update helm chart for Init Containers as well.

[2022-07-29 07:41] daemon1024 commented on #763
Related #781

[2022-07-29 07:43] daemon1024 commented on #638
Just an update, we recently introduced a workflow to package KubeArmor in CI and install the package in the CI env to validate if packaging and installation works fine. Ref https://github.com/kubearmor/KubeArmor/blob/main/.github/workflows/ci-test-systemd.yml

We could add on to that leveraging our new test framework to test once the installation is successful.

[2022-07-29 07:47] daemon1024 commented on #770
As inferred from our discussion the log event is valid.

[2022-07-29 07:47] #770 closed, assigned to nobody

[2022-07-31 09:18] nam-jaehyun opened #792 "Failed test scenarios on Vagrant Env"
## Bug Report

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
vagrant-dev-next + k3s (-> $ make vagrant-up NETNEXT=1)

- Kernel version (run `uname -a`)
Linux kernel 5.15

**To Reproduce**

vagrant-dev-next $ kubectl proxy &
vagrant-dev-next $ cd KubeArmor/tests

1. test-scenarios-github.sh

vagrant-dev-next $ ./test-scenarios-in-loca

[2022-08-03 05:50] yasin-cs-ko-ak opened #793 "matchPatterns are not working in `action: Block` rule"
## Bug Report

**General Information**

- Environment description - GKE
- Kernel version - `Linux mysql-58cdf6ccf-zp6wm 5.10.109+ #1 SMP Tue May 24 09:08:48 UTC 2022 x86_64 GNU/Linux`
- Orchestration system version in use
[code]
- Link to relevant artifacts
Deployments:-
`kubectl apply -f https://raw.githubusercontent.com/kubearmor/KubeArmor/main/examples/wordpress-mysql/wordpress-mysql-deployment

[2022-08-03 09:25] daemon1024 commented on #793
Hey @yasin-cs-ko-ak,
 We only support patterns for the corresponding process/file paths/dirs.

 For example:
[code]
Is an invalid policy because it contains arguments for the process as well, which shouldn't be part of the policy.

The valid policy here is just
[code]

 Also noting our pattern matching is limited to constructs made available by AppArmor - Ref https://gitlab.com/apparmor/apparmor/-

[2022-08-03 09:27] daemon1024 commented on #793
// @achrefbensaad

Can this handled in the controller? Such constructs shouldn't be accepted by KubeArmor.

[2022-08-03 09:31] yasin-cs-ko-ak commented on #793
That argument is accepted by kubearmor and it's working and generating logs
but only with audit rule.
Is it possible block that argument from executing?

On Wed, 3 Aug 2022, 2:58 pm Barun Acharya, ***@***.***> wrote:

[2022-08-03 09:47] daemon1024 commented on #793
Hey @yasin-cs-ko-ak,

From my understanding it's working with Audit just due to some partial matching with the Resource.

Yes, KubeArmor is accepting the arguements but it shouldn't be accepting them. The way our enforcement system works doesn't enforce based on what arguments are passed just the source and resource of the execution.

We will be fixing this behaviour in the sense that we won't be

[2022-08-03 09:50] yasin-cs-ko-ak commented on #793
Now I understand it. Thanks for the clarification :) I'll let you know if I
have any questions.

On Wed, 3 Aug 2022, 3:17 pm Barun Acharya, ***@***.***> wrote:

[2022-08-03 09:52] #793 closed, assigned to nobody

[2022-08-03 09:53] achrefbensaad commented on #793
@daemon1024  That can be handled via validating webhooks.

[2022-08-03 09:55] daemon1024 commented on #793
Great, @achrefbensaad Could you handle this as part of #794. Thanks!

[2022-08-03 10:07] achrefbensaad commented on #793
@daemon1024 Let's handle it in a seperate PR, as #794 is stricktly for merging the controllers. In addition we need to inventory all the needed checks to properly build the validation logic.

[2022-08-03 13:44] daemon1024 opened #795 "BPF LSM Meta Tracker"
We introduced BPF LSM enforcement in v0.5, which has an initial implementation and has bugs and lacks some features. This issue thread is a tracker for all these pending work items and bug reports.

- [x] #1115
- [ ] does bprm check sec block memfd executions?
- [x] #959
  - [x] #971
- [x] Network - add LSM Socket Accept Enforcement
- [x] Lenient Whitelisting Support
- [ ] Unorchestrated Workloads

[2022-08-04 19:23] nyrahul opened #801 "automating test scenarios in CI"
## Scenarios that needs to be added to [automated test framework](https://github.com/kubearmor/KubeArmor/tree/main/tests)

- [x] syscalls audit #737 (effort medium)
- [x] TCP connect, accept handling #779 (effort low)
- [x] bpflsm #741 (effort high)
- [x] [namespace based posture](https://github.com/kubearmor/KubeArmor/wiki/KubeArmor-version-release-v0.3#default-security-posture-daemon1024) (effor

[2022-08-05 04:54] DelusionalOptimist commented on #653
3 calls seem to be really expensive and constitute most of the CPU Usage:
* Loop to read perf buffer ([Ref](https://github.com/kubearmor/KubeArmor/blob/11a5fa4bfe9f4360be8cf26be47dd0682c8089a6/KubeArmor/monitor/systemMonitor.go#L328))
* Readlink to get execpath while building logbase ([Ref](https://github.com/kubearmor/KubeArmor/blob/11a5fa4bfe9f4360be8cf26be47dd0682c8089a6/KubeArmor/monitor/proce

[2022-08-07 17:38] daemon1024 commented on #787
- [x] TODO - Add Support in BPF LSM
Ref #795

[2022-08-07 17:51] daemon1024 commented on #792
I believe we can close this issue, since it's not reproducible anymore.
// @nam-jaehyun

[2022-08-08 03:33] wazir-ahmed opened #803 "Debian 11 - `linux-headers` package does not have kconfig file"
**Environment** - Self-managed k8s with Debain 11 (Bullseye)

**Kernel Version**
[code]

**Problem**
The code ([KubeArmor/BPF](https://github.com/kubearmor/KubeArmor/tree/main/KubeArmor/BPF)) depends on files like `Kconfig` and `kconfig.h` which we get from the `linux-headers` package. Without the presence of these `kconfig` files, the `kubearmor-init` container will fail.

**Issue** - The `kconfi

[2022-08-08 03:35] wazir-ahmed commented on #803
@daemon1024 @nyrahul Is it possible to use the `linux-headers` package from the Ubuntu repository in Debain OS? The Ubuntu version of the package has the `kconfig` files.

[2022-08-09 10:09] nyrahul opened #804 "profiling of observability data and dropping predefined file access patterns in kernel space"
## Feature Request

Kubearmor currently report calls the `open()`, `openat()` system calls to the user space. Most of these accesses are in /proc, /sys, and other system directories. There is no point in reporting individual accesses to these folders in the telemetry.

This issues requires one to pass a predefined set of folder paths (not patterns, just absolute paths), and when we receive a ebpf-

[2022-08-09 12:58] nyrahul opened #805 "supporting GKE autopilot"
## GKE Autopilot Support
Tried installing kubearmor on GKE autopilot cluster and it failed with following output:
[code]

[2022-08-09 13:27] PrimalPimmy commented on #771
I'd like to work on this issue!

[2022-08-10 08:17] aishwarya25252 commented on #801
Can I take up this issue ? This will also help me learn more about ginkgo and kubearmor code base . Thanks

[2022-08-10 15:40] michalschott opened #808 "Segmentation fault"
## Bug Report

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
- Kernel version (run `uname -a`)
- Orchestration system version in use (e.g. `kubectl version`, ...)
- Link to relevant artifacts (policies, deployments scripts, ...)
- Target containers/pods

EKS 1.22
Bottlerocket OS 1.9.0 (aws-k8s-1.22)
kernel 5.10.130
containerd://1.6.6

[2022-08-10 15:42] nyrahul commented on #808
Thank you @michalschott for reporting this. Any chance you have the cluster deployment yaml that we can use to mimic this cluster creation? Thanks

[2022-08-10 17:47] kaiquerass commented on #629
Hey guys, any update on this issue? Would be great to have this implemented.

[2022-08-11 03:30] nyrahul commented on #629
As of now we haven't planned this in v0.6 ... v0.6 is anticipated by the end of August, so backlog grooming for v0.7 is in progress. We can possibly take this up v0.7. Do you have any specific use-cases you can quote in the context? We have our [community meeting](https://github.com/kubearmor/KubeArmor/#community) today and we will discuss it there (will be great if you can be part of it). Thanks

[2022-08-11 12:59] kaiquerass commented on #629
Sure!
Today we have microservices using different languages, so I'm able to apply specific language policies, using matchLabels. ex: `backend: kotlin`, `backend: golang`

But on the other hand, we have some policies that apply to all backend services, for example, accessing `/etc/passwd `files, or `/proc/1/environ`.
In this case, we had to create another label on our deployments, making changes on

[2022-08-11 13:16] sahilsarawagi commented on #789
Hey @daemon1024, came to know about this project from the cncf repository. I am really interested in working on this project. Would you please guide me on how I can start contributing to this project.

[2022-08-11 16:30] PrimalPimmy commented on #771
So these 3 processes were not initializing properly and here are the logs (they have the same error) when testing on Rancher RKE:
<details>
  <summary>kubearmor-xg9bt</summary>

[code]
</details>

<details>
<summary> kubearmor-hrc6f</summary>

[code]

</details>

<details>

and <summary>wordpress-mysql blocked logs:</summary>

[code]
</details>

[2022-08-11 17:56] nyrahul opened #809 "insufficient allocation for ebpf perf buffers to handle event burst"
## Feature Request

**Short Description**

Currently, we see a loss of perf buffer events even with modest workloads. Currently, we use a ebpf perf buffer size of 1024 * 4 ([ref](https://github.com/kubearmor/KubeArmor/blob/64635aca1105ab85ea63cd167e85cee21cbfcf20/KubeArmor/BPF/system_monitor.c#L164)).

In the case of event burst, the perf buffer is fully utilized before any of the events are consu

[2022-08-11 20:24] nyrahul commented on #808
Hey @michalschott , we figured out the reason for this segmentation fault. We had faced this issue before with GKE COS k8s clusters as well and the issue is related to BCC dumping core. The kubearmor eventually starts up ok after few attempts i.e. BCC recovers eventually.

In the latest kubearmor code, we have removed BCC dependency altogether (#677) and we do not see this problem anymore. However

[2022-08-12 05:50] daemon1024 commented on #789
Hey @sahilsarawagi, Thanks for the interest.

I would suggest going through [CONTRIBUTING.md](https://github.com/kubearmor/KubeArmor/blob/main/CONTRIBUTING.md ) for ways to get involved and experiment with KubeArmor meanwhile. If you have any specific queries feel free to shoot em on the [KubeArmor Slack](https://kubearmor.herokuapp.com/).

[2022-08-12 09:08] achrefbensaad commented on #782
@daemon1024  kubearmor/kubearmor-init already included in kubearmor/kubearmor ci.

[2022-08-12 10:41] #782 closed, assigned to achrefbensaad

[2022-08-12 13:10] AllMight2099 commented on #754
Hey there!
I'd like to work on this issue

[2022-08-12 13:12] AllMight2099 commented on #616
Hey there!
I'd like to take up this issue since it's unassigned

[2022-08-12 14:46] kaiquerass opened #812 "defaultPosture configuration is not being respect, audit is configured but it's generating block events."
## Bug Report

**General Information**

- GKE 1.22

**To Reproduce**

1. Include this configuration in the yaml file:
[code]

**Expected behavior**
defaultPosture configured to audit.

Pod's logs shows the configuration is corrected and is applied:
[code]

I expected to see only audit events, but I'm seeing many block events with defaultPosture policy, as shown below.

[code]

[2022-08-12 14:52] daemon1024 commented on #812
Hey @kaiquerass,  Thank You for reporting this.

Can you share the policies applied in the cluster? Also if possible sharing the dump created by [`karmor sysdump`](https://github.com/kubearmor/kubearmor-client) if you are comfortable doing so.

[2022-08-12 15:06] kaiquerass commented on #812
sorry, I fogot to mention this.

[code]

[2022-08-12 15:19] daemon1024 commented on #812
@kaiquerass
The defaultPosture you used in the configuration only is relevant when you have any `Allow` Policy or the rules are whitelist and not blacklist. This was introduced because Whitelists are difficult to handle and can cause implicit denies.
More about it at https://github.com/kubearmor/KubeArmor/blob/main/getting-started/default_posture.md

But as the policy mentions an explicit block, `

[2022-08-12 15:32] kaiquerass commented on #812
Just to check if I understood. KubeArmor will send an event, even if it's not KubeArmor that is blocking.
But it's weird because we don't have any system like AppArmor. KubeArmor is the only one.

[2022-08-12 15:34] daemon1024 commented on #812
Yes 😅

Just to confirm do you see these alerts even if no policy is applied?

[2022-08-12 18:33] kranurag7 commented on #781
Results of scans from kubescape & trivy

<details>
  <summary>kubescape scanning </summary>

### [kubescape](https://github.com/armosec/kubescape) scanning
`kubescape scan --enable-host-scan`
[code]

</details>

<details>
  <summary>trivy scanning </summary>

### [trivy](https://github.com/aquasecurity/trivy) scanning
`trivy k8s -n kube-system --report=summary all`
[code]
</details>

**Note:** Res

[2022-08-12 18:35] nyrahul commented on #754
Thank you for the interest. Any questions, we are on [slack](https://github.com/kubearmor/KubeArmor/#slack).

[UPDATE]: Rescinding since you have already selected another issue.

[2022-08-12 18:40] kaiquerass commented on #812
I couldn't see the same alert when I deleted the policy, but I see other alerts. This means there is something somehow blocking outside KubeArmor.

It would be awesome to have a different type on this alerts.
The grafana dashboard is useless since I can't filter alerts per policy.
The only metric useful is `kubearmor_alerts_with_policy_total`, because I can filter only my policies.
Maybe is import

[2022-08-13 19:00] #693 closed, assigned to Ankurk99

[2022-08-15 06:25] s1ntaxe770r commented on #754
@nyrahul  I would like to work on this

[2022-08-15 12:52] daemon1024 commented on #803
@wazir-ahmed Is this issue relevant to KubeArmor stable image as well? In the deployment where we use BCC and no init container?

[2022-08-15 13:29] kaiquerass commented on #812
hey @daemon1024, just some updates:

actually, this defaultPosture shown in events, is KubeArmor blocking the access. Today we had an incident with many pods/deployments being blocked in the startup. We had istio deployment being blocked, and this has and direct impact in our backend applications, because there's an istio init container running on them. Blocking istio init container, blocked our a

[2022-08-16 10:12] nyrahul commented on #812
Hey @kaiquerass , is this problem reproducible? Can you specify the steps to reproduce? We will try it out and check what happens.

[2022-08-16 12:16] michalschott commented on #808
Hey @nyrahul indeed it eventually recovers, thanks for an update. Looking forward for 0.6 release!

[2022-08-17 05:07] #787 closed, assigned to daemon1024

[2022-08-17 05:08] nyrahul commented on #750
Closing this issue since this does not seem to be a problem anymore based on test results.

[2022-08-18 11:20] achrefbensaad opened #824 "add Syscall based policy constructs"
We want to our policies to alert for syscalls made on the system.

[code]

[2022-08-18 12:54] r0binak opened #826 "Containers restart after Kuberarmor install"
## Bug Report

**General Information**

As far as I know, prior to version 0.5, deployments were edited manually to apply the required annotation for KubeArmor. But this method is not applicable, for example, when using a database inside a container. The data was frayed, as a result, the database was corrupted. After version 0.5, annotations were added using the admission controller, which in fact

[2022-08-18 13:06] PrimalPimmy commented on #765
I'd like to work on this issue!

[2022-08-18 16:21] nyrahul commented on #826
@achrefbensaad , can you please look into this? Thanks

[2022-08-19 08:39] r0binak commented on #826
its look like mutating webhook not worked

[2022-08-19 08:41] achrefbensaad commented on #826
@r0binak , can you further explain ?
did the mutation webhook add the required annotation ?

[2022-08-19 08:43] r0binak commented on #826
yes, added. but at the same time the pods restarted

[2022-08-19 08:53] achrefbensaad commented on #826
a restart just after a pod is just created is an expected behavior. is that your case, or the pod get retarted after a long period of time ?

[2022-08-19 09:11] r0binak commented on #826
hmm, strange .. I thought after updating 0.5 the pods will not be restarted. in my case, the pods restart immediately after installing KubeArmor. in this case, KubeArmor cannot be used when running databases in containers - the database schema is frayed and collapses. what to do in this case?

[2022-08-19 09:31] achrefbensaad commented on #826
Ill try to reproduce it and get back to you.

On Fri, 19 Aug 2022, 10:11 Sergei K., ***@***.***> wrote:

[2022-08-19 09:33] r0binak commented on #826
i am using postgres as database. my application communicates with postgres

[2022-08-20 08:50] daemon1024 opened #836 "KubeArmor Telemetry Monitoring and Dashboards"
## Feature Request

KubeArmor emits a lot of telemetry events with Logs and Alerts. But consuming and making sense out of these telemetry events might be hard. There's a need for parsing these telemetry, generate relevant metrics, allow filtering the data and create graphs and visualise it i.e. create an entire dashboard which makes the kubearmor telemetry data easy to consume.

We recently added

[2022-08-20 11:33] Shivansh-yadav13 commented on #756
hello, I am new to KubeArmor, I'm not sure if my problem is related to this issue,
I am installing KubeArmor on minikube but it is taking a long time to run a pod
and is showing

with latest minikube

[code]

[2022-08-20 12:19] kranurag7 commented on #836
@daemon1024 I would love to work on this issue.

[2022-08-20 15:32] slayer321 commented on #824
Hey @achrefbensaad , can I work on this issue.

[2022-08-20 21:17] nyrahul commented on #836
Awesome!

[2022-08-21 04:33] Chinwendu20 opened #837 "Create Gitpod for project"
## Feature Request

**Short Description**

One of the many challenges new contributors face is setting up their dev environment. I believe that if we could set up a Gitpod environment, it would help new contributors, a great deal with getting started

[2022-08-21 04:44] kranurag7 commented on #837
@Chinwendu20 You can use the already built [template](https://github.com/gitpod-io/template-k3s) by Gitpod community which is based on k3s. After that, you can use the k3s [deployment](https://github.com/kubearmor/KubeArmor/tree/main/deployments/k3s) method to proceed ahead.

[2022-08-21 05:36] Chinwendu20 commented on #837
Thanks @kranurag7 . I would be working on this now

[2022-08-21 06:25] Chinwendu20 commented on #769
Hi @slayer321 are you still working on this? I am a first timer and I am looking for good first issues to work on

[2022-08-21 07:48] Ankurk99 commented on #769
Hi @Chinwendu20, glad to see your interest. There are multiple good-first issues looking for help in KubeArmor. You may take a look at them https://github.com/kubearmor/KubeArmor/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22

[2022-08-21 09:28] daemon1024 commented on #769
The fix in client would only be a partial fix, the CLI tool is just one of the possible client, but the gRPC server for KubeArmor is exposed and any one could leverage the gRPC endpoint to send policies. We should have validation of policy values inside our code as well. WDYT?

[2022-08-22 04:04] achrefbensaad commented on #826
@r0binak , I was able to re-create the issue. Let me bring this issue to the community and get back to you with a concreate answer.

[2022-08-22 04:15] achrefbensaad commented on #809
Fixed
Related PR's:
- https://github.com/kubearmor/KubeArmor/pull/816 @DelusionalOptimist
- https://github.com/kubearmor/KubeArmor/pull/818 @daemon1024

[2022-08-22 04:15] #809 closed, assigned to nobody

[2022-08-22 04:17] achrefbensaad commented on #824
@slayer321, I am already working on this issue https://github.com/kubearmor/KubeArmor/pull/806.

[2022-08-22 04:19] Ankurk99 commented on #769
Yes, that makes sense, I missed exposing KubeArmor API point. Thanks for pointing.
Hey @Chinwendu20, I am assigning you the issue. Feel free to contact us on KubeArmor

[2022-08-22 06:03] Ankurk99 opened #838 "Support BPF-LSM enforcement in containerized workloads"
## Feature Request

**Short Description**

Currently KubeArmor only supports AppArmor for enforcement in containerized workloads. We need to support BPF LSM too in this mode.

**Describe the solution you'd like**

Support BPF LSM enforcement in containerized mode.

[2022-08-22 08:11] Chinwendu20 commented on #769
Okay thanks a lot. I would get right on it

[2022-08-22 10:41] achrefbensaad opened #840 "Disable kubearmor annotation fallback logic when annotation controller is active."
## Feature Request

**Short Description**

We want to prevent kubearmor fallback logic from executing when the annotation controller is present.

**Describe the solution you'd like**

~~The annotation controller will add to any new deployment the label `kubearmor-policy: enabled` and add a check in the fallback logic to not run if that annotation exist at the deployment level.~~

KubeArmor fallbac

[2022-08-22 10:42] achrefbensaad commented on #826
@r0binak we have identified the root cause of the probem and we have opened the following issue to fix it https://github.com/kubearmor/KubeArmor/issues/840

[2022-08-22 10:46] r0binak commented on #826
thanks. I will wait for the fix

[2022-08-22 12:54] #241 closed, assigned to achrefbensaad

[2022-08-22 15:25] DelusionalOptimist commented on #653
@nyrahul @daemon1024 I think we have made some improvements as compared to v0.5 with the merged PR.
![Screenshot from 2022-08-22 20-10-49](https://user-images.githubusercontent.com/54525605/185949769-d4ad0111-f752-4607-be17-1117106cbd19.png)
![Screenshot from 2022-08-22 20-13-45](https://user-images.githubusercontent.com/54525605/185949757-cd62d1e6-968f-4cae-9bcb-4ffb640fe0bd.png)

Here is a profi

[2022-08-22 16:15] daemon1024 opened #841 "Handling Dependency Updates"
Ideally we should updating go deps for KubeArmor frequently to avoid any security complications. We could have used [Github's dependabot](https://docs.github.com/en/code-security/dependabot) but it [doesn't support go pseudo versions](https://github.com/dependabot/dependabot-core/issues/3017) ( versioning with commit hashes ).

How about we use [rennovate bot](https://www.mend.io/free-developer-to

[2022-08-22 16:36] nyrahul commented on #653
I think we should take this for v0.6 and then plan how we can improve further for v0.7.

We have certain things in mind, primarily: absorbing kernel events in kernel space and sending out only summarized output for a interval in an event (this is a big task)

[2022-08-22 17:52] daemon1024 opened #842 "Found Data Races in KubeArmor"
## Bug Report

**General Information**

- Environment description - vagrant
- Kernel version (run `uname -a`) - Linux kubearmor-dev-next 5.15.0-46-generic #49-Ubuntu SMP Thu Aug 4 18:03:25 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

**To Reproduce**

1. `go build -race -o kubearmor main.go` or modify the build target in Makefile to include `-race` flag
2. make run

**Expected behavior**

No data race

[2022-08-22 18:39] kaiquerass commented on #812
I'm not sure if it's reproducible, because I installed KubeArmor using default settings, and it's a problem involving many other technologies. But, these are the affected technologies and the versions, respectively.

Istio: 1.9.8
Grafana: 8.5.6 (623255cf2d)
Prometheus: 2.33.3
Thanos: 0.25.0

The problem:
First, we've seen some istio sidecars being blocked. After a while, the istiod deployment was

[2022-08-23 06:27] daemon1024 opened #844 "Github PR template"
We should assosciate a checklist with each Pull Request prompting reviewers and the contributor to go through them before changes can be merged.

Some points to include that I can think of:
- Github Issue/PR Link ( Create if none )
- Reason for Change ( might be covered by issue, but still should have a TLDR )
- Implementation details
- Commit hygiene
- Manual Tests Checklist
- Are the changes cov

[2022-08-23 06:34] daemon1024 opened #845 "CI Test Coverage Calculation"
## Feature Request

We should calculate test coverage for tests across all the CI test suites we run.

**Is your feature request related to a problem? Please describe the use case.**

Currently each coverage calculation is overwritten by the new coverage data in subsequent test suites in a PR.

**Describe the solution you'd like**

Uploading coverage data to codecov in a seperate job extractiong i

[2022-08-23 06:57] Ankurk99 opened #846 "Add support for Fedora CoreOS"
## Feature Request

**Short Description**
Fedora CoreOS is an automatically updating minimal OS specifically designed to run containerized applications.
With v0.5.5 release KubeArmor added support for containerized workloads and Fedora CoreOS is an ideal candidate to test the use-case.
Note: Fedora CoreOS [supports BPF LSM](https://github.com/nyrahul/linux-kernel-configs#lsm-support), so we should

[2022-08-23 12:01] nyrahul opened #848 "kubearmor-community Release Maker (RM) role"
KubeArmor release cycle is roughly 1 month i.e., every 1 month we intend to release a new version.
Creating a new version requires one to identify if all the issues and PRs in the corresponding version milestones are handled.
Someone needs to followup with individual PR owners and reviewers about finishing their work.
Secondly, the release process has to be followed that involves creating a new br

[2022-08-23 13:22] daemon1024 opened #850 "Differentiate Permission Denied Events by KubeArmor and other factor"
## Feature Request

KubeArmor Observability and Enforcement Engines/Modules work independently today. We try to match Permission Denied Events with our Policy set, if matched send Alert with policy context, else we mention the alert as "DefaultPosture"

We cannot match all the events to a policy, like it's really hard to match WhiteListing policy events. And the DefaultPosture Alert in this case m

[2022-08-23 13:31] daemon1024 opened #851 "Handle KubeArmor container termination gracefully"
## Bug Report

KubeArmor container doesn't clean up resources properly when uninstalled. This only happens when KubeArmor runs in containerised environment and not in systemd/process mode.

**General Information**

- Environment description (GKE, VM-Kubeadm, k3s, docker ...)
- Target containers/pods - KubeArmor

**To Reproduce**

With AppArmor:
1. Install KubeArmor in k8s
2. Setup Policies
3. karm

[2022-08-23 14:19] #792 closed, assigned to nobody

[2022-08-23 19:41] achrefbensaad opened #855 "CI failures when using crio + k3s on ubuntu 22.04"
## Bug Report

**General Information**

Our CI fails when using k3s+ crio on ubuntu 22.04.

**Work needed**

- [ ] Investigate the root cause of the failure
- [ ] Impletent the fix in our installation scripts
- [ ] Add ubuntu 22.04 to our ci

[2022-08-23 19:44] anonymousr007 commented on #789
Hello Sir,

I am Rishabh, an undergraduate computer engineering student at Delhi Technological University. I am interested in this project of Mentorship of LFX. Can you please share further information? How can we be selected for mentorship and also contribute to this project?

Skills: C, C++, Python, Golang (Intermediate)
DevOps: Linux, Computer Networks, Yaml, Kubernetes (Basics), Docker (Basics

[2022-08-23 19:50] anonymousr007 commented on #845
Hello,

I am new in KubeArmor, I saw this is a `good first issue`. So this is perfect for me as a beginner. Can you please guide me more about that issue? I am also interested in this project #789.

Thanks & Regards
Rishabh

[2022-08-23 20:11] PrimalPimmy commented on #653
So I ran kubearmor with GKE microservices-demo and observed the log outputs. I took 3 logs, each of 5 minutes, and then filtered the logs based on Operation: File, to check which file is being accessed. I also counted how many times a file is accessed in a log..
[code]

The numbers represent the number of times the file was accessed in a log. I think /sys can be filtered out just like how /proc is

[2022-08-23 21:28] MayankMittal1 commented on #789
Hey,
I'm Mayank, CSE undergrad from IIT Roorkee, India. I came across this project and would love to work on it as a mentee in LFX fall term. Please help me getting started by pointing some good issue I could take up before this.
Thanks!

[2022-08-24 04:19] s1ntaxe770r commented on #855
Would be helpful to add steps to reproduce the failure

[2022-08-24 06:01] daemon1024 commented on #789
Hey @anonymousr007 and @MayankMittal1, Glad to see y'all interested to working on this. As I mentioned in the earlier comment, I would suggest going through [CONTRIBUTING.md](https://github.com/kubearmor/KubeArmor/blob/main/CONTRIBUTING.md) for ways to get involved.

Please make sure to apply for this project on the LFX Mentorship portal with your application, We will make our decisions based on y

[2022-08-24 06:05] daemon1024 commented on #845
Hey @anonymousr007, This issue would require familiarity with Github Actions in general. Github has an excellent documentation about Github Actions @ https://docs.github.com/en/actions.

Our coverage calculation, sends the coverage data to codecov in the test suite here https://github.com/kubearmor/KubeArmor/blob/b38a0a59362d100bad7e8d6db36ed3c7f89a06e5/.github/workflows/ci-test-local.yml#L72-L85.

[2022-08-24 09:33] ahsenkamal commented on #781
Hey folks, came here from the LFX mentorship projects and I'd like to contribute to this. Any help on where to get started?

[2022-08-24 12:41] ravkishu opened #858 "KubeArmor Init:CrashLoopBackOff on Amazon EKS"
## Bug Report
KubeArmor is going in `Init:CrashLoopBackOff` when trying to install using `karmor` on Amazon EKS

**General Information**

#### Environment description:
- K8s Cluster: **Amazon EKS**
- Kernel Version: **5.4.204-113.362.amzn2.x86_64**
- OS: **Amazon Linux release 2 (Karoo) x86_64**
- Packages: **349 (rpm)**
- Node Version: **v1.22.12-eks-ba74326**
- Container Runtime: **docker://20.1

[2022-08-24 12:54] anonymousr007 commented on #845
Hello @daemon1024, Thanks for assigning me this issue.
I would like to ask a question about this issue.
- Is This YAML file code a separate job in the same file? File Name: [KubeArmor/.github/workflows/ci-test-local.yml](https://github.com/kubearmor/KubeArmor/blob/b38a0a59362d100bad7e8d6db36ed3c7f89a06e5/.github/workflows/ci-test-local.yml#L72-L85)

[2022-08-24 13:27] daemon1024 commented on #845
This is a step of the job `build`, we want to move it to a separate job, yes.
https://docs.github.com/en/actions/learn-github-actions/understanding-github-actions#understanding-the-workflow-file

[2022-08-24 16:11] nyrahul commented on #858
[karmor-sysdump-Wed Aug 24 12_07_32 UTC 2022.zip](https://github.com/kubearmor/KubeArmor/files/9417750/karmor-sysdump-Wed.Aug.24.12_07_32.UTC.2022.zip)

Attaching the corresponding sysdump that @ravkishu sent me on slack.

[2022-08-25 05:27] seswarrajan opened #859 "Extract cluster-name from client go APIs"
## Extract cluster-name in kubearmor using client go API

**General Information**

- Any k8s environment

**To Reproduce**

1. Deploy KubeArmor in any k8s cluster
2. Now run karmor log --logFilter all in a new terninal.
3. Observe the logs

In output of karmor logs, the cluterName for each log is set to **default**

**Expected behavior**
The log/alerts to have a valid cluster-name. For ex: in the

[2022-08-25 15:33] s1ntaxe770r commented on #859
This might a bit tricky and it's related to this issue
https://github.com/kubernetes/kubernetes/issues/44954

[2022-08-25 18:54] #851 closed, assigned to daemon1024

[2022-08-26 18:07] #764 closed, assigned to nobody

[2022-08-29 05:48] achrefbensaad opened #865 "v0.6 manual test on different managed platforms"
## Feature Request

**Short Description**

We should test

- [x] AMZ2
- [x] AWS bottlerocket
- [x] GKE
- [x] AKS
- [x] EKS

Removing BCC dependency might have impact on all these platforms and needs to be validated.

[2022-08-29 12:01] anonymousr007 commented on #845
Hello @daemon1024, I make a WIP-PR. You guide me in it. Thanks.

[2022-08-29 12:46] nyrahul commented on #865
@achrefbensaad , in the GKE env, the kubearmor annotations controller is in CrashLoopBackOff.

[code]

[2022-08-30 05:02] s1ntaxe770r commented on #865
5/6 tests are failing on AKS

Kubernetes version: 1.23.8
Kubearmor image: latest

![image](https://user-images.githubusercontent.com/53065463/187353281-8a7fc70c-91d4-4fd2-95fd-30dc429f7587.png)

sys dump
[karmor-sysdump1991625924.zip](https://github.com/kubearmor/KubeArmor/files/9449966/karmor-sysdump1991625924.zip)

[2022-08-30 07:30] s1ntaxe770r commented on #865
Update: all tests have passed on AKS
<img width="979" alt="image" src="https://user-images.githubusercontent.com/53065463/187376672-4dd0b567-4198-4a6b-9827-1653587558a5.png">

[2022-08-31 05:42] #824 closed, assigned to achrefbensaad

[2022-08-31 07:15] #826 closed, assigned to achrefbensaad

[2022-08-31 07:15] #840 closed, assigned to achrefbensaad

[2022-08-31 07:27] achrefbensaad commented on #826
@r0binak, The fix will go live in v0.6.

[2022-08-31 09:01] #803 closed, assigned to wazir-ahmed

[2022-08-31 09:04] daemon1024 commented on #865
With the recent merge of #853 I would suggest to retest on said platforms! Thank You 😁

[2022-08-31 09:04] r0binak commented on #826
thanks!

[2022-08-31 11:09] achrefbensaad commented on #865
BTF works on GKE
![image](https://user-images.githubusercontent.com/25206910/187665213-30a7a005-1c71-4871-8516-8f579e8a1074.png)

[2022-08-31 11:19] achrefbensaad commented on #865
v0.6 works on GKE

[2022-08-31 18:40] achrefbensaad opened #870 "Support enforcement for init containers"
## Feature Request

**Short Description**

KubeArmor does not enforce security policies on init containers.

**Describe the solution you'd like**

KubeArmor enforce security policies on init containers.

- [ ] Update KubeArmor
- [ ] Update Annotation Controller
- [ ] Update KubeArmor Controller
- [ ] Discuss how to automate tests for init containers

[2022-09-01 03:23] seswarrajan commented on #855
@achrefbensaad I even faced the issue with K3S in my local ubuntu 22.04 setup. Relay is not able to connect to kubearmor and hence logs are not sent out from relay.
Solution to this is that allow/add port 32767 to firewall rules. Can you try that once.

I added allow rule for port using **sudo ufw allow 32767**  or firewall can be disabled using **sudo ufw stop**

[2022-09-01 08:34] achrefbensaad commented on #865
v0.6 works on EKS AMZL2.

[2022-09-01 09:35] Ankurk99 commented on #865
Tested v0.6 on Amazon Bottlerocket, working fine :+1:

[2022-09-01 09:35] Ankurk99 commented on #865
I think all the tests are covered, should we close the issue?

[2022-09-01 12:04] #865 closed, assigned to nobody

[2022-09-01 16:57] AllMight2099 commented on #638
Hi there!
I'd like to work on this issue if it's still available

cc: @nvzard @daemon1024

[2022-09-01 23:12] nvzard commented on #638
Hey,

Sorry I got occupied and am not working on this anymore. You can pick it up.

On Thu, 1 Sep 2022 at 10:27 PM, Nishanth R ***@***.***> wrote:

--
Thanks & Regards
Nitanshu Vashistha

[2022-09-02 07:13] daemon1024 commented on #845
Hey @anonymousr007 Can you link me the PR? I cannot seem to find it.

[2022-09-02 09:13] achrefbensaad commented on #771
RKE is now supported in kubearmor v0.6.

[2022-09-02 09:13] #771 closed, assigned to PrimalPimmy

[2022-09-02 09:18] daemon1024 commented on #858
@ravkishu
According to our recent tests on the same platform with latest image, it seems to work fine! Ref https://github.com/kubearmor/KubeArmor/issues/865

If you are still facing the issue, Can you share the any one of the crashed kubearmor container logs (the attached sysdump doesn't have it) and how to recreate it.
else we can close the issue.

[2022-09-02 10:01] nyrahul commented on #858
This has been verified to be working by doing a joint debugging. Thanks @daemon1024 @ravkishu
Closing the issue.

[2022-09-02 10:01] #858 closed, assigned to nobody

[2022-09-02 11:21] AllMight2099 commented on #638
@daemon1024 Do we want the gh action to check for one sample policy or all sample policies from the examples?

[2022-09-02 11:24] daemon1024 commented on #638
We want to run the smoke test in it's entirety I believe. You can check how we run smoke tests in this YAML https://github.com/kubearmor/KubeArmor/blob/23f39cfa09e58737860dd7b290f61ceb82257fab/.github/workflows/ci-test-ginkgo.yml#L60

Smoke test suite is available under `tests/smoke`

[2022-09-02 11:36] achrefbensaad opened #875 "Code refactoring: remove annotation, policy and host policy controllers from kubearmor code base"
## Feature Request

In v0.6 we have merged all the controllers into one controller called `KubeArmorController`.

In v0.7 we aim to completely remove the controller form kubearmor and all related projects.

- [x] Create Clientset for `KubeArmorController`
- [ ] Identify controllers dependency (deploygen, kubearmor-client, discovery engine, ...)
- [ ] Update the dependent projects with the required

[2022-09-02 11:49] daemon1024 opened #876 "Improve CRI Socket detection and mounting"
## Feature Request

Currently we detect the various env configuration on the kArmor client side and mount the CRI Sockets accordingly. But these detections are not always right.  Suppose if it's a k3s or gke cluster we set a particular socket. But it's possible that they are configured with a different socket. And kubearmor would fail to run in this case.

**Describe the solution you'd like**
Moun

[2022-09-02 12:37] michalschott opened #877 "Occasional "exec format error""
Original issue report - https://github.com/bottlerocket-os/bottlerocket/issues/2352 - I'm creating it here as well as I have a feeling kube-armor might be causing the issue.

TL;DR
EKS 1.22, Bottlerocket Linux, kubearmor 0.5.5.

Investigation showed up that sometimes containers have corrupted entrypoint as per https://github.com/bottlerocket-os/bottlerocket/issues/2352#issuecomment-1231274440

Thi

[2022-09-02 15:12] anonymousr007 commented on #845
Please review it

[2022-09-05 04:31] rksharma95 commented on #846
we cannot install packages in `/usr/local` in Fedora CoreOs.
```Importing package 'kubearmor': Analyzing /usr/local/bin/karmor: Unsupported path; ```
see https://github.com/projectatomic/rpm-ostree/issues/233

[2022-09-05 08:56] wazir-ahmed opened #879 "KubeArmorHostPolicy causing cilium-node-init pods to fail"
### Summary
Even after user deletes [this KubeArmorHostPolicy](https://github.com/kubearmor/KubeArmor/blob/main/examples/host-security-policies/hsp-kubearmor-dev-proc-path-allow-fromSource.yaml), the `cilium-node-init` pods are in `CrashLoopBackOff` state as if the policy is still enforced in the host.

### Details
- Environment -  `GKE`
- K8s               - `v1.21.14-gke.700`
- KubeArmor   - `st

[2022-09-05 09:27] seswarrajan commented on #879
[karmor-sysdump-Mon Sep  5 14_56_08 IST 2022.zip](https://github.com/kubearmor/KubeArmor/files/9488581/karmor-sysdump-Mon.Sep.5.14_56_08.IST.2022.zip)

[2022-09-06 05:56] s1ntaxe770r opened #880 "Support KubeArmor on M1"
## Feature Request
Support KubeArmor on M1 Macs

**Short Description**
With #802 we should be able to bring KubeArmor to the following environments on Mac

**Describe the solution you'd like**

With #802 we should be able to bring KubeArmor to the following environments on Mac

- Test ARM based VM's on Mac
- Minikube on M1

Additionally relevant documentation should be updated once KubeArmor is ab

[2022-09-07 20:58] DelusionalOptimist commented on #855
@achrefbensaad this might be happening because currently we have crio v1.19 hardcoded in the setup script - [ref](https://github.com/kubearmor/KubeArmor/blob/e65a5d551f1a95724e368496a2fd234914e71a0f/contribution/self-managed-k8s/crio/install_crio.sh#L13). However crio v1.19 doesn't have a package for Ubuntu 22.04. So when I tried, it failed at the setup k8s step - [ref](https://github.com/Delusion

[2022-09-08 05:49] Ankurk99 opened #885 "match container-name field in security policy"
## Bug Report

**General Information**

In containerized un-orchestrated mode, currently we are checking only the Spec.Selector.MatchLabels field for the container name. But we should instead check for some specific field under MatchLabels (kubearmor.io/container.name) to match the container name.

**Current Behavior**
Suppose a sample policy contains:
[code]
then also KubeArmor will match nginx a

[2022-09-08 10:33] achrefbensaad commented on #826
@r0binak , V0.6 is stable now. can you check if the problem persists.

[2022-09-08 13:13] HariVamsiK commented on #885
Hi
I want to work on this issue. Could you please assign it to me, it would be beneficial for my academics too.
Thanks

[2022-09-08 14:13] Ankurk99 commented on #885
Hello @HariVamsiK glad to see your interest.
Sorry but this issue is already addressed in #886.
There are many other open issues, you might want to take a look at them. We would be more than happy to help.

[2022-09-08 14:36] HariVamsiK commented on #859
Hi
I want to work on this issue. Could you please assign it to me, it would be beneficial for my academics too.
Thanks

@Ankurk99 I can work on this

[2022-09-08 14:45] Ankurk99 commented on #859
Feel free to ask for any help here or on our slack

[2022-09-09 08:45] aishwarya25252 commented on #875
Can I look into this issue ?

[2022-09-09 09:08] achrefbensaad commented on #875
Sure.

[2022-09-09 10:16] nyrahul opened #889 "go vulnerability scan"
[Golang has announced](https://go.dev/blog/vuln) new support for vulnerability management that will help developers learn about the known vulnerabilities that may affect them.

Intent of this issue is to integrate kubearmor CI with such vulnerability scanning engine using GH actions.

Tasks involved:
- [x] vulnerability detection using `govulncheck` ([ref](https://go.dev/blog/vuln#:~:text=Vulnerab

[2022-09-09 10:36] nyrahul commented on #756
Hey @verma-kunal , any update on this? If you need any help, please ping on the kubearmor slack channels. This fix is intended to be shipped as part of v0.7 release.

[2022-09-09 13:55] Chinwendu20 opened #890 "Making set up for Kubeamor project on windows environment more accommodating"
## Feature Request

**Short Description**

The [development.md](https://github.com/kubearmor/KubeArmor/blob/main/contribution/development_guide.md) file does a good job of describing how to set up the kubeamor dev environment for contribution. However little support is offered to those using a windows environment.

**Is your feature request related to a problem? Please describe the use case.**

St

[2022-09-09 13:57] Chinwendu20 commented on #890
Please assign this to me

[2022-09-10 07:41] verma-kunal commented on #756
Hey @nyrahul , actually I had been caught with some work here so couldn't work on this issue! Really sorry for not informing early on.
I understand this has to be a part of v0.7 release & would start working on this asap

[2022-09-11 15:17] rakshitgondwal commented on #889
Hey @nyrahul !!
I would like to work on this issue. Can you tell me the prerequisites to solve this issue?

[2022-09-11 17:28] nyrahul commented on #889
I think the issue is fairly straightforward to handle. The issue description provides enough context/reference. It would help if you have:
* golang background
* understand how to update GH action

But both of these are not must haves to begin with i.e., one can easily have a look at the context and understand it.

[2022-09-12 04:16] s1ntaxe770r commented on #880
@nyrahul  issue related to #614

[2022-09-12 07:08] rksharma95 opened #891 "AWS FTR assesment tracker"
## Feature Request

**Short Description**

We are targeting the `KubeArmor` to meet all the specified requirements under [AWS Foundational Technical Review](https://apn-checklists.s3.amazonaws.com/foundational/customer-deployed/customer-deployed/C0hfGvKGP.html). This issue tracks the progress on the same. Most of the requirements are AWS platform specific.

The spreadsheet document [here](https://

[2022-09-12 07:12] rksharma95 commented on #891
I've added some remarks to the sheet. There are still some points that need to be discuss i marked those as `help wanted`.

[2022-09-13 03:40] nyrahul opened #894 "supporting OpenTelemetry"
[OpenTelemetry](https://opentelemetry.io/) is a CNCF project that defines a telemetry protocol and data formats, it covers distributed tracing, metrics and logs. The project provides an SDK as well as a collector component that can run on Kubernetes. Typically, an application exposes OpenTelemetry data through direct instrumentation that is most often implemented in-app using OpenTelemetry SDK. An

[2022-09-13 07:55] yasin-cs-ko-ak opened #896 "kubearmor installation in VM: kubearmor.service - KubeArmor: Process: 9219 ExecStart=/opt/kubearmor/kubearmor (code=exited, status=2)"
## Bug Report

**General Information**

- Environment description - VM
- Kernel version (run `uname -a`)
-```Linux instance-1 5.15.0-1017-gcp #23~20.04.2-Ubuntu SMP Wed Aug 17 02:46:40 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux```
- Orchestration system version
  VM
- Link to relevant artifacts (policies, deployments scripts, ...)
- Target containers/pods
  Ubuntu 20.04 LTS

**To Reproduce**

1. Inst

[2022-09-13 08:39] seswarrajan commented on #896
@yasin-cs-ko-ak
Please share full logs using the command

**sudo journalctl -u kubearmor.service**

[2022-09-13 08:44] yasin-cs-ko-ak commented on #896
Full logs:
[code]

@seswarrajan

[2022-09-13 11:06] AllMight2099 commented on #789
/assign

[2022-09-13 11:17] nyrahul commented on #781
[copying the update provided by @kranurag7 on kubearmor slack here...]

Here is the update of what I have done till now.
- I'm working on [this](https://github.com/kubearmor/KubeArmor/issues/781) issue as part of LFX mentorship.
- I have mainly used tracee and bpftrace to findout the capabilities required by the daemonset.
- Look at the results by tracee [here](https://gist.github.com/kranurag7/f0

[2022-09-13 11:30] nyrahul commented on #781
- [x] removing `privilege: true`
- [x] removing `hostNetwork` ... @kranurag7 update: removed `hostNetwork` and using NET_ADMIN cap
- [x] removing `hostPID` ... Conclusion: this cannot be removed
- [x] removing `NET_ADMIN` ... This cannot be removed
- [x] removing individual caps and validating using the CI

AWS FTR (Foundational Tech Review) requires that privilege mode not be used by the deployme

[2022-09-14 14:02] Shivansh-yadav13 commented on #889
Hello, I would like to contribute if no one is already working on this.

[2022-09-14 14:53] rakshitgondwal commented on #889
Hey @Shivansh-yadav13
I am working on this issue right now, I am still figuring it out. I would love to work with you. What say?

[2022-09-14 16:54] nyrahul commented on #889
Folks, thank you for the interest. Please let us know on the slack channel if you have any specific questions. Best is to raise the PR and get the ball rolling.

[2022-09-15 04:03] Ankurk99 commented on #769
Hey @Chinwendu20! Do we have any update on this issue? Feel free to ask for any pointers.

[2022-09-15 06:12] Chinwendu20 commented on #769
Hello @Ankurk99 thanks again for assigning this issue to me. I went through the file you suggested, policymatcher.go and the function for updateandparsecontainer but I still could not figure out where to make the change. I did not hit you up with follow questions because I was trying to figure it out by myself. I was going through the codebase to better understand where to include the check. Readi

[2022-09-15 09:09] achrefbensaad commented on #788
Waiting for #898 to be mergedn to update karmor.

[2022-09-16 09:26] s1ntaxe770r commented on #773
@achrefbensaad pls assign me to this issue

[2022-09-18 03:32] kranurag7 commented on #889
I have looked into the issue and I think for the issue we need to check all the directories where we are using any external dependencies.

[code]

- After trying locally, I found for `govulncheck` to work, you will need a `go.mod`, `go.sum` and go files in a directory. These are the directories which are passing on these three parameters.

- [x] ./deployments
- [x] ./KubeArmor
- [x] ./KubeArmor/BP

[2022-09-18 12:01] daemon1024 opened #901 "Live Reload in Development Environment"
Integrating Live Reloading with https://github.com/cosmtrek/air in our development environment.

This will allow us to only make changes and KubeArmor would automatically rebuild and start once the changes are saved, not needing to execute make targets again and again.

**Hi, If it is the first time that you contribute to KubeArmor, follow these steps:**
Write a comment in this issue thread to let

[2022-09-18 14:25] 0xquark commented on #901
Hi, I would like to work on this issue.

[2022-09-19 06:15] Chinwendu20 commented on #769
I believe that I have made great progress in this issue, I have been able to trace to find out the function that receives the policyeventdata in kubeamor. I can make a check there. I should create PR for review soon.

[2022-09-19 07:29] daemon1024 commented on #769
Great @Chinwendu20, Many thanks for the continued effort towards this and really happy that you are making substantial progress. Looking forward to the PR 😁

[2022-09-19 08:32] Ankurk99 opened #903 "Add k8s kind support"
## Feature Request

**Short Description**
Support KubeArmor on kind (https://kind.sigs.k8s.io/docs/user/quick-start/)

**Is your feature request related to a problem? Please describe the use case.**
Currently enforcement doesn't work on kind

[2022-09-19 08:36] Ankurk99 commented on #769
@Chinwendu20 Sorry I missed your last message. Glad to know that you have made some progress!

[2022-09-19 09:51] michalschott opened #904 "Reduce logging by allowing to not log passed results"
## Feature Request

**Short Description**

KubeArmor is very spammy in terms of logs, I'd want to disable logging of events with `result = "Passed"`

**Is your feature request related to a problem? Please describe the use case.**

Amount of logs is enormous

**Describe the solution you'd like**

Extra runtime flag which would control logging

[2022-09-19 11:54] verma-kunal commented on #756
Hey @nyrahul , sadly I am not actually able to work on this issue due to prior commitments at the moment!
I believe it would be best if another contributor could be assigned here, so that this isn't stalled further.

I hope you understand!
Thanks

[2022-09-19 18:00] nyrahul commented on #756
No problem. Thanks for informing

[2022-09-19 20:16] Chinwendu20 commented on #769
Thank you all for your patience with me. @daemon1024 you mentioned this. Could you please tell me what fields you feel are the required fields? the metadata field?

[2022-09-21 07:46] Chinwendu20 commented on #769
I have submitted the PR

[2022-09-21 13:26] nyrahul opened #909 "scalability testing for kubearmor"
- [ ] Create a 100 node k8s cluster and verify kubearmor operations
- [ ] Create performance benchmarking template to identify parameters to validate
- [ ] Policy-discovery performance at scale

[2022-09-22 07:01] yasin-cs-ko-ak opened #910 "[VM] Could not compile kubearmor deb pacakge in Ubuntu 18.04"
## Bug Report

**General Information**

- Environment description - VM (Ubuntu 18.04)
- Kernel version - `Linux ubuntu-18-04 5.4.0-1087-gcp #95~18.04.1-Ubuntu SMP Mon Aug 22 03:26:39 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
- Target containers/pods - Ubuntu 18.04 OS

**To Reproduce**

1. Instruction
[code]
After doing this I get an error like shown below
[code]
After that I recompiled bpftool from

[2022-09-22 12:14] nyrahul commented on #801
Hey @aishwarya25252 , I have added one more scenario to the issue .. Can you please check and figure if we could automate it?

[2022-09-23 12:38] vishnusomank opened #911 "KubeArmor policy breaking wordpress application"
## Bug Report

**General Information**

- Environment: GKE
- Version: 1.22.12-gke.300
- Policy used
[code]
- Target containers/pods: `wordpress`

**To Reproduce**

1. Deploy WordPress application [[Link](https://github.com/kubearmor/KubeArmor/tree/main/examples/wordpress-mysql)]
2. Port forward to use the WordPress UI
    - kubectl port-forward -n wordpress-mysql service/wordpress --address 0.0.0.

[2022-09-23 13:39] #769 closed, assigned to Chinwendu20

[2022-09-24 08:56] raviknox opened #913 "[VM] KubeArmor failing on SUSE Linux Enterprise Server v15"
## Bug Report

Not able to get KubeArmor running on SUSE Linux Enterprise Server v15

**General Information:**
- Environment description: SUSE Linux Enterprise Server 15 SP4
- Kernel version: 5.14.21-150400.24.11-default

**These are the problems:**
Issue 1:
[code]
 - Proceeded with `Solution 2` from above
---
Issue 2:
[code]
 - Proceeded with `ignore` option from above
---
Issue 3: KubeArmor not

[2022-09-25 20:30] Chinwendu20 commented on #756
Please I would like to work on this issue

[2022-09-26 04:11] nyrahul commented on #756
Thank you for the interest. As you can see, this issue is in v0.7 release plan and thus needs relatively faster resolution. Please let us know on slack/here if you have any questions.

[2022-09-26 05:05] achrefbensaad opened #914 "KubeArmor operator"
# KubeArmor operator

## Aim

- Simplify our volumes mounts
- Unlock multi-enforcers cluster support
- Unlock multi-CRI cluster support
- Improve Karmor update procedure

## Node snitch
The node snitch is responsible for detecting the node runtime socket location(docker, crio, containerd, ...) and the node security enforcer (SeLinux, AppArmor, Bpf). After detection, the snitch will label the node

[2022-09-26 05:28] Chinwendu20 commented on #756
Okay thanks on it now

[2022-09-26 07:00] s1ntaxe770r commented on #913
hey @raviknox could you send a sys dump by running `karmor sysdump`

[2022-09-26 07:06] raviknox commented on #913
@s1ntaxe770r We've deleted the virtual machine, but we've given steps to reproduce it, let me know if it's not reproducible

[2022-09-26 13:04] Ankurk99 opened #915 "Create CI to test ARM64 support"
## Feature Request

**Create CI to test ARM64 related code**

Currently we only compile and check support for x86-64 arch, after https://github.com/kubearmor/KubeArmor/pull/802 being merged we will also need to test ARM64 related code.

**Describe the solution you'd like**

Create github action to test ARM64 related code

[2022-09-27 04:35] #492 closed, assigned to nobody

[2022-09-27 04:39] #601 closed, assigned to nobody

[2022-09-27 07:40] Chinwendu20 commented on #756
Thanks since it works with the flag --kubernetes-version=1.23.1. How bout we just add it to the minikube start script

[2022-09-27 11:39] nyrahul commented on #756
Lots of folks use kubearmor on minikube without using our start script. Thus if someone installs minikube from scratch and uses kubearmor on it, it should work as well. Secondly, keeping attached to an old version is not a good idea.

[2022-09-27 19:32] Chinwendu20 commented on #756
Thanks a lot for the opportunity to contribute to this issue. Researching on this issue. I found out this is caused because minikube by defaults starts with the latest version of Kubernetes which turns out have dropped support for docker. Users would have to use an older version of kubernetes if they would still like to use dockershim or install cri-docker runtime. Link to related issue on minikub

[2022-09-28 03:14] Ankurk99 commented on #756
@Chinwendu20 Can we use a different container runtime in that case? containerd maybe?

[2022-09-28 04:54] Chinwendu20 commented on #756
I am unsure if this is something that we would have to do from our end. It seems like it is something users that decide to use minikube would have to do for themselves.

[2022-09-29 04:33] rohitrishim opened #919 "[VM] KubeArmor failing on Amazon Linux 2"
## Bug Report

Not able to get KubeArmor running on Amazon Linux 2 kernal version 5.10

General Information

- Environment description: Amazon Linux 2
- Kernal version: 5.10

These are the problems:

issue: KubeArmor not running
[code]

To Reproduce

1. Followed Step : https://help.accuknox.com/open-source/kubearmor/al2/al2/
2. Used latest release i.e., ```kubearmor_0.6.0_linux-amd64.rpm```

[2022-09-29 18:18] Chinwendu20 commented on #756
Hello! I have not been able to get your thoughts on this. Anytime is fine though

[2022-09-30 18:50] Ankurk99 commented on #756
Hey @Chinwendu20 thanks for taking a look at it. We currently recommend minikube to be setup using our script https://github.com/kubearmor/KubeArmor/blob/main/contribution/minikube/start_minikube.sh, you can add  `--container-runtime= containerd` flag with the `minikube start` command and check if that works. If yes, then we can update the script and the documentation to mention about using contai

[2022-10-01 18:06] #675 closed, assigned to achrefbensaad, Ankurk99

[2022-10-01 18:07] #788 closed, assigned to achrefbensaad

[2022-10-02 07:53] Chinwendu20 commented on #756
Thanks again for trusting me with the issue as well as for your guidance. It seems there is a problem with the minikube recompiled image by Kubeamor. We need to bump its containerd version. As I am getting this error:

![image](https://user-images.githubusercontent.com/59079323/193442973-4778f7ab-30d8-4f9d-9d9e-4948d16f5151.png)

I think in general we should use the latest minikube iso image and t

[2022-10-04 09:19] rksharma95 opened #923 "determine and apply resource limitation for Kubearmor Daemonset"
## Feature Request

by default kubernetes pods run with unbounded CPU and memory limits. It is optional to set these limits but it's recommended to
define effective resource requests and limits at the time of pod creation.

**Is your feature request related to a problem? Please describe the use case.**

Currently there's no resource limit defined for Kubearmor Daemonset.

**Describe the solution y

[2022-10-05 14:12] Ankurk99 commented on #756
:+1: I think it makes sense to use the latest version of minikube.
cc: @daemon1024

[2022-10-05 18:44] daemon1024 commented on #756
I would suggest to approach the issue with a fresh angle. We shouldn't ideally be needing a custom Minikube ISO at all now! So no need to recompile things.

I think we should directly try KubeArmor on a fresh minikube cluster, then debug and check how we can make KubeArmor work their.

cc @Ankurk99 @Chinwendu20

[2022-10-06 08:12] rksharma95 opened #927 "Red Hat OpenShift Container Certification"
**Short Description**

We are going for [Red Hat OpenShift Certification](https://connect.redhat.com/en/partner-with-us/red-hat-container-certification) for Kubearmor Container Image. There are some [requirements](https://access.redhat.com/documentation/en-us/red_hat_software_certification/8.51/html/red_hat_openshift_software_certification_policy_guide/assembly-requirements-for-container-images_op

[2022-10-06 13:23] Chinwendu20 commented on #756
Thanks @daemon1024. As per this documentation:
https://github.com/kubearmor/KubeArmor/tree/main/contribution/minikube
The issue with running kubearmor on minikube is that apparmor is not enabled by default and it does not also ship with ebpf capabilities.
That has still not changed as per this open issue on minikube:
https://github.com/kubernetes/minikube/issues/8299
I also ran it on my minikube i

[2022-10-06 13:27] daemon1024 commented on #756
@Chinwendu20 Can you share output for
`cat /boot/config-$(uname -r) | grep 'BPF'`
and

`cat /sys/kernel/security/lsm`
 on the minikube node?

[2022-10-06 13:28] Chinwendu20 commented on #756
Here it is @daemon1024
![image](https://user-images.githubusercontent.com/59079323/194325710-adc60897-7cf6-4f24-9dd3-cecaa608425b.png)

[2022-10-06 13:36] daemon1024 commented on #756
I checked out the source code,
https://github.com/kubernetes/minikube/blob/aca5f29b40319bf79de1e3eb15edcca7da7b5481/deploy/iso/minikube-iso/board/minikube/x86_64/linux_x86_64_defconfig#L44

I see that BPF is now enabled in the ISO. The documentation seems to be old since the new image is using 5.10 but performance image is kernel 4.19.

What happens when you try to install KubeArmor in the Minikub

[2022-10-06 18:21] daemon1024 opened #928 "Additional checks for LSM Support"
## Feature Request

We currently rely on `/sys/kernel/security/lsm` to check for LSMs. This is fine on actual Hosts. But containerized hosts may not have this file and yet they could support stuff. So we should check for other ways to get the supported LSMs.

**Describe the solution you'd like**

AppArmor:
- As mentioned in https://kubernetes.io/docs/tutorials/security/apparmor/
  we can check for

[2022-10-10 02:34] nyrahul opened #929 "ensuring security health check compliance with clomonitor"
[clomonitor](https://clomonitor.io/projects/cncf/kubearmor) provides a way to check if the CNCF or LF project is in compliance with the security standards. Currently kubearmor's status is 77% (marked as 'A'). However, it could be checked if we can follow other aspects of security and bring the score as close to 100 as possible.

The list of action items to handle this issue are clearly stated in t

[2022-10-11 12:14] sheharyaar commented on #889
I have update the PR, kindly review it

[2022-10-12 07:39] Ankurk99 commented on #896
@yasin-cs-ko-ak Can you confirm if you have go installed?

[2022-10-12 07:39] Ankurk99 commented on #896
Also can you check with `make -C /opt/kubearmor/BPF` and confirm if it works?

[2022-10-12 07:42] Ankurk99 commented on #896
With https://github.com/kubearmor/KubeArmor/pull/932 you should be able to run it without any changes. Can you please give it a try?

[2022-10-12 08:00] yasin-cs-ko-ak commented on #896
@Ankurk99 I have installed the latest version 0.6.2 and the Installation was successful but the service is still dead.
[code]

[2022-10-12 08:10] yasin-cs-ko-ak commented on #896
I re-installed it and now it is running
[code]

[2022-10-12 08:12] daemon1024 commented on #896
Handled in #932

[2022-10-12 08:12] #896 closed, assigned to daemon1024

[2022-10-12 12:59] Ankurk99 opened #933 "Docker image (latest) not in sync with the latest changes"
## Bug Report
The latest image pushed to dockerhub is not being updated

### Expected behavior
The latest docker image tag should be the same as the most recent changes

### Screenshot
![image](https://user-images.githubusercontent.com/39901181/195348482-823d31b9-078f-4042-9723-2d0384c77f79.png)
Here in the screenshot, the latest image and v0.6.3 should be the same

[2022-10-13 06:45] #933 closed, assigned to Ankurk99

[2022-10-13 13:40] daemon1024 commented on #911
Restarting the Pod helps!
that is, starting the container with the new profile solves the issue.
Need deeper analysis for understanding why it fails when rules are changed when container is already running.

[2022-10-14 11:17] HariVamsiK commented on #859
I was able to reproduce the bug. May i know where i can get the necessary files that i can modify to resolve the issue, i checked the whole repository.
BTW i reproduced it on docker driver.
![Default](https://user-images.githubusercontent.com/112711197/195834445-a0204138-e450-4e69-9486-b5ee7a99cbd6.jpg)

[2022-10-15 04:59] nyrahul commented on #859
This discussion thread on k8s group makes it sufficiently clear that there is no way to get a cluster name using k8s client go APIs.

Our option is to allow the ability to pass the cluster-name as an option during installation and as part of config and the telemetry generator uses the name from there.

This should be applicable in the context of systemd mode of installation as well where cluster n

[2022-10-17 09:01] seswarrajan opened #941 "Block on /proc/ path is not displaying any alerts in karmor log"
## Bug Report

**General Information**

- Environment description (VM)
- Kernel version (5.15.0-50-generic)

**To Reproduce**

1. Run kubearmor in systemd mode.
2. Open a new tab and run karmor log
3. Apply the attached policy yaml using `karmor vm policy add pol.yaml` command.
4. Now once policy is applied, open a new terminal and run `cat /proc/cpuinfo`
5. The action results in **Permission Deni

[2022-10-17 09:07] daemon1024 commented on #941
Related #850

[2022-10-17 18:42] Ankurk99 opened #942 "Helm installation not working"
## Bug Report

Installing KubeArmor using the helm installation instructions is resulting in error.

**To Reproduce**

Follow https://github.com/kubearmor/KubeArmor/tree/main/deployments/helm

**Expected behavior**

KubeArmor should be installed

**Output**
[code]

The helm installation instructions should mention all the required flags, instructions and prerequisites (if any)

[2022-10-20 04:45] Ankurk99 commented on #846
We can put karmor at some other place, I don't think that will be an issue. Also here we need to test kubearmor for containerized workloads, so running KubeArmor in systemd mode will be fine too.

[2022-10-21 10:58] nyrahul opened #946 "change quick start quide of kubearmor to showcase use-case based example"
Currently, kubearmor's [getting started guide](https://github.com/kubearmor/KubeArmor/blob/main/getting-started/deployment_guide.md) uses `multiubuntu` use-case showcasing blocking of `sleep` command.

It would be better to use real workload such as `wordpress-mysql` and showcase denial of `apt/apt-get` as example binaries. Use [this](https://help.accuknox.com/open-source/quick_start_guide/) for r

[2022-10-22 07:53] kranurag7 opened #948 "Update workflows to remove deprecation warnings"
GitHub is deprecating `set-output` syntax that we are using at some places in our workflows and because of this we are getting a warning.

![image](https://user-images.githubusercontent.com/81210977/197327466-1ce4d7f5-3366-44e3-a8c1-12677a633303.png)

Update the workflows to use the latest syntax that's recommended from GitHub. Blog post about the deprecation notice and new recommendation from Git

[2022-10-25 06:27] rksharma95 commented on #946
/assign

[2022-10-27 09:21] achrefbensaad opened #954 "Apparmor allow based policies not working as expected."
## Description
[code]
Applying the following yaml policy should allow us to:
- run bash without seeing any error messages
- cat will get access only to /etc/**
## Acutual behavior
- Bash is working as expteced
- Executing cat command, yeilds a permission denied error.

# Proposed behavior for AppArmor allow based policies

We will be using apparmor domain transitions to enforce prolicies for each

[2022-11-01 05:15] rahulk789 commented on #845
Hello! I would love to work on this issue. I have gone through the articles sent above. My understanding of the issue is that the coverage task is currently a step in [KubeArmor/.github/workflows/ci-test-local.yml](https://github.com/kubearmor/KubeArmor/blob/b38a0a59362d100bad7e8d6db36ed3c7f89a06e5/.github/workflows/ci-test-local.yml#L72-L85) and must be converted to a seperate job, is there any o

[2022-11-01 06:50] vishnusomank opened #959 "KubeArmor policy with readOnly flag not working with BPFLSM"
## Bug Report

**General Information**

- Environment: GKE
- v1.23.8-gke.1900
- Target deployment: wordpress-mysql
- Active LSM: BPFLSM

**To Reproduce**

1. Install [wordpress-mysql](https://github.com/kubearmor/KubeArmor/tree/main/examples/wordpress-mysql) application
[code]
2. Run `karmor recommend` on `wordpress-mysql` namespace
[code]
3. Apply the following policy
[code]
**Current behavior**

[2022-11-01 07:52] daemon1024 commented on #959
Ref #795

[2022-11-01 08:16] AbhinavCSY opened #961 "Karmor Log(Alert), TAG field changes from string to string array"
## Feature Request

In policies there are multiple tags in a single array, due to a single policy can be linked to different use cases, changing it to a string array will send the partitioned Tags in output, which will be easy to handle in different SIEM integration and further representation.

Currently, in the output, the Tags are coming in this format combined as a single string

[code]
Changin

[2022-11-01 08:22] daemon1024 commented on #845
Thanks for picking this up @rahulk789.

From my understanding it would still need some form of codecov step that helps aggregating the coverage files across the test suite. I will check the PR and let's continue the discussion there.

[2022-11-02 05:35] nyrahul commented on #961
@vishnusomank, would you be able to handle this change? Let us know if any discussion needed. Thanks

[2022-11-02 08:56] Pietrokechi commented on #946
Hi Team would like to work on the issue please let me know, I got the same feeling the block sleep command does not really show the value of the product !

[2022-11-02 09:37] rksharma95 commented on #946
thanks @Pietrokechi , it would be great if you can review PR #952 and let me know if you have any feedback.

[2022-11-03 04:04] nyrahul commented on #961
we cannot change existing field and convert it to Array of strings..

As discussed we will add a new field "ATags" (Array of tags) .. and leave existing field as it is.

[code]

[2022-11-03 06:29] #891 closed, assigned to rksharma95

[2022-11-03 07:05] achrefbensaad commented on #870
We decided not to enable enforcement for init containers as they are short lived

[2022-11-03 07:05] #870 closed, assigned to achrefbensaad

[2022-11-03 07:07] Ankurk99 commented on #911
Hey @vishnusomank, can you please update if you are still facing the issue?

[2022-11-03 07:16] Ankurk99 commented on #756
Hi @Chinwendu20, hope you are doing good. Wanted to ask if you are working on this issue?

[2022-11-03 09:06] seswarrajan opened #964 "Kubearmor logs/alerts are not generated in latest image"
## Kubearmor logs are not getting generated with the latest image when performing a stress test on kubearmor

**General Information**

- Environment description (GKE, k3s)
- Kernel version (5.15.0-52-generic)
- Orchestration system version in use (1.22 kubectl version)
- Install kubearmor latest image
- Any pod/deployment. Using test nginx deployment

**To Reproduce**

1. Install kubearmor latest

[2022-11-03 14:47] Chinwendu20 commented on #756
Hello, @Ankurk99 thanks for checking up. Sorry that I have not been in touch. However, in response to @daemon1024 question., I tagged him to the answer on Slack

[2022-11-03 14:48] daemon1024 commented on #911
Yes it's still an issue.

[2022-11-03 14:53] Chinwendu20 commented on #756
Hello, @Ankurk99 thanks for checking up. Sorry that I have not been in touch. However, in response to @daemon1024 question., I tagged him to an answer on Slack

[2022-11-03 15:24] daemon1024 commented on #928
@Chinwendu20 Would appreciate your help on this 🙌🏽  Thank You.

[2022-11-04 03:41] Ankurk99 opened #966 "KubeArmor pods failing on WLAN disconnection"
## Bug Report
KubeArmor pods: kubearmor-annotation manager and kubearmor-policy-manager are going to ErrImagePull when wlan is turned off.

**General Information**

- Environment description: k3s (running directly on host), latest KubeArmor image
- Kernel version (run `uname -a`): 5.15.74
- Target containers/pods: kubearmor-annotation-manager and kubearmor-policy-manager

**To Reproduce**

1. Run

[2022-11-04 21:35] sheharyaar commented on #910
The errors seems to be caused due to missing `clang-bpf-co-re` package. Source : https://lists.llvm.org/pipermail/cfe-dev/2021-December/069635.html

  . __builtin_preserve_access_index (initially added, [8])
  . __builtin_preserve_field_info (added later, [9])
  . __attribute__((preserve_access_index)) (added later, [10])
  . __builtin_preserve_type_info (added later, [11])
  . __builtin_preserve_

[2022-11-05 00:16] Chinwendu20 commented on #756
Thanks for assigning [this](https://github.com/kubearmor/KubeArmor/issues/928#issuecomment-1302278553) issue to me. I have gone through it. From what I understand it is about finding an alternate approach to check for LSMs.
From what I understand our current issue is that minikube's image does not come with apparmor enabled. I do not think that would change even if we find an alternate means of ch

[2022-11-07 06:17] #961 closed, assigned to vishnusomank

[2022-11-07 06:37] Ankurk99 commented on #756
Hey @Chinwendu20 with the stable minikube image AppArmor is present.

[2022-11-07 06:49] Chinwendu20 commented on #756
Heyy @Ankurk99 do you mean the one custom built by Kubeamor?

[2022-11-07 07:48] Ankurk99 commented on #756
No, it's the stable release from https://minikube.sigs.k8s.io/docs/start/. You can test with `cat /sys/module/apparmor/parameters/enabled ` - should be `Y`

[2022-11-07 11:02] Chinwendu20 commented on #756
Ohh I guess I missed that, cause the issue is still open on minikube: https://github.com/kubernetes/minikube/issues/8299

Also I just checked it out:

![image](https://user-images.githubusercontent.com/59079323/200294563-79bf8009-7ecf-471a-8009-4f9ceb487f93.png)
![image](https://user-images.githubusercontent.com/59079323/200294698-6da32dcb-617e-4080-b966-d9a5156c6ab5.png)

[2022-11-08 07:23] #954 closed, assigned to achrefbensaad

[2022-11-08 08:01] rksharma95 commented on #966
i'm not able to reproduce the issue, tested on ubuntu 20.04 with k3s, kubearmor is working fine after disconnecting from the internet.

[2022-11-08 08:03] sunnoy opened #970 "Action: Audit (Block) not Action: Block"
## Bug Report

**General Information**

- k3s
- 5.10.134-12.al8.x86_64
- 1.25
[code]

[code]

**To Reproduce**

1. Instruction 1
2. Instruction 2

**Expected behavior**

Action: Block

**Screenshots**

If applicable, add screenshots to help explain your problem.

[2022-11-08 08:34] sunnoy commented on #970
2022-11-08 07:41:28.541479	INFO	Supported LSMs: capability,selinux
2022-11-08 07:41:28.541505	INFO	Disabled KubeArmor Enforcer since No LSM is enabled

there are LSMs: capability,selinux but No LSM is enabled

[2022-11-08 09:46] daemon1024 commented on #970
Hey @sunnoy, Thanks fore reporting. We support LSM only when KubeArmor directly runs on Bare Metal to enforce Host Policies. We require the presence of BPFLSM or AppArmor for container enforcement i.e. KubeArmor Policies.

[2022-11-08 10:22] sunnoy commented on #970
We support LSM only when KubeArmor directly runs on Bare Metal to enforce Host Policies.  so the code is
[code]

##  but how to enable the presence of BPFLSM container enforcement ? just apply KubeArmorPolicy ?

i find the code

[code]

[2022-11-08 10:34] Ankurk99 commented on #756
Hey, it seems that you are running minikube on Windows, is it correct? Because we were only concerned with Linux kernel here.

[2022-11-08 12:23] daemon1024 commented on #970
@sunnoy It depends on your node/host image.

/sys/kernel/security/lsm should contain bpf/apparmor.

What is the host OS?
How have you setup your k8s environment?

You can check our support matrix here https://github.com/kubearmor/KubeArmor/blob/main/getting-started/support_matrix.md

[2022-11-08 23:02] Chinwendu20 commented on #756
Thanks but I do not think it should matter or should it? I ran the command you suggested inside the vm created by minikube, not on my local computer.

[2022-11-09 01:43] sunnoy commented on #970
my  env is

[code]

Does it just match the os instead of the kernel version?

[2022-11-09 05:50] Ankurk99 commented on #756
Okay, I got it. So my thought was that the minikube has separate iso images for Windows and Linux and LSMs are enabled in the Linux one. But that's not the case.
I was running minikube with docker driver and it was mounting the host lsm path. With virtualbox it's failing for me too.
The reason as you mentioned is AppArmor not enabled and we are checking for `/sys/kernel/security/lsm` output which

[2022-11-09 09:18] sunnoy commented on #970
i have add bpf in lsm

[code]
<img width="561" alt="image" src="https://user-images.githubusercontent.com/19342276/200790096-43215cfd-3905-49c4-8fa2-8a7acf364c29.png">

[code]

it's can not block ...

[2022-11-09 09:39] daemon1024 commented on #970
That's weird, it should be blocking. Can you try on some other container. Also is this container running in the node which has BPF LSM enabled?

[2022-11-09 10:47] sunnoy commented on #970
i have try doc example contianers

kubectl apply -f https://raw.githubusercontent.com/kubearmor/KubeArmor/main/examples/multiubuntu/multiubuntu-deployment.yaml

[code]

<img width="1358" alt="image" src="https://user-images.githubusercontent.com/19342276/200810067-e6c49c15-321d-44fe-8afc-ee1093a81ead.png">

# the KubeArmorPolicy is

[code]
# test yaml

[code]

# but only ubuntu-5 and  ubuntu-4 can

[2022-11-09 11:49] Ankurk99 commented on #966
@rksharma95 Can you check with the edited issue?

[2022-11-09 16:18] Ankurk99 commented on #915
Closed by https://github.com/kubearmor/KubeArmor/pull/973

[2022-11-09 16:19] #915 closed, assigned to achrefbensaad, Ankurk99

[2022-11-10 14:56] Chinwendu20 commented on #756
Okay, thanks for clarifying. I thought kubeamor needed AppArmor to run as the minikube image compiled by kubeamor had AppArmor enabled as stated [here](https://github.com/kubearmor/KubeArmor/tree/main/contribution/minikube). I would look into this issue https://github.com/kubearmor/KubeArmor/issues/928

[2022-11-10 18:21] daemon1024 commented on #795
To secure file operations with BPF LSM we need to expand on the hooks we use.
Like we don't restrict touch (file create) or rm (unlink).
AppArmor [relies on SECURITY_PATH](https://elixir.bootlin.com/linux/v6.0.7/source/security/apparmor/lsm.c#L1215) hooks to enforce file rules.
SECURITY_PATH hooks helps us enforce path based access control. They need the same flag enabled in the Kernel. It would b

[2022-11-11 05:27] nyrahul commented on #795
So as I understand:
If we use PATH hooks, we cannot support RHEL. But the other option of using inode based hooks is still not fully clear.
I feel we can take a decision only once it is clear whether inode based hooks approach works.

Btw, taking a step back, is it possible to block unlink/file create access using seccomp-bpf? If it is possible then we can think of an alt strategy.

[2022-11-11 06:58] daemon1024 commented on #795
Right

Makes sense. I will look into it and try to execute things.

I was under the assumption that we can only have seccomp filters per container but not entity specific inside the container? Like we have the capability list, we have a syscall list as seccomp profile. That would mean we will enforce create/unlink per container not based on directories inside container. Is it not the case 🤔

[2022-11-12 18:25] daemon1024 commented on #970
Hey @sunnoy,

I tried out the app personally. And it's the same case for me. On further investigation.

![image](https://user-images.githubusercontent.com/47106543/201489057-76c51cfc-08a7-438c-885c-f4b1db6ce243.png)

It seems that /bin/cat is actually a symlink to busybox binary. Since the enforcer checks for what is actually executed, it detects busybox execution which doesn't map to /bin/cat hen

[2022-11-12 18:49] daemon1024 opened #984 "Inconsistent Behaviour with Symlinks Execution"
## Bug Report

We read for actual execution path and not symlinked path while enforcing rules. Like `/bin/sleep` symlinked to `/bin/busybox` will be read as `/bin/busybox` by the enforcer.

But our monitor outputs the Resource as `/bin/sleep`. This is an incosistent behaviour. We should ideally observe what we enforce.

**General Information**

- Environment description *
- Kernel version *
- Orch

[2022-11-12 18:53] daemon1024 commented on #984
Noting `busybox` images can have standalone or symlink setup. This is not an issue with standalone version i.e. the official `busybox` docker image.

[2022-11-13 06:28] Chinwendu20 commented on #928
We could check for kernel config on the host. I found various options for doing that [here](https://superuser.com/questions/287371/obtain-kernel-config-from-currently-running-linux-system). After going through that, I suggest we use this:

` cat /proc/config.gz | gunzip | grep CONFIG_BPF_LSM`

To check if the host supports bpf_lsm. I tried this on minikube vm with VirtualBox driver and it gives th

[2022-11-13 06:29] Chinwendu20 commented on #756
I left an update on #928

[2022-11-13 06:29] h20220025 commented on #499
hi @daemon1024 @nyrahul , This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-11-13 06:35] daemon1024 commented on #499
@h20220025 Glad you found it interesting. Please feel free to ask for help if needed in this thread or on slack.

Looking forward to the PR 😁

[2022-11-13 06:40] h20220025 commented on #499
Thank You

[2022-11-13 21:06] sheharyaar commented on #894
Does this need to be added in kubearmor-relay-server ?

[2022-11-14 04:36] nyrahul commented on #894
Yep, that seems to be the most logical way. Relay acts as a single point of contact where telemetry from across all nodes is available. Now we can another adapter which connects to kubearmor-relay-server and then emits OT output. This would not require any changes to the existing components. This would result in a new repo.

[2022-11-14 07:55] daemon1024 commented on #795
Inode hooks should work fine,
Need some work but this commit showcases how it can be possibly achieved https://github.com/daemon1024/bpf-scratchpad/commit/bbf5cd1b14cba67091a868bc13eeac735119a779. Basically taking mount point from task struct and combining it with the dentry from LSM hook args.

Parking the implementation and further research for later.

[2022-11-15 06:22] sunnoy commented on #970
thk you  , i will try it

[2022-11-15 06:22] #970 closed, assigned to nobody

[2022-11-15 06:24] daemon1024 commented on #970
Thanks @sunnoy, I have opened #984 to make it more understandable.

[2022-11-16 05:39] Ankurk99 opened #989 "Audit based policy not working with readonly rule"
## Bug Report

If we have a audit based policy with "readonly" rule then we are not getting alert for the rule denial

**To Reproduce**
1) Apply the following policy
[code]
2) Exec into the wordpress pod and create a directory inside `/dev/` folder: `touch /dev/abc`

**Expected behavior**
The above action should have created an alert for illegal file creation as the `/dev/` path is readonly
Audit

[2022-11-17 14:04] daemon1024 opened #992 "Rancher Plugin Integration"
An extension for [Rancher Manager](https://github.com/rancher/rancher) (^v2.7.0) which allows you to interact with KubeArmor.

**Initial Scope**
- [ ] Installation
- [ ] Manager to See and apply Policies
    - [ ]  Intuitive Form to Create Policies
- [ ] Recommended Policies
- [ ] KubeArmor state dashboard
  - [ ] Show and configure default posture/visibility for a pod/namespace.
  - [ ] List Kube

[2022-11-17 14:05] daemon1024 commented on #992
WIP at https://github.com/daemon1024/ucy

[2022-11-17 21:25] 0xquark commented on #989
I would like to work on this issue :)

[2022-11-18 00:03] Shreyas220 opened #995 "Performance benchmarking of KubeArmor"
# Aim

The aim of performance test is to Check impact of kubearmor on existing app.

### Platform
- AKS

 ### Workloads

- [ ] Redis

 ### Showcase the impact on performance due to kubearmor use.

- [ ] Application Baseline performance without kubearmor installed
- [ ] Performance impact with KubeArmor just installed but no policies
- [ ] Performance impact with KubeArmor with auto-discovered poli

[2022-11-18 00:05] Shreyas220 commented on #995
Initial Result of Benchmarking Redis [link to sheet](https://docs.google.com/spreadsheets/d/1i7bVvZ3ONFUOrW5qARrJRGMdpuuahxBMFlkwpaudglQ/edit?usp=sharing
)

[2022-11-18 11:35] vishnusomank opened #998 "KubeArmor not generating alerts for policies with binary `mv`"
## Bug Report

**General Information**

- Environment: k3s
- Kernel version :
[code]
- kubectl version
[code]

- Policy file
[code]
- Target pod: `wordpress-765f89bf9f-vrfxf`

**To Reproduce**

1. Deploy wordpress application [ref](https://github.com/kubearmor/KubeArmor/blob/main/examples/wordpress-mysql/wordpress-mysql-deployment.yaml)
2. Apply the above mentioned policy
3. Execute into the wordp

[2022-11-21 11:33] #942 closed, assigned to achrefbensaad, yasin-cs-ko-ak

[2022-11-23 04:28] rksharma95 commented on #998
i think, it require [rename](https://man7.org/linux/man-pages/man2/rename.2.html) Syscall to be traced, currently system monitor not tracing it.

[2022-11-23 19:56] daemon1024 commented on #992
Regarding the Form to create policies

I was planning to have the following grouping and inputs

[code]

For context this what grouping mean
![image](https://user-images.githubusercontent.com/47106543/203635416-52c58322-1707-4742-a2bf-cde898f28d69.png)

Any feedback/inputs here?

[2022-11-24 02:21] nyrahul commented on #992
This is nice!

Imo, it would be ok to club "General" and "Policy Details" together.
So my assumption is that in the policy details we will have, Policy Name, Namespace, Selector Labels, Tags, Message, Severity.

Process, File, Network will have relevant options.

Is there a config change if a new attribute has to be added or do we have to change the code?

[2022-11-24 05:01] daemon1024 commented on #992
That said I can prolly split it into General and Rules.
Since it's going to be one rule at a time anyway 🤔

It's a code change for now, I will try to figure out how it could be just a config change later.

[2022-11-24 10:33] yasin-cs-ko-ak opened #1002 "[Bug] karmor summary showing container id instead of container name"
## Bug Report
In [kubearmor-client ](https://github.com/kubearmor/kubearmor-client) when we do `karmor summary` it shows container ID instead of container name.

**General Information**

- Environment description - k3s
- Kernel version - `Linux ubuntu 5.15.0-52-generic #58-Ubuntu SMP Thu Oct 13 08:03:55 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use
[code]
- Link to

[2022-11-24 14:51] daemon1024 commented on #992
Update: No it will have to be a code change, but since it's filled up of components, would most likely be a copy pasta job if we need to extend it.

Also.

<details>
  <summary>General Tab Done</summary>

![image](https://user-images.githubusercontent.com/47106543/203812243-f6f662ae-13ca-4ca5-bb7b-2f3bd30df0f5.png)
</details>

<details>
  <summary>And yeah they convert to actual rules.</summary>

[2022-11-25 09:01] #875 closed, assigned to aishwarya25252, Ankurk99

[2022-11-25 09:35] Ankurk99 commented on #756
Hey @Chinwendu20, thanks for actively working on this issue and sorry for a late reply. We are thinking of a new approach to figure this issue. We can use kubearmor-init container to run and load a bpf bytecode (to lsm hook) and if it works fine then that will mean BPF-LSM is available.
Is this clear? Would you like to work on it?

[2022-11-25 12:36] nyrahul commented on #989
hey @0xquark , thank you for the interest. Imo, the changes that would be required are primarily in the ebpf/telemetry handlers.
The aim is to check if the policy filespec matches in file path in ebpf open event and if the open event has "w/a" write/append flag enabled, then raise an audit event. Matching of filespec in ebpf open event works already but there is no check on the open syscall attrib

[2022-11-25 12:44] daemon1024 commented on #989
A question with context to the issue. This is a audit policy, we raise alerts when the actual event happens and not in violation of that.

Isn't it fine that we didn't raise an alert because it wasn't a read only event?

We currently have this check for when open events are called with RDONLY they would raise an alert ig.
https://github.com/kubearmor/KubeArmor/blob/8406abab2b036f5e4da5d1c07f201309

[2022-11-25 13:05] nyrahul opened #1003 "Block events generated even when there are no policies applied in DVWA app"
## Bug Report

Network (ICMP) related audit events are generated when there are no policies enforced at all on [dvwa](https://github.com/cytopia/docker-dvwa)(Damn Vulnerable Web Application) workload.
This is observed with AppArmor based enforcer only. My assumption is that the default apparmor profile that is created by kubearmor has some rule that denies the ICMP events. But it not known why the

[2022-11-25 18:25] daemon1024 commented on #1003
I can reproduce this on GKE, but we don't have audit logs to probe into.

I am unable to reproduce it on my personal setup with RKE+Ubuntu22.04.

Can you share what you see in audit logs? Is it due the kubearmor profile?

To check audit logs,
`tail /var/log/audit/audit.log -f `
OR
`sudo journalctl --boot _TRANSPORT=audit -f`

[2022-11-28 16:39] vennemp opened #1005 "Amazon Linux 2 Support for BPF-LSM"
I have AL2 EKS worker nodes running on Kernel version 5.15.  Do you have any guidance or documentation on enabling BPF-LSM in kubearmor for AL2 nodes?

The active LSM is blank and all the Postures are listed as "audit" mode.
<img width="959" alt="Screen Shot 2022-11-28 at 10 58 30 AM" src="https://user-images.githubusercontent.com/26049891/204332192-8840477a-456c-4bd1-8970-244d4930c7e5.png">

[2022-11-28 18:02] Chinwendu20 commented on #756
Seems interesting. I have quite a busy schedule this week. If it is not too urgent I would like to look into this, next week.

[2022-11-28 18:27] Ankurk99 opened #1006 "feat(performance): Handle KubeArmor events in the kernel space"
## Feature Request

**Handle KubeArmor events in the kernel space**

Currently we are getting a lot of events in KubeArmor as visibility is defined cluster-wide. The aim is to:
  * have the visibility options (file, network and process) defined at namespace-level.
  * option to drop the events directly in the kernel

**Is your feature request related to a problem? Please describe the use case.**
T

[2022-11-29 13:48] nyrahul opened #1007 "init container issue with ubuntu 18.04 kernel 4.15"
## Bug Report

The latest/stable version of kubearmor init container is failing on ubuntu 18.04 v4.15.xx

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
kubeadm

- Kernel version (run `uname -a`)
Ubuntu 18.04 4.15.xx

**To Reproduce**

1. karmor install ... kubearmor never starts up ... goes in crashloopbackoff.

**Expected behavior**

[2022-11-30 06:36] #1007 closed, assigned to rksharma95

[2022-11-30 07:50] rksharma95 commented on #754
Lets consider a scenario,
- Current global config default posture for file, network and capability is `audit`.
- There is a namespace `temp` and it's annotated with `kubearmor-network-posture=block`.
therefore default posture for namespace temp will be:
[code]

Let global default posture is changed to `block` now.

Now defaultPosture for namespace `temp` can be

either
1. Considered namespace `tem

[2022-11-30 12:24] daemon1024 commented on #754
I think it makes sense to consider the case 2.

[2022-11-30 14:01] nyrahul commented on #1003
Hey @achrefbensaad , can you have a look at this? Thanks

[2022-11-30 14:04] achrefbensaad commented on #1003
Sure