[2020-11-27 03:26] nam-jaehyun opened #3 "Missed audit logs"
- Problem

KubeArmor works fine in terms of audit logs for blocked process executions and blocked file accesses.
However, KubeArmor does not generate audit logs for blocked network operations and capabilities.
It seems that the problems occur since such logs are not generated by LSMs at this point.

- Possible approach

When some system calls are blocked due to capability permission checks,
the in

[2020-11-27 03:33] nam-jaehyun opened #4 "Update the introduction to linux security modules"
We have a document [linux_security_modules.md](https://github.com/accuknox/KubeArmor/blob/master/documentation/linux_security_modules.md).
The purpose of this document is to provide the background of Linux security modules.
It would be great if someone helps update the document for us.

[2020-11-27 03:40] nam-jaehyun opened #5 "Check the feasibility of PodPreset/PodSecurityPolicy"
- Current status

In order to apply security contexts (e.g., AppArmor profiles),
we need to specifically define them in pod definitions for Kubernetes.

Here is an example.

[code]

As you can see, we manually added an annotation to use AppArmor for container security.
This document ([Link](https://kubernetes.io/docs/tutorials/clusters/apparmor/)) provides more details.

- What we want to do

We'r

[2020-11-30 12:20] nam-jaehyun opened #7 "Telemetry with Prometheus"
- [ ] Define telemetry metrics

=== Example Metrics ===

- (Number of) logs generated on a given host / namespace / pod / container
	→ [ HostName | NamespaceName | PodName | ContainerName ]

- (Number of) logs generated on a given policy
	→ PolicyName

- (Number of) logs with X severity or above
	→ Severity

- (Number of) logs with a given type (i.e., PolicyMatched, SystemLog)
	→ Type

- (Number o

[2020-11-30 12:39] nam-jaehyun opened #8 "Define system operations at a high level"
We need to define high-level operations that represent a set of internal behaviors.
For example, the 'open_network_service' operation will cover the 'net_bind_service' capability internally.

Please take a look at [supported_capability_list.md](https://github.com/accuknox/KubeArmor/blob/master/documentation/supported_capability_list.md) and the coverage of each capability.
Then, see how to categor

[2020-12-02 11:53] nam-jaehyun opened #9 "Check the feasibility of nested profiles inside containers"
The purpose of the fromSource option in [security_policy_specification.md](https://github.com/accuknox/KubeArmor/blob/master/documentation/security_policy_specification.md) is to narrow down the coverage of a security policy.
It means that we want to restrict not only the behavior of a container but also the behavior of a process in the container.
For example, we want /bin/bash in a container to a

[2020-12-04 00:40] nam-jaehyun opened #13 "Support Containerd along with Docker"
While KubeArmor is designed for Kubernetes, it currently uses Docker APIs to get container information in each node.
This is because the container information is required to figure out which container triggers a certain audit log.

In the audit log, we can only see system metadata (e.g., PPID and PID).
Thus, when KubeArmor keeps track of process executions inside containers, it finds the mapping b

[2020-12-04 02:39] nam-jaehyun opened #15 "Support gRPC"
KubeArmor currently supports two types of logging mechanisms: standard output and a log file.
Now, it's time to adopt gRPC to send audit logs to the outside.

[2020-12-07 13:34] js038706 opened #17 "Prepare the test/QA environment KubeArmor"
Install prerequisite software

[2020-12-07 13:52] js038706 opened #18 "Test Design for KubeArmor"

[2020-12-07 13:57] js038706 opened #19 "Requirement Analysis for KubeArmor"

[2020-12-08 09:51] nam-jaehyun commented on #15
Added a gRPC service for logging ([kubearmor.proto](https://github.com/accuknox/KubeArmor/blob/master/protobuf/kubearmor.proto)).

As we know, KubeArmor is deployed in each node (daemonset);
thus, we need to get audit logs from each node basically.

When KubeArmor generates audit logs, it can now send them to some other services using gRPC.

Here, KubeArmor provides [LogServer](https://github.com/

[2020-12-08 09:51] #15 closed, assigned to nam-jaehyun

[2020-12-15 10:31] nam-jaehyun commented on #13
Now, KubeArmor supports Containerd.

[2020-12-15 10:31] #13 closed, assigned to nam-jaehyun

[2020-12-17 02:08] nam-jaehyun commented on #17
Internal task

[2020-12-17 02:08] #17 closed, assigned to nobody

[2020-12-17 02:08] nam-jaehyun commented on #18
Internal task

[2020-12-17 02:08] #18 closed, assigned to nobody

[2020-12-17 02:08] nam-jaehyun commented on #19
Internal task

[2020-12-17 02:08] #19 closed, assigned to nobody

[2020-12-18 09:54] nam-jaehyun opened #22 "Policy reset problem during security policy updates"
I found an issue that security policies are sometimes gone when a new security policy is added.

Multiple structures are updated without locks during the updates of pods, containers, and security policies.
Thus, the updates sometimes overwrite some data (in particular, security policies), eventually missing some updates.

We need to properly fix KubeArmor's update logic.

[2020-12-18 11:39] #22 closed, assigned to nam-jaehyun

[2020-12-29 05:40] nam-jaehyun opened #25 "Add Namespace and Pod info in audit logs"
KubeArmor currently produces audit logs containing the IDs and names of containers.
I'll update KubeArmor to produce audit logs that contain {Namespace Name, Pod Name, Container ID, Container Name}.

[2020-12-29 05:45] nam-jaehyun opened #26 "Fix incorrect gobpf function parameters"
<img width="1277" alt="gobpf error" src="https://user-images.githubusercontent.com/67940721/103261329-7e950a80-49e4-11eb-914e-f78fddc94bc7.png">

When we compile KubeArmor in a bare-metal environment, there is an error in the gobpf library (not from KubeArmor).
I'll add a patch for this issue.

[2020-12-29 05:48] nam-jaehyun opened #27 "Missing audit policy count"
This is a minor issue.
When we apply security policies with the audit action, KubeArmor didn't count such policies.
It only counted security policies with the allow and block actions. I'll fix this soon.

[2020-12-29 05:52] nam-jaehyun opened #28 "Garbage value in the system logs of container monitor"
KubeArmor's container monitor keeps track of not only the lifecycles of processes but also the syscall failures in containers.
While extracting the arguments of syscalls, there were some garbage values.

{"updatedTime":"2020-12-28T10:53:45.968956Z","hostName":"localk8s","containerID":"be074ac2bdba143df46e5f88f4ebccc2cde6e196459b3d9f2ae11ef8529e693d","containerName":"k8s_ubuntu-1-container_ubuntu-1

[2020-12-29 05:54] nam-jaehyun opened #29 "gRPC connection failure"
When existing gRPC connections between KubeArmor and LogServer, there was no reconnection logic.
Thus, after facing some connection errors, logs were no longer delivered to LogServer.
I'll fix it soon.

[2020-12-29 10:56] #25 closed, assigned to nam-jaehyun

[2020-12-29 10:56] #26 closed, assigned to nam-jaehyun

[2020-12-29 10:56] #27 closed, assigned to nam-jaehyun

[2020-12-29 10:56] #28 closed, assigned to nam-jaehyun

[2020-12-29 10:56] #29 closed, assigned to nam-jaehyun

[2020-12-29 13:30] nam-jaehyun opened #31 "a profile disappears before it is deleted by KubeArmor"
![delete profile no such file](https://user-images.githubusercontent.com/67940721/103287063-e4a18200-4a24-11eb-8874-a5cc744068bb.png)

In general, all profiles are handled by KubeArmor with no problem.
There is a rare case that a profile disappears even though KubeArmor doesn't delete it yet.

[2020-12-30 10:22] nam-jaehyun opened #32 "no container runtime is detected?"
There is a case that no container runtime is detected.

[2020-12-30 10:41] #32 closed, assigned to nam-jaehyun

[2021-01-05 08:29] nam-jaehyun opened #35 "Investigate container attacks to define predefined policies"
So far, KubeArmor depends on user-defined security policies.
To extend its coverage, we'll investigate container attacks in the real world and develop security policies against them,
which can be then used for the baseline of container security.

[2021-01-05 08:32] nam-jaehyun opened #36 "Update Docker Engine API"
There have been some updates in Docker Engine APIs.
To support the k8s environment these days, we'll update Docker Engine APIs used for container discovery.

[2021-01-05 08:32] nam-jaehyun commented on #31
It was hard to reproduce this problem. Let's take a look at this later.

[2021-01-06 08:23] nam-jaehyun opened #37 "AppArmor: use libapparmor instead of apparmor_parser"
So far, KubeArmor uses apparmor_parser to enforce security policies.
We need to directly enforce security policies using libapparmor.

[2021-01-06 08:26] nam-jaehyun opened #38 "ContainerMonitor: use libbpf instead of bcc"
bcc requires kernel headers and it seems unstable when we test KubeArmor on several environments (with different kernel versions). Thus, we're planning to change the base of the container monitor from bcc to libbpf.

[2021-01-06 08:36] nam-jaehyun commented on #36
Here, we can see the docker API versions, which are different in Ubuntu 18.04, 20.04 and 20.10.

Docker 18.03.1 (the minimum version in Ubuntu 18.04) - v1.37
Docker 19.03.9 (the minimum version in Ubuntu 20.04) - v1.40
Docker 20.10.0 (the minimum version in Ubuntu 20.04) - v1.41

From these versions, I realized that we need a general approach to support such environments.
For this, we now use vers

[2021-01-06 10:11] #36 closed, assigned to nam-jaehyun

[2021-01-06 10:20] nam-jaehyun commented on #3
Those logs are now available as system logs (for failed system calls) given by the container monitor.

[2021-01-06 10:20] #3 closed, assigned to nam-jaehyun

[2021-01-13 02:57] nam-jaehyun opened #49 "Build automated test framework"
For policy verification, we need an automated test framework.
I'll upload the automated test framework soon.

[2021-01-13 03:08] nam-jaehyun commented on #49
tests/microservices
- add the microservices that you want to evaluate

tests/scenarios
- create a directory like [microservice name]_[test name]
- add a test case with a policy and commands for verification

For example,
tests/scenarios/multiubuntu_test_1/ksp-group-1-proc-path-block.yaml
tests/scenarios/multiubuntu_test_1/cmd1
tests/scenarios/multiubuntu_test_1/cmd2

The contents of cmd1
source: u

[2021-01-13 04:57] nyrahul opened #51 "expert-BSM Host-based Intrusion Detection Heuristics"
[These heuristics](https://github.com/accuknox/KubeArmor/files/5806457/eXpert-BSM.Host-based.Intrusion.Detection.Heuristics.pdf) provide rules for intrusion detection.
Tasks to handle:
- [ ] Map these rules to KubeArmor policies (Identify gaps in KubeArmor's policy specification)
- [ ] Templatize and allow this to be deployed along with KubeArmor.

[2021-01-13 10:57] #49 closed, assigned to nam-jaehyun

[2021-01-19 05:57] nyrahul opened #53 "Pre-install check script/bin"
A pre-install script that checks the pre-requisites needed for KubeArmor will be helpful during onboarding the clusters/nodes with the KubeArmor daemonset.

- [x] Check app-armor related installation/tools
- [x] Check kernel config, LSM configs
- [x] Any other tools dependencies.

[2021-01-22 10:20] nyrahul opened #54 "Apply native apparmor (or any LSM) policy using KubeArmor"
KubeArmor allows one to specify the YAML policy which in turn gets converted/mapped into app-armor or underlying LSM based policy spec.

It should be possible to specify the native app-armor (or other LSM) policy as it is in YAML so that we do not depend on the KubeArmor extensions to be added for supporting all the AppArmor constructs.

A sample YAML could be:
[code]
Notice the AppArmor specific

[2021-01-22 16:48] nyrahul opened #55 "STIG policies with KubeArmor"
[Security Technical Implementation Guides](https://public.cyber.mil/stigs/) (STIGs) provides a document library that details the possible system policy specification for most of the popular applications/containers out there. KubeArmor could:
- [ ] Provide a mapping of KubeArmor policies to STIG policies.
- [ ] extend the policy specification to handle those policies.

For e.g, [STIG specs for Post

[2021-01-25 02:09] nam-jaehyun commented on #5
These cannot add apparmor annotations automatically

[2021-01-25 02:09] #5 closed, assigned to nobody

[2021-01-25 03:21] nam-jaehyun opened #56 "Feature extension for resource restriction"
CPU/mem/disk limit - possible to define them in docker or k8s pod configurations
It would be possible to change such restrictions in runtime without configuration updates through KubeArmor

[2021-01-25 03:28] nam-jaehyun opened #57 "gRPC service of KubeArmor"
KubeArmor provides a gRPC service for externals.
It feeds logs and telemetry through the gRPC service.

There are several sub-tasks to achieve this.

- [x] Open gRPC service per KubeArmor
- [x] Calculate statistics
- [x] Feed logs and statistics to clients

[2021-01-25 09:57] nyrahul opened #58 "Test KubeArmor on AWS (EKS)"
Check if the KubeArmor can work on AWS k8s engines.

- [x] Check if the kernel primitives needed for KubeArmor are readily available
- [x] Test KubeArmor on AWS
- [x] Create a document for EKS deployment

Check if anyone can deploy KubeArmor based on the document

- [x] Double validation by someone else

[2021-01-25 10:06] nyrahul opened #59 "Auto-annotating the service/pod with apparmor annotations"
Currently, the AppArmor annotations have to be manually applied before deploying the service/pods.

For e.g., from [examples/wordpress-mysql](https://github.com/accuknox/KubeArmor/blob/master/examples/wordpress-mysql/wordpress-mysql-deployment.yaml) example deployment contains the manually added AppArmor annotation:
[code]
The AppArmor related annotations should be automatically applied if KubeArm

[2021-01-26 12:52] nam-jaehyun opened #60 "Add Severity in Policy Specification"
Add the severity field in a security policy

apiVersion: security.accuknox.com/v1
kind: KubeArmorPolicy
metadata:
  name: ksp-group-1-proc-path-block
  namespace: multiubuntu
spec:
  **severity: medium**
  selector:
    matchLabels:
      group: group-1
  process:
    matchPaths:
    - path: /bin/sleep # try sleep 1 (permission denied)
  action:
    Block

[2021-01-26 12:53] nam-jaehyun commented on #60
Then, we can see the severity of a policy violation from logs.

{"updatedTime":"2021-01-26T12:24:24.073028Z","hostName":"ubuntu20","namespaceName":"multiubuntu","podName":"ubuntu-1-deployment-5fd94b7b9b-vvbk2","containerID":"aa30045a08ed662534085ad49349ec120878f73ff9aa5451597e64eeaabcf030","containerName":"k8s_ubuntu-1-container_ubuntu-1-deployment-5fd94b7b9b-vvbk2_multiubuntu_0b79c32b-2f4c-4da8-b

[2021-01-26 13:02] nam-jaehyun opened #61 "Extend container-aware logs with policy details"
Log provided by Auditd

type=AVC msg=audit(1611571375.558:7542): apparmor="DENIED" operation="exec" profile="apparmor-demo-ubuntu-1" name="/bin/sleep" pid=2945377 comm="bash" requested_mask="x" denied_mask="x" fsuid=0 ouid=0

Container-aware log provided by KubeArmor

{
"updatedTime":"2021-01-26T12:24:24.073028Z",
"hostName":"ubuntu20",
"namespaceName":"multiubuntu",
"podName":"ubuntu-1-deployment

[2021-01-26 13:50] nam-jaehyun opened #62 "Update documents and examples"
Since we're going to update the policy specification and the log format,
we also need to update documents and examples.

[2021-01-26 13:57] nam-jaehyun opened #63 "Alerts from the policy violations of network operations and capabilities"
AppArmor and Auditd do not generate alerts for the policy violations in operations,
while they can generate alerts for the policy violations against object accesses (e.g., process executions and file accesses).

By update KubeArmor's container monitor, KubeArmor needs to generate alerts for the policy violations in operations too.

[2021-01-26 14:12] nam-jaehyun opened #64 "Auditing allowed operations"
KubeArmor provides three types of actions: Allow, Audit, and Block.

The current purpose of the 'Audit' action is to check if some policies are properly defined before using the 'Block' action.
So, we can basically get alerts related to certain security rules with the 'Audit' and 'Block' actions.

How about the 'allow' action? We can get alerts for some objects or operations that are not allowed.

[2021-01-27 05:43] #60 closed, assigned to nam-jaehyun

[2021-01-27 05:43] #61 closed, assigned to nam-jaehyun

[2021-01-27 05:43] #62 closed, assigned to nam-jaehyun

[2021-01-27 05:43] #63 closed, assigned to nam-jaehyun

[2021-01-27 05:43] #64 closed, assigned to nam-jaehyun

[2021-01-27 05:46] nam-jaehyun commented on #57
The statistics part is still under development.

[2021-01-27 16:43] #57 closed, assigned to nam-jaehyun

[2021-01-28 02:47] nam-jaehyun opened #68 "[Minor Update] Change severity unit"
Change the unit of severities.

Before: [high|medium|low]
After: [1 - 10]

[2021-01-28 03:04] nam-jaehyun opened #69 "[Minor Update] Add Filter for gRPC service"
Add a filter in the log watcher.

Before: all logs (including logs for matched policies and logs for failed system calls)
After: filtered logs according to log type

[2021-01-28 04:05] #68 closed, assigned to nam-jaehyun

[2021-01-28 04:05] #69 closed, assigned to nam-jaehyun

[2021-01-28 04:31] seungsoo-lee opened #71 "Get/Describe ksp via kubectl"
We need to get/describe kubeArmor security policy information like Cilium network policy `(e.g., $kubectl get cnp)`

- [x] kubectl get ksp
- [x] kubectl describe ksp [ksp name]

[2021-01-28 07:40] #71 closed, assigned to seungsoo-lee

[2021-01-30 07:37] #9 closed, assigned to nam-jaehyun

[2021-02-02 03:01] seungsoo-lee commented on #58
AWS EKS uses Amazon Linux 2 as an OS image, there are no other options.

The kernel version is 4.14 by default, and we can upgrade to 5.4.

BUT, Amazon Linux 2 does not support AppArmor. They suggest using SELinux.

ref. https://forums.aws.amazon.com/thread.jspa?threadID=320641

![Screen Shot 2021-02-02 at 12 01 15 PM](https://user-images.githubusercontent.com/7541723/106546385-6ddd3480-654e-11eb-

[2021-02-02 03:15] seungsoo-lee opened #76 "SELinux investigation & support"
AWS EKS does not support AppArmor. They only support SELinux.

So, we need to investigate SELinux and support it in KubeArmor.

Update (5th Nov 2024): AWS EKS has since past couple of years started supporting BPF LSM out of the box and hence AWS EKS problem is no more an issue with SELinux.

[2021-02-02 06:11] #59 closed, assigned to nam-jaehyun

[2021-02-04 06:18] abhishekratnam commented on #53
### It's giving "error: code model kernel does not support PIC mode. Rest i have made the modifications accordingly
`#!/bin/bash

echo "upgrading existing apparmor dependencies according to the kubearmor."
sudo apt-get install build-essential
sudo apt-get install --reinstall make
sudo apt-get install manpages-dev
gcc --version
curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/rele

[2021-02-09 05:44] nam-jaehyun opened #81 "Network rules are not working on GKE"
KubeArmor provides network rules (specifying protocols that we want to allow or block).
These network rules are working fine on a bare-metal environment.
However, they are not working on GKE.

No matter what network rules are defined, they are ignored on GKE.
We need to investigate this issue.

[2021-02-09 09:06] sublimino commented on #81
FYI Dataplane v2 (Cillium) will become standard on GKE but is a little different to stand up https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2?hl=it#create-cluster

[2021-02-09 09:21] nam-jaehyun commented on #81
@sublimino cilium and kubearmor have different views.
what I mean is that we're not talking about security rules for inter-container communications.
instead, we're talking about the networking capability of processes inside of containers.

[2021-02-15 12:49] nam-jaehyun commented on #81
The AppArmor provided by GKE currently doesn't support network rules.
Therefore, if we want to block ICMP, we need to block the NET_RAW capability instead of ICMP.
In the case of TCP and UDP, there is no way to control such networking operations on GKE.

[2021-02-15 12:52] nam-jaehyun commented on #31
This issue has not been discovered so far; thus, I'm closing it at this point.
If anyone sees this issue again, I'll reopen the issue.

[2021-02-15 12:52] #31 closed, assigned to nam-jaehyun

[2021-02-17 04:46] nyrahul opened #83 "Support for Host based policies"
KubeArmor currently supports pod-specific policies i.e, one needs to specify the pod selector labels and optionally namespace for policy enforcement. However, there are rules that are applicable at the host level and thus need handling using NodeSelector labels alone. There is no notion of namespaces for host-based rules.

Check [Cilium's host-policies](https://docs.cilium.io/en/v1.9/policy/langua

[2021-02-17 11:34] #53 closed, assigned to nam-jaehyun

[2021-02-18 07:52] nam-jaehyun opened #85 "Failing kubearmor-cos-auditd during its healthcheck"
In GKE, kubearmor works fine, but kubearmor-cos-auditd is being failed after some time.
It seems that something causes such failures during healthcheck.
Require an investigation on this issue and fix it.

[2021-02-21 07:43] nam-jaehyun opened #86 "Policy enforcement failure due to rule conflicts"
Let's say that we have the following policies.

Policy A
[code]

Policy B
[code]

Those policies are converted something like this.

[code]

Causing the policy enforcement failure because of two /bin/bash lines.

[2021-02-23 06:02] #85 closed, assigned to nam-jaehyun

[2021-02-24 12:11] nyrahul opened #91 "specify multiple protocols, capabilities in the same rule"
KubeArmor currently allows enabling/disabling network protocols and system capabilities, one protocol/cap at a time.
It should be possible to specify multiple protocols or system capabilities in the same rule.

For e.g, if the user wants to enable TCP and UDP protocols (and not ICMP), then the user has to specify two different rules i.e, one enabling TCP and the other enabling UDP. Following is th

[2021-03-08 04:01] nam-jaehyun opened #99 "Apply policies for host security"

[2021-03-08 04:06] seungsoo-lee commented on #58
![image](https://user-images.githubusercontent.com/7541723/110273067-17608b80-800f-11eb-9aaa-96a97e9e9440.png)

currently, SELinux not supported in aws/eks

[2021-03-13 05:25] nyrahul commented on #99
Duplicate of #83.

[2021-03-13 05:25] #99 closed, assigned to nam-jaehyun

[2021-03-18 07:52] nam-jaehyun opened #104 "Need a security policy validator and supporting per-field/rule action/severity"
When we apply security policies based on KubeArmor's CRD, we need to check two things.

1. Syntax

CRD basically contains syntax validation logic for each field, but it can only check input types or patterns.

2. Semantics

CRD doesn't contain any validations for semantics, meaning that a user needs to properly define security policies without semantics errors.

Here are some examples.
- 'ownerOnl

[2021-03-24 02:48] #91 closed, assigned to johngv2

[2021-03-25 10:14] nam-jaehyun commented on #83
the enforcement part for host security is handled, but the logging part is still missing.
Thus, I'd like to keep it open until all parts are addressed.

[2021-03-26 02:27] seungsoo-lee opened #108 "Handling for access to the predefined host volume mount"
In SELinux, if a user wants to deploy a pod that has host-volume mount options, we should handling right after attaching the SELinux type label for the pod to access the mounted volume.

[code]

In this case, we should care the `/home` directory by default, and then the user can apply a policy that defines access control of the subdirectories.

[2021-03-31 08:45] nam-jaehyun opened #109 "Enable KubeArmor per namespace"
When KubeArmor is deployed, it currently injects AppArmor annotations to all pods to put them under its control.
However, there could be some issues when AppArmor is applied to pods in certain namespaces.
Thus, similar to 'istio-injection=enabled' used by Istio, I'm planning to have the 'kubearmor=enabled' label at the namespace level to selectively inject AppArmor annotations to pods in specific

[2021-03-31 10:03] nam-jaehyun opened #110 "Add documents for code development and testing"
- [x] Local test guide for code development
- [x] Tool for error report (collecting system information, Kubernetes logs, KubeArmor logs, and audit logs)

[2021-03-31 10:06] #108 closed, assigned to seungsoo-lee

[2021-03-31 10:15] seungsoo-lee opened #112 "Enable to update kubearmor security policy (ksp) in SELinux"
In addition to the default mount options, we need to enable updating ksp in SELinux env.

[2021-04-02 06:29] #83 closed, assigned to nam-jaehyun

[2021-04-02 06:48] nam-jaehyun opened #114 "Generate a test report using the auto-testing framework"
- [x] The standout output of the auto-testing framework

[INFO] Starting KubeArmor
customresourcedefinition.apiextensions.k8s.io/kubearmorhostpolicies.security.accuknox.com configured
customresourcedefinition.apiextensions.k8s.io/kubearmorpolicies.security.accuknox.com configured
[INFO] Started KubeArmor
[INFO] Applying multiubuntu
namespace/multiubuntu created
deployment.apps/ubuntu-1-deployment

[2021-04-02 06:56] #114 closed, assigned to nam-jaehyun

[2021-04-02 07:12] nam-jaehyun commented on #8
No longer required

[2021-04-02 07:12] #8 closed, assigned to nobody

[2021-04-09 09:31] #112 closed, assigned to seungsoo-lee

[2021-04-13 11:25] nyrahul commented on #104
## Supporting per-field/rule action/severity

KubeArmor currently allows specific `action`/`severity` on per policy only. If multiple rules of different types exist in the same policy then KubeArmor does not support specifying different action/severity on per-rule type.

In the future, we should support per-field/per-rule/per-policy. Check following example to be supported.

[code]

[2021-05-09 04:01] rficcaglia opened #125 "listing on ebpf.io"
I think you would meet most/all of the requirements listed on https://ebpf.io/projects - maybe some best-practice housekeeping like CII badge requirements and such.

[2021-05-10 15:29] nam-jaehyun commented on #109
KubeArmor applies AppArmor profiles to all pods and enforces security policies to them by default.
However, there could be some cases that we need to selectively apply AppArmor profiles to certain pods only.
For this, KubeArmor now provides the option "-enableEnforcerPerPod".
Then, it can be enabled by annotating "kubearmor-policy=enabled" per pod.

[2021-05-10 15:37] nam-jaehyun opened #126 "Get visibility into the behaviors of containers"
KubeArmor provides alert logs against policy violations in containers.
Now, we want to get visibility into the behaviors of containers.

[2021-05-10 15:38] nam-jaehyun commented on #126
We can get visibility into the behaviors of containers by annotating "**kubearmor-visibility=[operation(,)]**" per pod.

Supported operations are "process", "file", "network", and "capabilities",
and we can add an annotation like "kubearmor-visibility=process,file,network,capabilities".

[2021-05-10 15:54] nam-jaehyun opened #127 "Provide severities, tags, messages, and actions per rule"
Security policies can have multiple rules, but they can only have the same severity, tag, message, and action per policy.
Now, we want to also have the severity, tag, message, and action per rule.

Before:
[code]

After:
[code]

[2021-05-10 16:28] #109 closed, assigned to nam-jaehyun

[2021-05-10 16:28] #126 closed, assigned to nam-jaehyun

[2021-05-10 16:28] #127 closed, assigned to nam-jaehyun

[2021-05-12 14:36] nam-jaehyun commented on #125
Thanks for the information. I made a pull request to ebpf.io.
We will see KubeArmor on the projects list of ebpf.io once the PR is merged.

[2021-05-18 06:05] nam-jaehyun commented on #4
Added "the introduction to LSMs" written by Rahul in the Wiki.
https://github.com/accuknox/KubeArmor/wiki/Introduction-to-Linux-Security-Modules-(LSMs)

[2021-05-18 06:05] #4 closed, assigned to nobody

[2021-05-20 08:42] nam-jaehyun opened #132 "Add MySQL Client"
Add a MySQL client
- receives the messages, alerts, and system logs from KubeArmor through gRPC
- pushes them into a database.

[2021-05-20 10:16] #132 closed, assigned to nam-jaehyun

[2021-05-22 12:03] nam-jaehyun opened #134 "Add Kafka Client"
Add a Kafka client
- receives the messages, alerts, and system logs from KubeArmor through gRPC
- pushes them into Kafka according to given topics.

[2021-05-22 12:20] #134 closed, assigned to nam-jaehyun

[2021-05-25 03:15] nam-jaehyun opened #136 "Add KubeArmor-relay-server"
Similar to cilium's hubble-relay,
KubeArmor provides a relay server that provides the same gRPC server to others
while it collects all feeds from KubeArmor in each node.
Thus, any other service can get kubearmor's feeds through the kubearmor service (i.e., clusterIP)

[2021-05-25 03:20] #136 closed, assigned to nam-jaehyun

[2021-05-31 05:43] nam-jaehyun opened #140 "Do not schedule KubeArmor pods on windows nodes"
It is possible that a customer might have windows based worker nodes in their deployment. Cilium fixed [this issue](https://github.com/cilium/cilium/issues/14410) by using node affinity based k8s rules.

[2021-05-31 05:43] nam-jaehyun commented on #76
In terms of SELinux integration, we have limited features for containers due to SELinux labeling issues.
Thus, while dealing with the SELinux limitations, we want to provide policy-based auditing using eBPF.

For this, we need to handle two things.
1. Block policy -> generate alerts with "Block (Audit)" action
2. Allow policy -> generate alerts against all things except for allowed ones with "Allo

[2021-05-31 06:00] nam-jaehyun commented on #104
As the first step, I'd like to see the following functions.

1. custom controller deployment for kubearmor policies.
2. check policies already applied in kubernetes at the controller.
3. return the fail code when a new policy is applied and there are some issues in the policy.

By the way, supporting per-field/rule action/severity is already there (#127).

[2021-05-31 06:16] #140 closed, assigned to nam-jaehyun

[2021-05-31 06:23] nam-jaehyun commented on #110
(Rahul) If someone has to report a problem with KubeArmor, we have to ask a number of questions. It would be easier if we can give them a tool that can scrape for diagnostics and provide a system dump information. Of course, the tool MUST NOT scrape any security-sensitive information and must be run by the customers themselves only in customer env.
The tool should work on the same principles as Ci

[2021-05-31 06:53] nam-jaehyun opened #142 "Support the NOT operation for auditing"
we need to support the NOT operation in the policy specification.

For example, we want to see any operations in the /var/lib/mysql directory except for the ones triggered by /usr/bin/mysql.

[code]

As another example, we want to see any file accesses in the /test directory except for /test/common and /test/temp/*.

[code]

[2021-05-31 07:38] nam-jaehyun opened #143 "Update the PolicyMatcher for matchPatterns"
Currently, the policy matching logic for matchPatterns is missing.
Need to update the logic in [policyMatcher.go](https://github.com/accuknox/KubeArmor/blob/master/KubeArmor/feeder/policyMatcher.go).

[2021-06-01 08:12] nam-jaehyun commented on #81
For the network rules on GKE, we can replace the Block action with the Audit action.
So, if we want to block the TCP connection in the pods with the key=value label,
KubeArmor enforces the corresponding rule into the nodes on GKE by replacing the actions like "Block" -> "Block (Audit)".
Of course, this replacement should happen on GKE only. In other environments, we keep original actions.

[2021-06-04 13:08] geyslan opened #146 "KubeArmor: Makefile errors (Development Guide)"
Following the Development Guide **Environment Check** steps (item 3),  after putting the KubeArmor vagrant up and trying to `make` it, the first Makefile rule that calls `patch.sh` is returning `permission denied` from `go get github.com/iovisor/gobpf`.

That can be solved running `sudo chown -R vagrant /home/vagrant/go` **fix#1**.

Doing that, the second line of that rule (the proper build) retur

[2021-06-07 12:02] oneiro-naut commented on #54
Hi, could this issue be assigned to me?

[2021-06-09 13:22] oneiro-naut commented on #54
Hi, I have come up with some ideas. I would like to know if I am approaching the requirements correctly. As of now when we apply kubearmorpolicy these security policies are parsed and apparmor rules are emitted using the functions defined in [enforcer/appArmorProfiles.go](https://github.com/accuknox/KubeArmor/blob/master/KubeArmor/enforcer/appArmorProfile.go) .
The following function is responsibl

[2021-06-09 13:40] nam-jaehyun commented on #54
@oneiro-naut This is what we expected. Just one more thing. We also need to update the KubeArmorPolicy CRD.

[2021-06-10 12:51] itaysk opened #148 "Attribution to Tracee"
Hello from Team [Tracee](https://github.com/aquasecurity/tracee)!
We recently came across this project and couldn't have ignored the stark resemblance of your code to the Tracee code in some places, specifically in the monitoring and eBPF parts. We are flattered that we managed to inspire you and you are free to continue and use any part of Tracee as long as you respect its open source license agr

[2021-06-10 13:09] nam-jaehyun commented on #148
Sure, we'll add some NOTICEs in this project.

[2021-06-10 16:07] geyslan commented on #143
@nam-jaehyun please assign this to me.

The lack is related to these, right?

https://github.com/accuknox/KubeArmor/blob/530306afe75c60c4fe57e0ab692201a0f8e2ff71/KubeArmor/feeder/policyMatcher.go#L139-L141

https://github.com/accuknox/KubeArmor/blob/530306afe75c60c4fe57e0ab692201a0f8e2ff71/KubeArmor/feeder/policyMatcher.go#L259-L261

https://github.com/accuknox/KubeArmor/blob/530306afe75c60c4fe57e

[2021-06-10 16:39] nyrahul commented on #148
Surely Itay, we should have attributed this in the first place. Thank you for bringing this to our notice.

[2021-06-11 03:21] nam-jaehyun opened #149 "Support different types of nodes in a cluster"
Currently, KubeArmor supports a single type of node in a cluster.
It can be deployed with Ubuntu platforms with Docker or with Containerd,
Container-optimized OS with Docker, Container-optimized OS with Containerd, and so on.

However, if multiple types of nodes are deployed in the same cluster, it raises an issue.

We need to fix this problem.

[2021-06-12 09:44] oneiro-naut commented on #54
Hi @nam-jaehyun, I got some issues while trying to test the updated KubeArmorPolicy CRD. I ran make and make install and got an error which said command kustomize not found. I am using KubeArmor-Dev VM and found that kustomize wasn't installed. Also it's not listed in this [go.mod](https://github.com/accuknox/KubeArmor/blob/master/pkg/KubeArmorPolicy/go.mod) file. After manual installation of kust

[2021-06-12 09:47] nam-jaehyun commented on #54
Could you explain the problem in more detail? I don't think we need 'kustomize'...

[2021-06-12 09:49] oneiro-naut commented on #54
We have invoked it in the Makefile. Here:https://github.com/accuknox/KubeArmor/blob/530306afe75c60c4fe57e0ab692201a0f8e2ff71/pkg/KubeArmorPolicy/Makefile#L29
This target is supposed to update the current CRD. In the KubeArmor-Dev VM kustomize isn't installed so make install fails.

[2021-06-12 09:57] nam-jaehyun commented on #54
No one made the issue about kustomize. Although it's been used, I think it was somehow installed so far. (Even, I didn't have that issue when I was working on the CRDs...) Thus, I don't want to simply add the kustomize installation step unless it's necessary and there is no place where kustomize is installed.

[2021-06-13 10:15] nam-jaehyun commented on #143
@geyslan Yes, those are the missing part, and the key point is this.
In the cases of paths and directories, we can conduct some exact matching or prefix matching
to find the policy corresponding to an incoming log. However, when we use patterns, we need additional processes.
For example, how can we conduct the policy matching if a pattern looks like "/{usr/bin,bin}/foo"?

[2021-06-14 03:34] nam-jaehyun commented on #54
@oneiro-naut I saw the results, and it seems that it works fine.

By the way, please add empty lines before "## == NAIVE POLICY START == ##" and after "## == NATIVE POLICY END == ##"
Also, make sure that when a native AppArmor policy is removed, there is an empty line between "## == POLICY END == ##" and "## == POST START == ##".

One more thing I'd like to ask you!

When a native AppArmor policy

[2021-06-14 05:58] #54 closed, assigned to oneiro-naut

[2021-06-14 07:17] oneiro-naut commented on #54
Hi @nam-jaehyun . Regarding the log generation when any of these native policies is violated. I also observed that we don't get anything in the /tmp/kubearmor.log as of now when any of these native policies is triggered. Currently these native policies are not being tracked the way usual policies are tracked. The reason might be that native policies entries aren't being added to feeders security p

[2021-06-14 07:18] nam-jaehyun commented on #54
@oneiro-naut Please create a new issue with good observation descriptions.

[2021-06-14 07:19] oneiro-naut commented on #54
Sure @nam-jaehyun .

[2021-06-14 07:50] daemon1024 commented on #86
Hi, I am working on this. Could this issue be assigned to me?

[2021-06-14 07:53] nam-jaehyun commented on #86
@daemon1024 I assigned this issue to you.

[2021-06-14 08:43] oneiro-naut opened #151 "Add policy match support for native AppArmor policies"
KubeArmor allows native apparmor policies to be added as it is in YAML policies. These native policies are being enforced but do not generate any logs upon policy violations. This issue can be reproduced by simply applying any native apparmor policy and violating it in the selected pods. This should have ideally generated logs in the kubearmor.log file. But the log file will contain no such events

[2021-06-14 10:08] geyslan commented on #151
@oneiro-naut I am creating tests for policyMatcher.go and planning (perhaps) to refactor it massively. Could you explain your approach to this issue so we can work side by side? Thanks.

[2021-06-14 11:26] oneiro-naut commented on #151
@geyslan I plan to add a condition to check if the security policy Spec contains non empty Apparmor field. If it does it will be appended to map [1] along with its associated metadata. Basically adding an if block inside this for loop. https://github.com/accuknox/KubeArmor/blob/cc3b39c19ba6f23cd418d042db7eac4e0b145e06/KubeArmor/feeder/policyMatcher.go#L22

[2021-06-14 13:06] geyslan commented on #151
Ok. I'm following this issue so we can be aligned. Thanks.

[2021-06-14 13:26] #146 closed, assigned to geyslan

[2021-06-14 16:15] geyslan commented on #143
Regarding this, I think we need to specify and to clarify in the documentation some restriction rules for the pattern usage as the same [documentation](https://github.com/accuknox/KubeArmor/blob/master/getting-started/security_policy_specification.md) doesn't recommend the `matchPatterns`:

But I also noticed that documentation specifies:

Maybe we can rely on Golang own `regexp` package as a gene

[2021-06-15 03:57] nam-jaehyun commented on #143
1. I'm not sure that AppArmor's regex engine follows generic regex rules; thus, I feel that regexp may work differently.
However, it would be worth trying to generate several regex patterns and check them in both regexp and AppArmor.

2. the whole "matches" is always generated whenever there is a new policy or a modification in a policy; thus, we don't need to care about the removal of individual

[2021-06-15 15:25] geyslan commented on #143
I suspect that AppArmor doesn't support regex, based on its documentation. It actually works with Globbing patterns.

These are some Glob examples: https://play.golang.org/p/vB6iaiUQUhp

It looks like `Glob()` doesn't work very well in some scenarios.

By saying that, you mean we don't need to lock during deletion, right?

Thanks a million.

---

Edit:

I have doubts about where the pattern should

[2021-06-16 07:14] nam-jaehyun commented on #143
While we have policies with patterns in userspace, system logs come from the kernel space with the actual paths.
To generate alerts, we need to find which policies the system logs are mapped to according to the given patterns.

So, we need to ...
1. pre-compute patterns when they are applied in advance (UpdateSecurityPolicies in policyMatcher.go).
2. match the patterns with system logs for generat

[2021-06-16 10:25] oneiro-naut commented on #151
Hi @nam-jaehyun . I have made few changes so far which are allowing native policy logs to be dumped in kubearmor.logs. But the problem is  the logs are gathering unrelated events along with the native one. Its expected since we don't parse the native rules and have no higher level tags or metadata associated with them. I have thought of some ways to match these native rules but all of them will re

[2021-06-16 11:18] geyslan commented on #143
Sure thing. Thanks a million.

[2021-06-16 11:50] nam-jaehyun commented on #151
@oneiro-naut We wanted to support native AppArmor rules as they are. It doesn't mean that we don't parse the native rules.
In the view of a user, he/she uses native rules. In the view of KubeArmor, it can still parse the rules for specific reasons.

[2021-06-17 11:09] nyrahul commented on #151
To summarize from today's discussion:
1. We won't parse native rules in KubeArmor since it is difficult to know what to expect. Secondly, the same might have to be done for other LSMs (SELinux) and this will get extremely complex in no time and still cannot guarantee that it will work in all cases.
2. For native rules and baseline LSM rules, when we get an audit/deny the event, we will augment the

[2021-06-17 13:39] oneiro-naut commented on #151
Thanks @nyrahul . I will make changes accordingly.

[2021-06-18 05:06] nyrahul commented on #151
Also one more point:

**We need to reject the policy if someone attempts to specify a native AppArmor policy when the platform doesn't support that LSM.**

This validation code needs to be generic i.e. when we support SELinux native policies this validation should work as-is.

If you think this is difficult to handle now or out-of-scope for this issue then raise another issue and let's keep it in

[2021-06-18 05:51] nyrahul opened #153 "supporting netnext/latest kernels"
- [x] supporting netnext for dev env setup
- [x] fixing compilation issues for kubearmor for latest kernel (>5.10)
- [x] Updating dev guide document
- [x] speed up compilation

[2021-06-19 00:47] geyslan commented on #153
Reproducible:

[code]

[code]

I'm updating the vagrant box from version 94 to 96. `NETNEXT=1 vagrant box update`

https://vagrantcloud.com/cilium/boxes/ubuntu-next/versions/96/providers/virtualbox.box

When done I'll try to run KubeArmor on it.

[2021-06-19 02:58] nyrahul commented on #153
Yes, this is the pending compilation issue still open.
I am using version 96 and it still fails. I think I know the problem, but I am trying to understand the best way to fix it. The problem is the header files location.

[2021-06-19 03:14] geyslan commented on #153
The same error with version 96:

[code]

I think I've found the issue:

[code]

Cilium image does not have all kernel include files.

So, after downloading and installing the linux-image, linux-headers and linux-modules packages from https://kernel.ubuntu.com/~kernel-ppa/mainline, KubeArmor worked smoothly again.

[code]

👍

[2021-06-19 03:21] geyslan commented on #153
Maybe adding rules to Vagrant to download and install a specific kernel version (image, modules and includes).

[2021-06-19 03:26] nyrahul commented on #153
Yeah, the linux-headers download worked for me too ... But I was trying to check if there is any other way to do it... Note that cilium eBPF modules compile on the same image without these additional installs.

Turns out BCC has a way to specify the kernel-headers location using BCC_KERNEL_SOURCES.. Haven't tried this yet.

[2021-06-19 14:46] geyslan commented on #153
In KubeArmor, there is only one use of BCC_KERNEL_SOURCE:

https://github.com/accuknox/KubeArmor/blob/0657bb66c3bbc80e27f1b4e966667041bd530706/KubeArmor/monitor/systemMonitor.go#L222-L247

The script `/GKE/download_cos_kernel_headers.sh` fails when running from outside KubeArmor (probably because it was designed for a specific environment):

[code]

[2021-06-20 08:29] nam-jaehyun commented on #153
@geyslan I was updating the certificates for 0x010.com. At that time, it seems that you tried to download kernel headers.
I updated the certificate; thus, there would no certificate issue now.

[2021-06-20 09:28] oneiro-naut commented on #151
Hi @nyrahul . I looked into this. I think we would need some generic fields to be added to the SecurityPolicy struct and the current KubeArmorPolicy CRD. Currently native is synonymous with Apparmor native only. So as a prerequisite to implement this point we would need to add a parent field so that yaml will look something like this:
[code]
I feel this point should be handled as a separate issue.

[2021-06-21 02:50] nyrahul commented on #151
Handling it in a separate issue is fine but regarding adding generic fields, I am not sure if I follow.
It is already possible to know what LSM is to be used for the native policies.
![image](https://user-images.githubusercontent.com/9133227/122700774-8afa7180-d269-11eb-8267-8993f4a04f55.png)

[2021-06-21 06:40] nyrahul commented on #153
@geyslan, Looks like the easiest is to handle by downloading the images. Now I am thinking what is the point of using Cilium/Ubuntu-net-next kernel image if we are going to update the kernel itself!
I guess we will simply use the same ubuntu-bionic image and update the kernel img/mods/hdrs.

[2021-06-21 12:35] geyslan commented on #153
@nam-jaehyun, I see. Could this script be run from the shell? If so, inside of which directory?

@nyrahul, I agree. `ubuntu-bionic` + `kernel updating` seem to be the most practical way at this point, indeed.

[2021-06-21 13:00] daemon1024 commented on #86
Hey, I think have got an understanding of the problem.

https://github.com/accuknox/KubeArmor/blob/38fc028685a3864f4485c05ff65ec78962f5eca6/KubeArmor/enforcer/appArmorProfile.go#L15

Currently we check `paths` and `FromSource paths` independently, we need to check such that sources shouldn't have any conflicts with processes white/blacklists.

In the example specified in the description, the final

[2021-06-21 13:25] #149 closed, assigned to nam-jaehyun

[2021-06-21 13:27] #151 closed, assigned to oneiro-naut

[2021-06-22 05:33] nam-jaehyun commented on #86
@daemon1024 Yes, that was what I thought, but I'm wondering if there is no problem when we have such AppArmor rules.
If you validate those AppArmor rules before starting the implementation, it would be helpful.
Please check if there is no syntax and semantic error.

[2021-06-22 07:01] #153 closed, assigned to nyrahul

[2021-06-22 07:02] #148 closed, assigned to nobody

[2021-06-22 08:23] CBVenkataReddy commented on #104
@nam-jaehyun I just started working on this issue, Please let us know your comments on my understanding any further inputs on the same will be quite helpful.

For KubeArmorPolicy and KubeArmorHostPolicy most of the scaffolding has been already generated for us by kubebuilder in main.go and controllers/.
Inside the controllers/kubearmorpolicy_controller.go and controllers/kubearmorhostpolicy_contro

[2021-06-22 08:36] nam-jaehyun commented on #104
@CBVenkataReddy Yes, exactly. All validation logic would be implemented in the "Reconcile" function.

[2021-06-24 13:21] geyslan opened #162 "KubeArmor panics when Kubernetes pods restart"
KubeArmor panics when trying to detect new pods after restarting Kubernetes pods.

### Steps to reproduce

Get [multiubuntu](https://github.com/accuknox/KubeArmor/blob/master/examples/multiubuntu.md) pods up.

Run KubeArmor.

**vagrant@kubearmor-dev:~/KubeArmor/KubeArmor$** `make run`

It detects the whole thing.

[code]

Now restart the multiubuntu pods.

**vagrant@kubearmor-dev:~/KubeArmor/examp

[2021-06-24 14:43] oneiro-naut opened #163 "Security policies not working if Pods are deployed before KubeArmor"
Security policies can't be deleted, modified and added to the pods which were deployed prior to KubeArmor deployment. #162 is a result of this issue. The following steps were ran on the kubearmor-dev vagrant VM.
Steps to reproduce the bug:
1. Deploy multiubuntu pods.
`vagrant@kubearmor-dev:~$ kubectl apply -f KubeArmor/examples/multiubuntu/`
2. Deploy KubeArmor.
`vagrant@kubearmor-dev:~$ kubectl a

[2021-06-24 14:55] geyslan commented on #163
I have noticed these behaviors. Thanks for creating the issue.

[2021-06-24 15:03] oneiro-naut commented on #163
The problem seems to be happening because of this line in particular:
https://github.com/accuknox/KubeArmor/blob/a584a021a96d4d7c9c994f01ee15f9af1ec214da/KubeArmor/core/dockerHandler.go#L118
In the case of restart this value remains an empty string. For some reason the response received by the DockerClient doesn't contain anything for field AppArmorProfile. And this field is later is used to initi

[2021-06-24 16:05] geyslan commented on #162
May be related to #163.

[2021-06-25 11:26] oneiro-naut commented on #162
Hi @geyslan . I am able to reproduce this issue without using make run. I deployed KubeArmor using the deployment yaml.
[code]
The key point of this issue is that multiubuntu must be deployed before KubeArmor. This issue is directly a consequence of #163.

[2021-06-25 11:40] geyslan commented on #162
@oneiro-naut Thanks for taking the time to test this out. That's the right way to handle open source. :rocket:

[2021-06-25 14:51] geyslan opened #165 "Makefile can be improved for a better contribution environment setup"
The main `Makefile` can be improved to provide a better contribution environment setup. Topics in thought:

- Easy debugging through pid attachment and remote connection.
- Easy spawning of new vagrant ssh connections.

I put some effort into it, but it's still a WIP. Please assign this to me.

[2021-06-27 05:15] #162 closed, assigned to nobody

[2021-06-27 10:18] nam-jaehyun opened #167 "Enable HostPolicy with Containerd"
KubeArmor supports HostPolicy on AppArmor-enabled Linux with Docker.
Now, we need to support HostPolicy on Linux with Containerd as the next step.

Here are the design requirements.

1. KubeArmor enforces HostProfile into a node, restricting the host processes according to the host policies.
2. There should be no problem in container creation and deletion.
3. There should be no impact on other hos

[2021-06-27 10:19] nam-jaehyun opened #168 "Support the automated test framework for KubeArmorHostPolicy"
KubeArmor provides test scripts for KubeArmorPolicy.
Now, we need to support KubeArmorHostPolicy too.

[2021-06-27 10:29] nam-jaehyun opened #169 "Enable the Audit mode by default if no LSM exists"
There could be no LSM that KubeArmor supports in a node.
In such a case, KubeArmor needs to enable the Audit mode instead of the Enforcement mode by default.

[2021-06-27 19:19] daemon1024 opened #170 "Github Action Tasks for KubeArmor"
- [x] Build
		`make build`
- [x] Code Coverage
	- codecov
- [x] CodeQL Analysis / GoSec
- [x] Go related Checks
	- [x] lint
	- [x] fmt
- [x] Testing
	- [x] Unit Test
			`make testall`
	- [x] Auto testing framework
			https://github.com/accuknox/KubeArmor/blob/master/contribution/testing_guide.md
		- [x] For different kernel versions
			Github Actions allows to specify ubuntu 18.04/ ubuntu 20.04 as

[2021-06-28 03:50] nam-jaehyun opened #171 "Keep eBPF maps separately even though KubeArmor is restarted"
There could be some possibilities that KubeArmor is restarted due to unexpected reasons.
In this case, KubeArmor will lose the container-awareness stored in eBPF maps
and it cannot map the system events with the corresponding containers.
To prevent such a problem, KubeArmor needs to maintain eBPF maps separately (e.g., /sys/fs/bpf/...).

[2021-06-28 04:12] nam-jaehyun commented on #81
In the case of GKE, the Block action of KubeArmor's network policies is changed to the Audit action (i.e., "Audit (Block)").

[2021-06-28 04:12] #81 closed, assigned to nam-jaehyun

[2021-06-28 05:01] oneiro-naut commented on #163
Hi @nam-jaehyun. For the pods deployed before KubeArmor was deployed we don't get their "added" container event from the dockerHandler. The reason might be that the event is generated earlier than KubeArmor start and dockerClient is unable to fetch it. I have come up with an idea and would like to know your thoughts on this. The idea is that when we initialize the KubeArmor daemon we add 3 extra s

[2021-06-28 06:44] #169 closed, assigned to nam-jaehyun

[2021-06-28 07:49] nam-jaehyun commented on #163
@oneiro-naut The key problem is that we cannot figure out the PID and MNT namespaces for already-deployed containers.
In other words, even though we know the container information deployed earlier than KubeArmor, we cannot map the system events with the discovered container information.

[2021-06-28 10:33] oneiro-naut commented on #163
@nam-jaehyun Does this mean that even if we are able to enforce the policies on these pods we wont be able to monitor them? So we will need to make changes in the KubeArmor monitor as the final step?

[2021-06-28 10:39] nam-jaehyun commented on #163
@oneiro-naut Yes. So, I created a new issue related to the monitor [#171](https://github.com/accuknox/KubeArmor/issues/171)

[2021-06-28 10:39] oneiro-naut commented on #163
Are my steps to get the container information correct. Because we would still need them to enforce the policies on these already-deployed containers?

[2021-06-28 10:41] Ankurk99 opened #175 "Vagrantfile only checks for RSA algorithm for SSH keys"
Currently Vagrantfile to provision kubearmor-dev checks only for ~/.ssh/id_rsa.pub, but it can cause error because not all users are using rsa algorithm for ssh keygeneration (maybe ed25519) that way the ssh keys will be saved as id_ed25519.pub and not id_rsa.pub.
This can be corrected if we can generate id_rsa.pub if it doesn't exist.

[2021-06-28 10:44] nam-jaehyun commented on #163
@oneiro-naut In the current implementation, KubeArmor maintains the 'containers' list using Containerd and Docker APIs and it has all containers (even already deployed containers). At the same time, KubeArmor maintains all pods using K8s APIs and updates the namespace and pod information of containers in the 'containers' list. Thus, we already have all information related to containers. The only m

[2021-06-29 07:55] oneiro-naut commented on #171
Hi @nam-jaehyun. We would need to modify this maps like[1]
https://github.com/accuknox/KubeArmor/blob/be1a0e39f7931ef6fe74f24b7f7ef35013f83ee8/KubeArmor/BPF/system_monitor.c#L84
to a pinned one?
`BPF_TABLE_PINNED("hash", u32, u32, pid_ns_map, 1024, "/sys/fs/bpf/pid_ns_map");`

[2021-06-29 07:57] nam-jaehyun commented on #171
@oneiro-naut Yes, something like that. However, let's think about this later.
Once the previous tasks are done, we can think about this and some related tasks as next steps.

[2021-06-29 10:23] oneiro-naut commented on #171
Sure @nam-jaehyun. I understand.

[2021-07-01 05:51] nam-jaehyun commented on #143
@geyslan When can we see the logs corresponding to patterns?

[2021-07-01 05:55] nam-jaehyun commented on #86
@daemon1024 any update on this issue?

[2021-07-01 05:57] nam-jaehyun commented on #104
@CBVenkataReddy any update on this issue?

[2021-07-01 06:23] daemon1024 commented on #86
Hey @nam-jaehyun, I have been working on #170 so haven't made any progress here.

[2021-07-01 06:25] nam-jaehyun commented on #86
@daemon1024 no problem :) just for checking.

[2021-07-01 06:25] daemon1024 commented on #86
Not blocking this if someone else wants to take it up meanwhile. I believe I have already been unassigned on the xlsx.

[2021-07-01 07:21] CBVenkataReddy commented on #104
@Jaehyun Nam
Please find below sudo code for Reconcile function kindly review and any further inputs on the same will be quite helpful.
Kindly note here I have taken "ownerOnly works with the Allow action" for schema validation as an example only.

STEP-1: Fetch the KubeArmorPolicy
		If not found object might be delete and not found
STEP-2: Validate KubeArmorPolicy
        If there are some issues

[2021-07-01 09:11] CBVenkataReddy commented on #104
Could you pls suggest what all other semantics to be covered for  validation along with the following examples.
'ownerOnly' works with the Allow action.
'recursive' is only effective with directories, not paths.
NodeSelector cannot be defined with selector.

[2021-07-01 11:44] geyslan commented on #143
Hi @nam-jaehyun, due the event auditor design tasks this was delayed. I'm going to focus on this soon.

[2021-07-01 17:29] geyslan commented on #143
@oneiro-naut We are assuming here that AppArmor is the native policy spec? https://github.com/accuknox/KubeArmor/blob/55ff9ce5c374454dcdc2abbc03d7d4199994595b/KubeArmor/feeder/policyMatcher.go#L179-L183

[2021-07-01 17:43] oneiro-naut commented on #143
Yes. In future other native LSM policies might be added and it will be set to true for them as well.

[2021-07-01 18:09] geyslan commented on #143
@oneiro-naut I see. Thanks.

For `UpdateMatchedPolicy()` I'll consider AppArmor as native as well, and the previously added Regexp field as non native. I suppose Regexp (or glob) could be the KubeArmor native matchPattern. But we need to discuss this design.

---

Edit:

After the discussion we've had, I agree with you about adding another field to MatchPolicy related to pattern match type and abo

[2021-07-04 08:40] #165 closed, assigned to nobody

[2021-07-06 11:22] nam-jaehyun commented on #170
@daemon1024 Can you check ci-go.yml again?

[2021-07-06 11:54] daemon1024 commented on #170
Hey @nam-jaehyun , I looked through the fails earlier. It's due to the missing go.sum file.
Since `go.sum` was in the .gitignore earlier there was no change introduced by `go mod tidy` but now since it's not there, due to the missing file, go mod tidy introduces a change and hence failing the test.

[2021-07-06 11:56] daemon1024 commented on #170
I should detail out the error message more. I will send in a patch with go.sum and some refinements in ci, if it's fine with you?

[2021-07-06 12:22] nam-jaehyun commented on #170
I updated ci-go.yml a bit. Please check the file again and update it if some updates are needed

[2021-07-06 14:29] #125 closed, assigned to nam-jaehyun

[2021-07-06 14:29] nam-jaehyun commented on #56
No longer needed

[2021-07-06 14:29] #56 closed, assigned to nobody

[2021-07-07 03:37] #143 closed, assigned to geyslan

[2021-07-07 05:50] #167 closed, assigned to nobody

[2021-07-08 03:31] nam-jaehyun opened #193 "Lost events coming from eBPF-based monitor"
Currently, there are some cases that KubeArmor misses some events coming from the eBPF monitor.
This usually happens when a host has limited resources.
In addition, KubeArmor cannot sometimes generate alerts due to such losses.
We may be able to reproduce such losses by running the automated testing framework several times
and see the failed test cases.

[2021-07-08 05:15] nam-jaehyun commented on #7
Prometheus-exporter is updated in https://github.com/kubearmor/kubearmor-prometheus-exporter.

[2021-07-08 05:15] #7 closed, assigned to Ankurk99

[2021-07-08 06:48] oneiro-naut commented on #193
@nam-jaehyun Is it true for ContainerLogs as well?
https://github.com/kubearmor/KubeArmor/blob/f4fba7cf59b62145fffeff5c63d74bd89fbd96b2/KubeArmor/feeder/feeder.go#L553
I tried to get these logs using kubearmor-logclient and didn't get some of them.

[2021-07-08 06:55] dku-boanlab commented on #193
I think that's because you didn't add the 'kubearmor-visibility' annotation.

[2021-07-08 06:59] oneiro-naut opened #194 "Enable HostLogs to be pushed to LogQueue"
HostLogs are mentioned here in feeder module:
https://github.com/kubearmor/KubeArmor/blob/f4fba7cf59b62145fffeff5c63d74bd89fbd96b2/KubeArmor/feeder/feeder.go#L553
Which are later pushed to LogQueue here:
https://github.com/kubearmor/KubeArmor/blob/f4fba7cf59b62145fffeff5c63d74bd89fbd96b2/KubeArmor/feeder/feeder.go#L584
But in policyMatcher.go they aren't being returned. https://github.com/kubearmo

[2021-07-08 07:02] nam-jaehyun commented on #194
@oneiro-naut There would be no host log at this point because we will have too many logs.

[2021-07-08 07:05] oneiro-naut commented on #194
@nam-jaehyun Would that be the case even if we restricted ourselves to `log.result != "passed"`? Actually I made some changes in my local branch to check using an AppArmor policy applied on host and the logs were still not captured.
I added another condition inside this block:https://github.com/kubearmor/KubeArmor/blob/f4fba7cf59b62145fffeff5c63d74bd89fbd96b2/KubeArmor/feeder/policyMatcher.go#L949

[2021-07-08 07:33] nam-jaehyun commented on #194
@oneiro-naut you mean that you added those lines at around 962 to get host logs?

[2021-07-08 07:54] oneiro-naut commented on #194
@nam-jaehyun Exactly.

[2021-07-08 07:57] nam-jaehyun commented on #194
then, can you also add the same thing at 934?
[code]

[2021-07-08 07:59] oneiro-naut commented on #194
@nam-jaehyun it wud allowing return non passed logs as containerlogs irrespective of visibility?

[2021-07-08 08:01] nam-jaehyun commented on #194
@oneiro-naut yes, you're right. we will see passed logs only when visibility is enabled, but we will see the failed container and host logs all the time.

[2021-07-08 09:35] oneiro-naut commented on #38
@nam-jaehyun It seems to be a bcc issue(#195) because of which passing enableHostPolicy=true to kubearmor fails with error:
[code]
The issue seems to be fixed now in bcc. Strangely its happening in our case.

[2021-07-08 09:37] seungsoo-lee opened #195 "Error from enableHostPolicy"
OS: ubuntu 18.04
Kernel: 4.15

when kubearmor is deployed with enableHostPolicy=true, the below errors pop up and it is not working properly.

[code]

[2021-07-08 10:59] nam-jaehyun commented on #104
@CBVenkataReddy At this point, let's first have partial validations. Then, let's see what should be more validated.
I'd like to see the working validator and how it works.

[2021-07-08 12:39] geyslan commented on #195
Tested on `NETNEXT=1` and went ok.
<details>
<summary>NETNEXT=1</summary>

[code]

</details>

Reproducible on `NETNEXT=0`.

<details>
<summary>NETNEXT=0</summary>

[code]

[2021-07-08 13:34] nam-jaehyun commented on #195
It seems that it happens in older Kernels.
I could see the same error on Ubuntu 18.04, but there was no error on Ubuntu 20.04 and Fedora 30.

[2021-07-09 07:09] nam-jaehyun commented on #163
Need to find a way to map the already deployed container IDs with the actual PID and MNT namespaces of the containers.
I think we need to update the system monitor (in particular, pid_ns_map management) to address this issue.

[2021-07-11 08:10] oneiro-naut commented on #194
Hi @nam-jaehyun . I was debugging the bpf system_monitor code and have 1 doubt. Can you tell me why have we used this condition here when adding element to pid_ns_map for host(ie with MONITOR_HOST enabled). https://github.com/kubearmor/KubeArmor/blob/b6df53ce1a910224c3aeba117361e6b9ecf52f14/KubeArmor/BPF/system_monitor.c#L166
I used lsns and found out that every process executed on host is getting

[2021-07-11 08:36] oneiro-naut commented on #163
Hi @nam-jaehyun . The reason for not getting already deployed containers seems to be caused because we are missing execve event for pid == 1 (ie entrypoint execv for containers) which happens earlier and is therefore missed. https://github.com/kubearmor/KubeArmor/blob/b6df53ce1a910224c3aeba117361e6b9ecf52f14/KubeArmor/BPF/system_monitor.c#L185
We add an entry only when and later monitor it if we t

[2021-07-11 11:38] geyslan commented on #194
@oneiro-naut you can find the host namespace pid using (in host):

[code]

As you said, there is no namespace pid=0.

The namespace pid is being accessed directly by:

https://github.com/kubearmor/KubeArmor/blob/b6df53ce1a910224c3aeba117361e6b9ecf52f14/KubeArmor/BPF/system_monitor.c#L105

I don't know if all kernel (bpf) versions allow this direct reading. @nam-jaehyun do you know about this?

In

[2021-07-12 02:03] nam-jaehyun commented on #194
@oneiro-naut The reason that we had "if (pid_ns != 0) {" is because we deploy two eBPF monitors (one is for containers and the other is for the host). In the case of the monitor for the host, I wanted to filter out any processes for containers; thus, I added that line.

[2021-07-12 02:10] nam-jaehyun commented on #194
@geyslan I think "readlink /proc/[hostpid]/ns/pid" would allow us to map container IDs and the PID namespaces in system events coming from the eBPF monitor, which means that it can be used for the alert generation for already-deployed containers as well.

@oneiro-naut The overall mapping process with already-deployed containers would be like this.
system event --> pidns + hostpid
--> readlink /pro

[2021-07-12 02:11] nam-jaehyun commented on #175
@Ankurk99 Is there any update on this issue?

[2021-07-12 02:13] nam-jaehyun commented on #163
@oneiro-naut based on your PR, just wondering if we have any side effects when we monitor the pid_ns for all processes.

[2021-07-12 04:22] oneiro-naut opened #200 "KubeArmor fails to initialize system monitor upon deployment"
I was trying to deploy kubearmor using yaml file in /KubeArmor/deployment/docker/kubearmor.yaml. KubeArmor terminates giving these logs. It does not happen when I run kubearmor as command. I am using the kubearmor-dev-next vagrant VM.
OS: Ubuntu 18.04.5 LTS x86_64
Kernel: 5.13.0-051300rc3-generic
[code]

[2021-07-12 04:24] nam-jaehyun commented on #200
@oneiro-naut does it mean that KubeArmor has some eBPF issues in the latest Kernel?

[2021-07-12 04:44] oneiro-naut commented on #200
@nam-jaehyun It might be the case. I am going to check if something similar is happening on kernel: 4.15 vagrant VM to make sure. Strange thing here is that when we run kubearmor using `make run` on master branch it doesn't fail. It should fail giving similar error in that case as well?

[2021-07-12 05:37] nam-jaehyun commented on #163
@oneiro-naut It may allow KubeArmor to generate logs for already-deployed containers, but the modification has a critical issue that it also generates too many non-container-related logs (e.g., containerd, kubelet, ...).

[2021-07-12 06:03] oneiro-naut commented on #163
@nam-jaehyun Is it possible here to filter container namespaces to tell if the pid_ns added is not a container without relying on pid == 1(init) condition? Maybe if we could give specific pid_ns different value than 1 to indicate that we don't want to monitor it's events and return from it early on?

[2021-07-12 06:05] nam-jaehyun commented on #163
@oneiro-naut we know how we can get the logs for already-deployed containers. now, it's time to investigate the side effect and develop a solution for this, which means that we need careful analysis.

[2021-07-12 06:27] #175 closed, assigned to nobody

[2021-07-12 07:49] oneiro-naut commented on #200
@nam-jaehyun Yes. It's happening only in the latest kernel. I checked on usual kubearmor-dev VM(kernel 4.15) in that it can be deployed just fine.

[2021-07-13 07:42] oneiro-naut commented on #194
@nam-jaehyun  But even for the host pid_ns we get non 0 value. So it's filtering away even the host events. Are we supposed to get 0 for the host pid_ns?

[2021-07-13 07:44] dku-boanlab commented on #194
@oneiro-naut any suggestion for this?

[2021-07-13 08:11] oneiro-naut commented on #194
@nam-jaehyun. I thought of one idea. What if we create an helper function similar to `bpf_get_current_comm(char *buf, int size_of_buf)` to somehow get the command name of the detected pid_ns event's init process(pid == 1) and using something like __builtin_memcmp(or anything to compare strings I am not sure) check if it's equal to "/sbin/init" maybe this way we can trace host pid_ns and differenti

[2021-07-13 08:19] oneiro-naut commented on #194
@nam-jaehyun other way can be using pinned map with different names for host_pid_ns_map and container_pid_ns_map for container. And sharing these 2 maps between both ebpf processes so that when we get a potential host pid_ns we can check whether it's already in container_pid_ns or not. If it's found there we won't add it to host_pid_ns_map. Although I am not sure whether we can share the ebpf maps

[2021-07-13 10:40] geyslan commented on #194
I assume that `host ns_pid` could be discovered in userspace (KA), as it would be trivial to just call a `readlink` for `/proc/self/ns/pid` in KA, or to get it programatticaly using `stat()` and feed the proposed pinned map.

Concerning racing conditions, from libbpf we can make use of global variables, so a `lock` flag could be the solution.

What do you think?

[2021-07-14 06:04] oneiro-naut commented on #195
@nam-jaehyun I did some research and it seems that it's a bcc issue which isn't resolved. This [comment](https://github.com/iovisor/bcc/issues/1631#issuecomment-373096226) here talks about it. Basically for kernel versions <= 4.17 we use debugfs to attach kprobes. For the newer versions we use perf_event_open API instead. In case of perf_event_open there is no issue when we attach multiple kprobes

[2021-07-14 07:54] oneiro-naut commented on #194
@nam-jaehyun init pid_ns(host pid_ns) inode number is a constant defined in kernel. So rather than comparing with 0 we will just need to compare with this value defined [here](https://elixir.bootlin.com/linux/latest/source/include/linux/proc_ns.h#L46). I tested it and now we get host events in ebpf code. Container entries are dropped and not added just as required.

[2021-07-14 08:05] dku-boanlab commented on #194
@oneiro-naut good to know!

[2021-07-14 08:06] #194 closed, assigned to oneiro-naut

[2021-07-14 08:25] oneiro-naut commented on #194
@nam-jaehyun Now since we know that host pid_ns is known we can solve already-deployed containers extra entries(which were all host entries(kubelet, nice, etc.) except for containerd which I am not sure how to resolve).

[2021-07-14 08:26] geyslan commented on #194
Just the best solution! 👍

0xEFFFFFFCU = 4026531836

[2021-07-14 12:58] #163 closed, assigned to oneiro-naut

[2021-07-15 09:55] nam-jaehyun commented on #193
@oneiro-naut Can you take this issue?

[2021-07-15 10:01] oneiro-naut commented on #193
@nam-jaehyun Sure thing. Thanks.

[2021-07-15 10:48] nam-jaehyun commented on #193
For testing, I suggest this way.

1. Run KubeArmor
[code]

2. Run the runtime test script
[code]
- See if there are any failed cases

3. Repeatedly run the runtime test script even though there was no failed case in the previous execution.
[code]
- See if there are any failed cases
- At this step, please do not re-run KubeArmor since we also want to see if KubeArmor works during repeated container

[2021-07-15 10:57] nam-jaehyun commented on #193
Observation 1

[code]
I got the container ID, but namespace and pod names were not added.

Observation 2
[code]
the source is "runc:[2:INIT]"; thus, this log is considered as ContainerLog, not MatchedPolicy.

Observation 3
[code]
The permission was denied due to the given policy, but namespace and pod names were not added; thus, this alert is considered as ContainerLog, not MatchedPolicy.

[2021-07-15 10:57] #195 closed, assigned to nam-jaehyun

[2021-07-15 11:26] oneiro-naut commented on #193
@nam-jaehyun Thanks a lot. I am going to look into this. I think the mismatches and wrong metadata in logs will need some changes in the feeder and monitor modules. I will debug this and try to synchronize with the observations you have made.

[2021-07-15 15:55] oneiro-naut commented on #193
@nam-jaehyun I did follow these steps and didn't re-run Kubearmor, it runs just fine upon repeated container deployments and deletion. I repeated the runtime test script multiple times(4 times at least) and strangely each time test_8(action: allowwithaudit) and test_9(action: allow) were failing consistently. Other than these 2 tests sometimes other tests failed as well.
Then I re-run kubearmor on

[2021-07-15 16:03] oneiro-naut commented on #193
I think commit 4c582cad19485f035a921d69fac270a2b6148665 should handle this. I will check these.

[2021-07-16 06:13] oneiro-naut commented on #193
Hi @nam-jaehyun. I have done some analysis. Please let me know your thoughts on this.
These 2 are probably caused when we haven't added containers[1] info to dm.Containers[] and some log is generated before that. That would leave pod name and namespace name empty.
[1]
https://github.com/kubearmor/KubeArmor/blob/18abb32c27ba24d258811786c09728060b9c920b/KubeArmor/monitor/logUpdate.go#L24
This can ob

[2021-07-16 09:22] nam-jaehyun commented on #193
@oneiro-naut I updated some code related to this issue (#207). Please check the changes.

Checkpoints:
1. As you mentioned, there could be a sync issue; thus, we need a backup code to solve this issue.
2. I'm not sure why, but alerts are generated with ContainerLog instead of MatchedPolicy. it looks strange, and it rarely happens I think. Anyway, we need a backup code to solve this issue.
3. We ne

[2021-07-16 09:34] oneiro-naut commented on #193
@nam-jaehyun The reason for matchedPolicy to be returned as containerLog seems to be caused because of missing matchpolicy structs which ideally should be added for each pod. We are calling it here:
https://github.com/kubearmor/KubeArmor/blob/155b35d3bfb0c8057b3aa102bf8f6d7a0cb42530/KubeArmor/core/kubeUpdate.go#L235
But I debugged and found that its not called each time we add security policy(or u

[2021-07-16 09:37] nam-jaehyun commented on #193
@oneiro-naut I see. We need to fix those points. Please take an action for them.

[2021-07-16 10:53] nam-jaehyun commented on #200
Related issue: https://github.com/iovisor/bcc/issues/3255

[2021-07-19 14:34] oneiro-naut commented on #193
@nam-jaehyun I fixed most of the corner cases and bugs. I think now its the limitation of test script in how it uses grep command to detect the logs. I checked in the log file all the MatchedPolicy were there but they can't be detected by the scripts whenever the source is `runc:[2:INIT]` in the log source field. I think it has to do with how test framework defines the cmd files for scenarios espe

[2021-07-19 14:45] nam-jaehyun opened #209 "support minikube"
many people use minikube for testing; thus, we'd like to support it.
However, since minikube doesn't support LSMs, KubeArmor will work as the audit mode.

[2021-07-19 15:08] #209 closed, assigned to nam-jaehyun

[2021-07-19 15:12] nam-jaehyun commented on #193
@oneiro-naut where can I see your changes?

[2021-07-19 15:20] oneiro-naut commented on #193
@nam-jaehyun  Should I raise a draft pr? I have logs and tests files as well that I can share. I have found cause of one issue just now basically what happens is whenever runc:[2:INIT] is the source of log. The SYS_OPENAT and SYS_OPEN system calls do not happen and so log.Operation where it is supposed to be "File" it becomes a "Process". And thats why is not matched by the grep command in the tes

[2021-07-19 15:22] nam-jaehyun commented on #193
@oneiro-naut can you raise a draft PR? let me review the changes.

[2021-07-20 06:48] #193 closed, assigned to oneiro-naut

[2021-07-20 13:36] nam-jaehyun opened #213 "testcase #9 is always failed in minikube"
With minikube, all test cases except for test case 9 are passed.
However, test case 9 is always failed; thus, we need to check the reason and fix this issue.

[2021-07-20 14:51] #104 closed, assigned to CBVenkataReddy

[2021-07-20 15:14] nam-jaehyun opened #215 "Test KubeArmor on Azure (AKS)"

[2021-07-21 14:39] nam-jaehyun commented on #76
1. Observations

- KubeArmor Image
  The current image of KubeArmor is based on Alpine, and it doesn't provide SELinux-related binaries (e.g., semanage).
  Thus, to use 'semanage', we need to use some base images (e.g., centos:7).
  Note that if the image is based on CentOS, it cannot provide AppArmor-related binaries.

- SELinux status
  Even though we have an image based on CentOS, KubeArmor can

[2021-07-23 02:16] nam-jaehyun opened #221 "Support OpenShift"
KubeArmor will eventually need to support OpenShift too.

[2021-07-23 13:47] oneiro-naut opened #223 "Policies not enforced correctly when HostPolicy is enabled for docker version 18.06 and earlier"
Some policies are not working correctly after hostpolicy is enabled in kubearmor. I think this might be some AppArmor issue.
This issue happens regardless of the kernel version. I tested this on both kubearmor-dev and kubearmor-dev-next.
Docker versions affected: versions older than 18.09 (tested on 18.03 and 18.06)
Steps to reproduce the issue:
CASE I: With HostPolicies enabled
1. Run kubearmor w

[2021-07-26 10:58] oneiro-naut commented on #213
@nam-jaehyun. Deploting kubearmor on minikube gives me this error which I think is related to ebpf support on minikube.
[code]
My minikube version is: v1.20.0
[code]
I found this issue which might be related to this https://github.com/kubernetes/minikube/issues/8556. I think I will need to have minikube with newer kernel versions in it(v5.x i guess). Can you please tell me the minikube version whi

[2021-07-26 11:30] nam-jaehyun commented on #213
@oneiro-naut did you install kernel-headers too?
In my case, I used this script to start Minikube.
https://github.com/kubearmor/KubeArmor/blob/master/contribution/minikube/minikube-start.sh

[2021-07-26 11:38] oneiro-naut commented on #213
@nam-jaehyun I didn't use the script earlier now I am using it. Thanks.

[2021-07-29 03:46] #213 closed, assigned to nobody

[2021-07-29 08:24] nam-jaehyun commented on #170
did you miss committing something?
![image](https://user-images.githubusercontent.com/67940721/127457989-2e3d9142-e3b8-4983-b696-07e44c8e87ad.png)

[2021-07-29 08:26] daemon1024 commented on #170
Need `make build-test` before running the tests now.
This will generate the testable binary.

[2021-07-29 08:35] nam-jaehyun commented on #170
Is it possible to have a check logic or an option for that?
While we need the coverage in the GitHub action, we don't need that in a local development environment.

[2021-07-29 08:39] daemon1024 commented on #170
Makes sense. I will modify the script accordingly.

[2021-08-02 03:38] nam-jaehyun opened #233 "fix gosec issues"
gosec suggested multiple changes (e.g., handling returns).
Need to update the code.

[2021-08-03 09:21] #233 closed, assigned to nam-jaehyun

[2021-08-03 09:34] #170 closed, assigned to daemon1024

[2021-08-03 11:53] nam-jaehyun commented on #200
This issue occurred due to the older version (0.20.0) of bcc, which is supported by Alpine.
Recently, bcc started to support Linux kernel 5.13 in the latest one (0.21.0).
Once we have the newer bcc version (0.21.0) from Alpine packages, it would be solved.

[2021-08-05 10:17] #168 closed, assigned to nobody

[2021-08-06 09:58] daemon1024 commented on #86
@nam-jaehyun It does error out,

AppArmor does have issues with rule conflicts,

`profile kubearmor-multiubuntu-ubuntu-1-container: has merged rule /bin/bash with conflicting x modifiers
ERROR merging rules for profile kubearmor-multiubuntu-ubuntu-1-container, failed to load`

I had both cx and ix rules, but using cix solved it.

So should I proceed with https://github.com/kubearmor/KubeArmor/issu

[2021-08-07 09:36] nam-jaehyun commented on #142
It will be supported by the event auditor.

[2021-08-07 09:36] #142 closed, assigned to nobody

[2021-08-07 19:24] oneiro-naut commented on #223
@nam-jaehyun This doesn't happen with newer docker versions. I tested it with this docker version:
[code]
on both kernel v4.18 and v5.13. I wasn't able to reproduce the issue with this docker version. It seems to be happening for older docker versions only(like v18.x).

[2021-08-09 05:28] nam-jaehyun commented on #223
@oneiro-naut then, does it happen with docker version 19.03? I mean I'd like to make sure that it happens with 18.x only.
Also, I'm wondering how enabling host policies affects container policies according to the docker version.

[2021-08-09 05:40] nam-jaehyun opened #241 "Merge kubearmor-host-policy-manager into kubearmor-policy-manager"
we're currently using two managers for KubeArmorPolicy and KubeArmorHostPolicy.
It would be better if we have a single manager for both policies.

[2021-08-09 08:58] oneiro-naut commented on #223
@nam-jaehyun I tested for versions 19.03 and 18.09.x and it seems to work. So we can say that this does not happen for version 18.09.1 or greater. For versions earlier than this we get this issue. I checked with v18.06 and 18.03(the default docker version in ubuntu 18.04) and the issue is present. Starting with version 18.09 docker daemon stopped managing containerd so it is somehow related to tha

[2021-08-11 07:17] oneiro-naut commented on #223
@nam-jaehyun Since this issue and #248 are version specific and seem to be fixed for Docker version >=18.09 there is a need to update the minimum docker version requirement for kubearmor from version 18.03 to 18.09(until these issues are solved). I have raised a PR(#242) which makes this update.

[2021-08-11 08:36] oneiro-naut opened #246 "KubeArmor can't be killed by processes confined by the HostPolicy apparmor profile"
KubeArmor process can't be killed using kill command when HostPolicy is enabled(ie `kubearmor.host` apparmor profile is active). I first encountered this issue while running the `test-scenarios-local.sh` with hostpolicy tests enabled in which we use `kill` command to terminate kubearmor instance. Because of this issue the script never exits and waits for kubearmor to be killed indefinitely.
Steps

[2021-08-11 10:13] oneiro-naut opened #247 "Audit host processes which can't be tracked by host apparmor profile due to apparmor limitation"
There is a known limitation of apparmor that it can't confine the processes that were executed before some profile was enforced.
Following set of steps can be used to reproduce this behaviour:
-  Log into host shell(shell1)
-  Log into another instance of host shell(shell2) and run kubearmor in it. Run it with hostpolicy enabled.
[code]
- Apply a hostpolicy from shell1. In this example we apply a

[2021-08-12 05:16] oneiro-naut opened #248 "multiubuntu pods can't be created if hostpolicy is enforced for docker version 18.03"
Prerequisite:
Docker version: < 18.09(tested on v18.03)

Steps to reproduce the issue:
1. Run kubearmor with hostpolicy enabled.
[code]
2. Apply some hostpolicy.
[code]
3. Deploy multiubuntu pods.
[code]
Observation: Pods get stuck with ContainerCreating status.
[code]
Now if we terminate kubearmor pod status changes almost immediately.
[code]
Note: This does not happen on docker version 18.09 and

[2021-08-12 05:23] oneiro-naut commented on #248
https://github.com/kubearmor/KubeArmor/issues/223#issuecomment-895058105 is probably related to this issue.

[2021-08-12 05:57] #223 closed, assigned to nobody

[2021-08-12 06:03] oneiro-naut opened #249 "Event loss due to buffer overwrites in systemMonitor.c"
Steps to reproduce this issue:
Method 1: requires HostPolicy enabled
1. Run kubearmor with hostpolicy enabled.
[code]
2. Run watch command on host.(any watch command works)
[code]
3. Wait. After sometime kubearmor crashes with the following error.
[code]
Method 2:
1. Run kubearmor.
[code]
2. Deploy multiubuntu pods.
3. Run watch command inside any pod using kubectl exec.
[code]
4. Run watch in ano

[2021-08-12 06:07] nam-jaehyun commented on #249
Yes, it sometimes happens since we don't have a lock for the buffer between the userspace and the ebpf.
The problem is that system events can overwrite the buffer before the userspace reads it.
Then, when the userspace reads the buffer, it cannot find the end of a string (null), causing such an issue.

[2021-08-12 06:09] nam-jaehyun commented on #249
@oneiro-naut by the way, this issue is not the one specific to the watch command.

[2021-08-12 06:18] oneiro-naut commented on #249
@nam-jaehyun It isn't. This is the buffer management issue that was discussed earlier. I just wanted to identify the best possible way to reproduce it. These set of steps always ensure a crash. I used watch because that way we get a lot of events and so the probability of events arriving almost at the same time and overwriting the other is very high. The same happens with other commands refreshing

[2021-08-12 06:20] oneiro-naut commented on #249
I see. So basically there is a race condition here.

[2021-08-12 07:19] oneiro-naut opened #250 "Pods can't be terminated after kubearmor process restarts given hostpolicy is active"
Kubearmor hostpolicy seems to block runc to send signals causing pods to get stuck in `Terminating` state.

This happens only when kubearmor restarts. Tested on docker version 18.09.
Steps to reproduce this issue:
1. Run kubearmor with hostpolicy enabled.
[code]
2. Apply some hostpolicy.
[code]
3. Deploy multiubuntu pods.
4. Restart kubearmor.
[code]
5. Try to delete multiubuntu pods once kubearmo

[2021-08-12 21:09] danmx commented on #58
5.10 lts kernel should be supported soon (they tend to follow lts versions). I think there will be a problem with EKS Fargate since it's a very [locked down microVM](https://github.com/aws/containers-roadmap/issues/1000#issuecomment-768463969) running a sidecar that runs eBPF will be impossible. One thing that could be used is ptrace, like [Falco](https://sysdig.com/blog/falco-support-on-aws-farga

[2021-08-13 07:42] nyrahul commented on #58
Interesting point. However, at this juncture, our aim is to get it working for vanilla EKS (not fargate). Fargate will be a different challenge for the reasons you mentioned.

[2021-08-13 10:59] #248 closed, assigned to nobody

[2021-08-16 05:12] #246 closed, assigned to nobody

[2021-08-16 11:02] nam-jaehyun commented on #171
KubeArmor previously needed to catch the init process of a container to get the container information.
Since KubeArmor doesn't need the init process of a container to get the information, we don't need to address this issue.

[2021-08-16 11:02] #171 closed, assigned to nobody

[2021-08-16 23:26] geyslan opened #262 "eventAuditor: NETNEXT kernel without proper bpftool"
**`event-auditor` branch**

The `bpftool` is needed to dump the vmlinux.h from the kernel. The NETNEXT kernel version `5.13.0-051300rc3-generic` doesn't provide a proper packaged bpftool.

[2021-08-16 23:34] geyslan commented on #262
Officially, the most up-to-date ubuntu package that contains bpftool is `linux-tools-common` 5.11.0-20.21+21.10.1.

https://packages.ubuntu.com/search?keywords=linux-tools-common

Probably for this kernel:
https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.11.21/amd64/

[2021-08-17 00:56] geyslan commented on #262
I've tested the 5.11.21 kernel to get along with the bpftool. A full Ubuntu upgrade was required for clang and bpftool work correctly. In other words, the `bionic` version has been upgraded to `impish`. I suppose it would be easier to just start with impish release.

@nyrahul @nam-jaehyun Is there any requirements that don't allow this?

[2021-08-17 05:34] nam-jaehyun commented on #262
I updated the NETNEXT option.
NETNEXT=0 -> ubuntu/bionic64 (ubuntu 18.04, kernel 4.15)
NETNEXT=1 -> ubuntu/impish64 (ubuntu 20.10, kernel 5.11)
NETNEXT=2 -> ubuntu/focal64 (ubuntu 20.04, kernel 5.4)

@geyslan can you add any required packages (e.g., linux-tools-common) in contribution/self-managed-k8s/setup.sh?

[2021-08-17 07:04] #250 closed, assigned to oneiro-naut

[2021-08-17 07:05] nam-jaehyun commented on #247
@oneiro-naut does it work with such a simple change?

[2021-08-17 07:07] oneiro-naut commented on #247
@nam-jaehyun It does because policymatcher already showed these logs. The only thing was the action and result shown in the matchedhostlogs was not as we expect. For example sometimes(for example if a shell was already there when we executed kubearmor from other shell) we got Block but the result was passed. Also the audit mode condition wasn't there for the hostpolicy block of code(which we can t

[2021-08-17 11:54] #247 closed, assigned to oneiro-naut

[2021-08-17 12:45] geyslan opened #266 "eventAuditor: EventAuditor field was renamed on #256 merge"
**`event-auditor` branch**

https://github.com/kubearmor/KubeArmor/commit/897cdcf9e0ec822674a2e5c608234800006126f5 renamed LogFeeder to `Logger`.

[code]

I'm fixing it.

[2021-08-17 13:37] geyslan opened #269 "eventAuditor: main Makefile needs prior logic for cgo compilation"
`CGO_CFLAGS` and `CGO_LDFLAGS` need to be set for the kubearmor/libbpf building process.

Before that, C libbpf needs to be available (cloned and compiled).

WIP

[2021-08-17 16:11] geyslan opened #271 "KubeArmor: NETNEXT={0,2} haven't BTF support"
`NETNEXT=0` => `bionic`  kernel 4.15.0-144
`NETNEXT=2` => `focal` kernel 5.4.0-81

This lack could be solved using `pahole` and `llvm-objcopy` to feed libbpf.

Error:

[code]

[code]

[2021-08-18 06:01] nam-jaehyun commented on #271
BTF is supported from 5.8 and above. that's why those kernels do not have BTF features.

[2021-08-18 15:44] geyslan opened #272 "event-auditor: conflicting VM_NAME in vagrant file"
`VM_NAME` must refer to a single vagrant image.

`NETNEXT=1` and `NETNEXT=2` are conflicting.

[2021-08-19 03:38] #272 closed, assigned to geyslan

[2021-08-19 03:38] #269 closed, assigned to nobody

[2021-08-19 03:39] #266 closed, assigned to nobody

[2021-08-19 03:39] #262 closed, assigned to geyslan

[2021-08-19 06:25] oneiro-naut commented on #249
@nam-jaehyun Here something similar is happening due to buffer overwrite. We parse string argument length here:https://github.com/kubearmor/KubeArmor/blob/309713f0e8a34d50b93b354bfe5bac9922a6d75b/KubeArmor/monitor/syscallParser.go#L112

When overwrite occurs sometimes this value is negative. Then we use this value to allocate a slice here:
https://github.com/kubearmor/KubeArmor/blob/309713f0e8a34d

[2021-08-19 11:17] geyslan commented on #38
For this, we already have a codepath with libbpf: https://github.com/kubearmor/KubeArmor/tree/event-auditor/KubeArmor/eventAuditor/BPF

And as I've mentioned here https://github.com/kubearmor/KubeArmor/pull/270#issuecomment-900325919, it can be moved to other path.

[2021-08-19 11:54] geyslan opened #274 "event-auditor: KubeArmor: Err and let the caller properly terminate"
It is good practice not to hastily terminate execution in callee logic when an error occurs.

Therefore, it is necessary to refactor some blocks of `sharedMapManager.go`.

https://github.com/kubearmor/KubeArmor/blob/2d3c06998cb7cddec245216afe7280222a0708f6/KubeArmor/eventAuditor/sharedMapManager.go#L42-L49

https://github.com/kubearmor/KubeArmor/blob/2d3c06998cb7cddec245216afe7280222a0708f6/KubeAr

[2021-08-19 15:06] geyslan opened #276 "event-auditor: golint errors"
[code]

[2021-08-20 07:19] oneiro-naut commented on #249
Hi @nam-jaehyun . I was doing some research and earlier I thought that perhaps we could just make another percpu_array to store an integer as a lock variable. But then I haven't been able to find a way to use "fetch and set" like instruction on map elements (although some atomic bpf instructions seem to be added from kernel version 4.20 onward). If such instructions were available to use we could

[2021-08-20 16:00] geyslan commented on #271
_/sys/kernel/btf/vmlinux appeared in 5.4 kernel (upstream version). If you see it on 4.18, that means someone backported the changes. But for BPF CO-RE (which I assume is what you are referring to) to work, kernel itself doesn't need to "support BTF", it just needs to have .BTF data built-in inside its vmlinux binary image, and that image needs to be in one of the supported locations (see [0]). St

[2021-08-23 11:15] geyslan opened #280 "add proper license headers (GPL, Apache)"
When bpf (kernel side) let's define the file as GPL. The rest can continue as Apache.

[2021-08-23 11:18] geyslan opened #281 "event-auditor: load and unload (onNewProcess/onExitProcess)"
Install and Uninstall the pattern-map, process-spec-map and process-filter-map management eBPF.

[2021-08-23 21:06] geyslan commented on #281
@nam-jaehyun I assume sharedMaps initialization should be called from NewEventAuditor() as its stop should be from DestroyEventAuditor(), right?

https://github.com/kubearmor/KubeArmor/blob/f8689e96f061a97519663758d4ee47a7af6772ec/KubeArmor/eventAuditor/eventAuditor.go#L27-L42

But for loading and unloading management (onNewProcess/onExitProcess) the entrypoint implementation (user and kernel) is

[2021-08-24 09:56] weirdwiz opened #283 "Pods paused on `AppArmor` while trying to deploy"
On Kubernetes v1.22.1, pods deployed display the following error.

[code]
But enforcement still works, and the policy is listed when checking `/etc/apparmor.d`.

[2021-08-24 10:47] nyrahul commented on #283
More weirdly, in some situations, the status differs between similar pods. In the above case, we have Ubuntu-2 showing "Running" and Ubuntu-1 showing "AppArmor".

![image](https://user-images.githubusercontent.com/9133227/130597142-be390b45-3c12-4a02-afc9-fd7b1ab705cc.png)

<details>
  <summary>kubectl describe pod -n multiubuntu ubuntu-1-deployment-5d6b975744-8fptw</summary>
[code]
</details>

<d

[2021-08-24 11:39] oneiro-naut commented on #283
Possibly related https://github.com/kubernetes/kubernetes/pull/96364.

[2021-08-24 22:15] geyslan commented on #280
@nam-jaehyun @seungsoo-lee

For the rest of the project (Go Code = Apache), should the SPDX license identifier also be added in the first line as instructed by Kernel Coding Style (ebpf)? I know that those are different worlds, but I'm asking just for the sake of symmetry since we're doing this for [ebpf](https://github.com/kubearmor/KubeArmor/pull/286#issue-978497132).

[2021-08-25 04:43] vaibhavmew opened #287 "Security Policy gives a Segmentation Fault"
Policy Type
file
path + fromSource(path)

**example1.yaml**

apiVersion: security.kubearmor.com/v1
kind: KubeArmorPolicy
metadata:
  name: example1
  namespace: multiubuntu
spec:
  severity: 5
  message: "No message"
  selector:
    matchLabels:
      container: ubuntu-2
  file:
    matchPaths:
    - path: /home/user1/a.txt
      fromSource:
      - path: /home/user1/run_a.sh
  action:
    Block

[2021-08-25 11:29] nam-jaehyun commented on #280
Let's use GPL and Apache licenses like these.

- KubeArmor/BPF/*
[code]

- *.go / Dockerfile / Makefile
[code]

[2021-08-25 15:34] geyslan commented on #280
I think it's important to emphasize:

As per https://www.kernel.org/doc/html/v5.0/process/license-rules.html, the SPDX license identifier should be added in the **first possible line** and follow different comment styles based on the file type.

[code]

P.S. The checkpatch.pl kernel script can be incorporated into CI to check these coding style rules. E.g.: `./checkpatch.pl --no-tree -f file.c`

T

[2021-08-25 19:10] geyslan opened #293 "event-auditor: structure redesign and code refactoring"
As already discussed:

1. libbpf
- separate libbpf in eventAuditor/BPF from the repo
- create "install_libbpf.sh"
- run "install_libbpf.sh" in contribution/self-managed-k8s/setup.sh
2. ebpf code
- move them to KubeArmor/BPF
3. processSpecHandler.go
- use InitializeProcessMaps() and DestroyProcessMaps() as the start and end points

[2021-08-26 03:35] oneiro-naut commented on #287
@vaibhavmew Can you share the output for following command:`sudo cat /var/log/audit/audit.log|grep apparmor|tail -15` when you trigger this segmentation fault. Can you also share some screenshot of the segmentation fault.

[2021-08-26 05:32] oneiro-naut commented on #200
@nam-jaehyun The same issue is happening on kernel version 5.8(on ubuntu 20.04) as tested by @weirdwiz.

[2021-08-26 05:43] vaibhavmew commented on #287
@oneiro-naut
**Output of the command that you mentioned**
`type=AVC msg=audit(1629955756.305:639): apparmor="DENIED" operation="ptrace" profile="kubearmor-multiubuntu-ubuntu-3-container" pid=1414 comm="readlink" requested_mask="trace" denied_mask="trace" peer="kubearmor-multiubuntu-ubuntu-3-container"
type=AVC msg=audit(1629955759.354:640): apparmor="DENIED" operation="ptrace" profile="kubearmor-m

[2021-08-26 05:44] elfadel commented on #200
+1. Not with KubeArmor. But I am facing the same issue when compiling the [entrypoint-handler](https://github.com/elfadel/entrypoint-handler) with Ubuntu 20.10 on kernel v5.8.

[2021-08-26 05:57] oneiro-naut commented on #287
[code]
@daemon1024 We will need to allow file mmap explicitly here in the base rule:
[code]
so that `rix` becomes something like `rmix` not sure if the syntax is correct(to allow file_mmap here). There is one more doubt that I have isn't `r` enough to specify that we are also allowing file_mmap operation as well.

[2021-08-26 06:02] weirdwiz commented on #200
We do not have a problem with `BPF_SK_LOOKUP` on 5.8. And if we define `BPF_SK_LOOKUP` on 5.13. We only get an error regarding `bpf_link_type`

Relevant log for 5.8:
[code]

[2021-08-26 06:53] oneiro-naut commented on #200
@nam-jaehyun Upgrading alpine version(we still use 3.12 and that has bcc version 0.14.0) will fix this. Currently our kubearmor image has very old bcc version in it. The same bcc and alpine is being used for all kernels.
[code]
Changin alpine version to 3.14 will fix this(since 3.14 has bcc 0.20.0 and these issues are fixed for that release):
bcc version 0.20.0 has these related points in its rele

[2021-08-26 08:54] daemon1024 commented on #287
`r` provides with `mmap_r` and `ix` provides with `mmap_x` permission, I don't think we should be needing to add `m` explicitly. But regardless even after adding those permissions it seems to be seg faulting.

[2021-08-27 04:17] #200 closed, assigned to nobody

[2021-08-27 10:34] nam-jaehyun opened #299 "Not able to get the full path, missing alerts"
## Bug Report

**General Information**

- Environment description

Checked this issue from 'kubearmor-dev' (vagrant), but would happen in all environments

- Kernel version

4.15.0-151-generic

- Orchestration system version in use

Kubernetes version: 1.21.4

**To Reproduce**

Assume that KubeArmor is already running.

1. Apply wordpress-mysql

[code]

2. Apply ksp-mysql-audit-dir.yaml

[code]

3

[2021-08-27 10:46] #280 closed, assigned to nobody

[2021-08-27 10:46] #276 closed, assigned to nobody

[2021-08-27 10:46] #274 closed, assigned to nobody

[2021-08-27 10:52] nam-jaehyun commented on #287
the given policy itself doesn't make sense to me.

[2021-08-27 12:15] nam-jaehyun opened #300 "ownerOnly doesn't work in Ubuntu 18.04"
## Bug Report

**General Information**

- Environment description

Checked this issue from 'kubearmor-dev' (vagrant, ubuntu 18.04)

- Kernel version

4.15.0-151-generic

- Orchestration system version in use

Kubernetes version: 1.21.4

**To Reproduce**

Assume that KubeArmor is already running.

1. Apply wordpress-mysql

[code]

2. Apply test.yaml

[code]

3. Get into the WordPress pod and run th

[2021-08-31 07:42] nam-jaehyun opened #307 "if matchPaths is set, matchDirectories is ignored"
## Bug Report

**General Information**

- Environment description

Checked this issue from 'kubearmor-dev' (vagrant, ubuntu 18.04)

- Kernel version

4.15.0-151-generic

- Orchestration system version in use

Kubernetes version: 1.21.4

**To Reproduce**

[code]

in the file category, matchPaths is applied, but matchDirectories is not applied.

[2021-08-31 08:36] #307 closed, assigned to nam-jaehyun

[2021-08-31 12:01] #58 closed, assigned to nobody

[2021-09-01 04:46] #293 closed, assigned to nobody

[2021-09-02 06:12] nandhued opened #314 "KVM Service - Handling of Resource Definitions"
The VM/bare-metal nodes will have a corresponding KVM-resource in the controlling k8s cluster. This resource will keep a mapping of labels in the context of the external VM.

- [ ] Create
- [ ] Update
- [ ] Delete

_Start-Date:_ 03/02/2021
_Effort Estimate:_ **3.25**
- [ ] Design - 0.25
- [ ] Coding - 2
- [ ] Unit Test - 1

[2021-09-02 07:12] nandhued opened #315 "KVM Agent - Setting up GRPC Connection to the KVMService"
_Start-Date:_ 09/02/2021
_Effort Estimate:_ **1.25**
- [x] Design - 0.25
- [x] Coding - 0.5
- [ ] Unit Test - 0.5

[2021-09-04 12:18] elfadel commented on #86
Please, assign it to me.

[2021-09-06 05:19] #249 closed, assigned to oneiro-naut

[2021-09-06 05:29] elfadel opened #324 "Vagrant: Failed if user neither defines DLV_PORT nor run make before vagrant up"
If the user doesn’t define `DLV_RPORT` variable during `vagrant up` and doesn't execute `make`  beforehand, the `vagrant up` command failed with the following message:

[code]
This PR prevents this failure by setting up default ports if the user doesn't specify anyone.

[2021-09-06 05:54] elfadel opened #325 "Vagrant Box: bcc installation failed"
During the execution of vagrant up, the bcc installation failed on my side. See the image below:
![Screenshot from 2021-09-05 13-42-23](https://user-images.githubusercontent.com/27213369/132167341-745e5603-8ab5-452e-9980-e728a791d8f2.png)

[2021-09-06 05:55] elfadel commented on #325
I fix it by updating the bcc installation procedure n the vagrant script. I will submit a PR soon.

[2021-09-06 06:55] #324 closed, assigned to nobody

[2021-09-06 06:57] nam-jaehyun commented on #325
I haven't seen such errors while I'm creating the Vagrant setup almost per day.
Can you describe the issue and your solution?

[2021-09-06 06:58] nam-jaehyun commented on #271
For the BTF features, we use ubuntu/impish.
Let's not consider the older versions at this point.

[2021-09-06 06:58] #271 closed, assigned to nobody

[2021-09-06 08:07] elfadel commented on #325
Oki. Currently, I am testing the solution for `focal64` and `bionic64` boxes. I will provide more details at the end of tests.

[2021-09-06 14:32] geyslan opened #334 "event-auditor: current ebpf management is only focused on maps"
## Redesign needed (bug/enhancement)

**Short Description**

The current (event-auditor branch) [sharedMapManager.go](https://github.com/kubearmor/KubeArmor/blob/event-auditor/KubeArmor/eventAuditor/sharedMapManager.go) contains ebpf related code mainly focused on managing localized maps. eventAuditor requires more than that, like ebpf object, program and link management.

**Is your feature reques

[2021-09-06 14:33] geyslan commented on #281
This is stalled due https://github.com/kubearmor/KubeArmor/issues/334.

[2021-09-07 07:31] akshatagarwl opened #335 "`KubeArmor/KubeArmor/build/Dockerfile.kubearmor` unable to install apparmor"
## Bug Report

**To Reproduce**

1. run `./KubeArmor/build/build_kubearmor.sh`

[code]

[2021-09-07 09:05] elfadel commented on #325
Closing this issue. After several tests, it comes out that the crashing during the `vagrant up` is due to the size of memory I allocate to the VM.

[2021-09-07 09:05] #325 closed, assigned to nobody

[2021-09-07 10:18] oneiro-naut commented on #300
@nam-jaehyun The policy used here uses action `Block` which should be `Allow` because in a way we are whitelisting here(with Allow it will just allow the owner to access the specified file and all other files would denied for all other users). Also if there is already some Block policy applied to the same container the profile will have a `file,` rule and therefore there will be similar conflicts.

[2021-09-07 11:54] #335 closed, assigned to akshatagarwl

[2021-09-09 03:33] #315 closed, assigned to seswarrajan

[2021-09-09 09:35] oneiro-naut commented on #283
@nyrahul @nam-jaehyun This bug seems to be happening for usual deployments having the apparmor annotations(I used the simple hello-apparmor example from k8s documentation and it gives exact same behavior as this issue). I have identified the steps to produce it. The bug occurs whenever a pod is deployed but at the time of it's creation the specified profile is not loaded. When we later load it the

[2021-09-10 07:00] oneiro-naut commented on #283
@nyrahul @nam-jaehyun. I have raised this issue on kubernetes repository. https://github.com/kubernetes/kubernetes/issues/104888

[2021-09-10 07:12] daemon1024 commented on #300
Summarising a few points here:
- this is an issue irrespective of apparmor or ubuntu version
- this is an issue only for ownerOnly read/write rules, exec rules work as intended
- the issue is due to giving `file` rule when we have a whitelisting ownerOnly policy

Proposed Solution:
- Adding a `deny other` rule along with `owner`.

[code]

I have tested it against the test case mentioned in the iss

[2021-09-10 11:52] #334 closed, assigned to nobody

[2021-09-10 18:09] geyslan opened #344 "event-auditor: NewEventAuditor() doesn't revert when initialization failures occur"
## Bug Report

**General Information**

https://github.com/kubearmor/KubeArmor/blob/99441a9c369f1572ac4f7c9ac574295838708f5c/KubeArmor/eventAuditor/eventAuditor.go#L36-L51

Initializations of maps and programs may fail after some success. In that case, it's necessary to destroy all of them in reverse order.

**Expected behavior**

Revert all initializations.

[2021-09-12 12:59] nam-jaehyun commented on #283
AppArmor profiles are now created before the deployments are patched with AppArmor annotations.
In other words, we will not see "profile XXXX is not loaded" anymore.

[2021-09-12 12:59] #283 closed, assigned to oneiro-naut

[2021-09-14 06:40] vaibhavmew commented on #287
The policy is working now.

[2021-09-14 06:40] #287 closed, assigned to nobody

[2021-09-15 06:35] #300 closed, assigned to daemon1024

[2021-09-15 07:05] oneiro-naut opened #352 "Fix readOnly policy match condition"
## Bug Report
**General Information**

- Environment: vagrant-dev-env(kubearmor-dev-next)
- Kernel version: `Linux kubearmor-dev-next 5.13.0-14-generic #14-Ubuntu SMP Mon Aug 2 12:43:35 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Target containers/pods

**To R

[2021-09-15 08:48] oneiro-naut opened #353 "Fix ownerOnly policy match condition for audit policies"
## Bug Report
**General Information**

- Environment: vagrant-dev-env(kubearmor-dev-next)
- Kernel version: `Linux kubearmor-dev-next 5.13.0-14-generic #14-Ubuntu SMP Mon Aug 2 12:43:35 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Target containers/pods

**To R

[2021-09-15 10:04] oneiro-naut opened #354 "Fix apparmor rule for fromSource(dir)"
## Bug Report
**General Information**

- Environment description: kubearmor-dev(ubuntu 18.04)
- Kernel version
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Target containers/pods

**To Reproduce**

1. Apply any KubeArmorPolicy having `fromSource` directory. For example-
[code]
2. Check kubearmo

[2021-09-16 06:40] akshatagarwl commented on #38
@nam-jaehyun Can I work on this?

[2021-09-16 06:58] nam-jaehyun opened #356 "Panic due to the null pointer access"
## Bug Report

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
GKE

- Kernel version (run `uname -a`)
5.4

- Target containers/pods
KubeArmor

**Explanation**

[code]

When LSMs are not available, KubeArmor disables the runtime enforcer.
However, some functions access the runtime enforcer without checking the activation of the runtime

[2021-09-16 08:48] #356 closed, assigned to nam-jaehyun

[2021-09-16 13:58] nyrahul opened #360 "Applying KubeArmor pod annotations"
## Feature Request

**Short Description**

Currently, KubeArmor watches for deployments and uses the rolling update feature to apply the required annotations. There are following annotations that are of interest.
[code]
* the first annotation enables AppArmor in the context of the pod
* the second annotation enables kubearmor based policy "enforcement" on the pod. Another option is to use "audited

[2021-09-17 07:07] elfadel commented on #86
This issue/bug is definitely unreproductible, at least under my environment (I am using kubearmor-dev vagrant box).
Below, I describe how I proceed to reproduce the bug.

[2021-09-17 07:20] elfadel commented on #86
Let's consider this policy first:
[code]
It will be converted in the following apparmor policy:
[code]
The above policy will be correctly enforced and works as expected, i.e., `bash` will be blocked. Here we cannot test `ls` as far as bash is blocked.

[2021-09-17 07:27] elfadel commented on #86
Now Let's take a second example.

Policy A:
[code]

Policy B:
[code]

Those policies are converted as:
[code]

Here also, the enforcement going well: no conflict because of two `/bin/bash` lines. And the policies work as expected, i.e., the `ls` is blocked from `/bin/bash`, and allowed otherwise.

[2021-09-17 07:28] elfadel commented on #86
@nam-jaehyun your point?

[2021-09-18 11:42] seswarrajan opened #364 "KVM Service - GRPC connection management from the external work loads"
As part of KVMService, the service code should be capable of handling incoming grpc connections. Also there needs to be a unique identity to block an existing configured and running cluster.

[2021-09-18 11:43] seswarrajan opened #365 "KVM Service - Protobuf Definitions for the message exchanges across KEWS and KEWA"
_Start-Date:_
_Effort Estimate:_ **1**
- [ ] Design - 1

[2021-09-18 11:43] seswarrajan opened #366 "KVM Service - Assigning an identity to the external workload"
_Start-Date:_
_Effort Estimate:_ **1**
- [ ] Design - 0.25
- [ ] Coding - 0.5
- [ ] Unit Test - 0.25

[2021-09-18 11:43] seswarrajan opened #367 "KVM Service - Prepare the build framework and basic structure for the service"
_Start-Date:_
_Effort Estimate:_ **0.5**
- [ ] Coding - 0.5

[2021-09-18 11:44] seswarrajan opened #368 "KVM Agent - Prepare the build framework and basic structure for the service"
_Start-Date:_
_Effort Estimate:_ **0.5**
- [x] #478

[2021-09-18 11:44] seswarrajan opened #369 "KVM Service - Maintain the MAP between Labels, Identity"
KVMSOPerator and KVMService which is running in any cluster should/must hold the map between identity of the VM and the label which it is connected to and also with which the same is registered.

[2021-09-18 11:44] seswarrajan opened #370 "KVM Service - Setup the GRPC server"
_Start-Date:_
_Effort Estimate:_ **1**
- [ ] Design - 0.25
- [ ] Coding - 0.5
- [ ] Unit Test - 0.25

[2021-09-18 11:45] seswarrajan opened #371 "KVM Service - Preparation of the Installation script"
As part of KVMService, the kvmsoperator service which runs separately will be capable to generating installation script on configuration of new workload. While configuring a new workload, the kvms-operator should be using custom IP, port and server details as per the configuration.

[2021-09-18 11:47] seswarrajan opened #372 "KVM Service - Watcher for Policy"
- [ ] Add
- [ ] Delete
- [ ] Update
by the user and sending updates to the corresponding ext workload

_Start-Date:_
_Effort Estimate:_ **3.5**
- [ ] Design - 0.5
- [ ] Coding - 2
- [ ] Unit Test - 1

[2021-09-18 11:47] seswarrajan opened #373 "KVM Service - Prepare the container to be installed on the external host"
As part of KVMService, the kubearmor needs to be run on the end virtual machine to receive policies and protect the same.
Need to create a docker image from Kubearmor base.

The image should be from different source as kuberamor.

[2021-09-19 06:58] nyrahul opened #376 "kubearmor community meetup"
## Feature Request

**Short Description**

Proposing a biweekly meet for KubeArmor:
- [x] decide the time, zoom venue
- [x] update the readme page
- [x] create doc for capturing minutes

**Please describe the use case.**
Folks in the external community might have questions, proposals, inputs, feedback. This avenue can help provide them a voice.

[2021-09-20 04:23] seswarrajan opened #377 "KVM Service - Preparation of Certificates for external hosts"
_Start-Date:_
_Effort Estimate:_ **1.25**
- [ ] Design - 0.5
- [ ] Coding - 0.5
- [ ] Unit Test - 0.25

[2021-09-20 06:03] vaibhavmew opened #378 "dir + fromSource(path) doesn't work."
## Bug Report

**General Information**

- Environment description - vagrant-dev-env
- Kernel version - Linux kubearmor-dev 4.15.0-154-generic #161-Ubuntu SMP Fri Jul 30 13:04:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

- Orchestration system version in use - Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.1", GitCommit:"632ed300f2c34f6d6d15ca4cef3d3c7073412212", GitTreeState:

[2021-09-20 07:46] elfadel commented on #378
Are you sure? The action in the policy is `Block`. So I think bash should be blocked. No?

[2021-09-20 08:45] vaibhavmew commented on #378
Yes, you're correct. I have now tested it with fromSource: /bin/dash and this shell is blocked. However if I use /bin/bash, it doesn't get blocked. I have edited the execution steps.

[2021-09-20 09:01] elfadel commented on #378
Indeed, according to your policy, this seems to be the expected behavior.
Please, before execute `./sleep 1`, execute `/bin/bash`. And tell me whether you get 'Permission Denied' or not.

[2021-09-20 09:14] vaibhavmew commented on #378
Yes, it's working now. Got "Permission Denied". Closing this issue. Thanks.

[2021-09-20 09:23] #378 closed, assigned to nobody

[2021-09-20 10:55] vaibhavmew opened #380 "path + ownerOnly + fromSource(path) not working"
## Bug Report

**General Information**

- Environment description - vagrant-dev-env
- Kernel version - Linux kubearmor-dev 4.15.0-154-generic update kubearmor labels and docs #161-Ubuntu SMP Fri Jul 30 13:04:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use -
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.1", GitCommit:"632ed300f2c34f6d6d15ca4c

[2021-09-21 10:43] seswarrajan opened #386 "KVM Agent - Handling the Policy Updates from the KEWS and call the Kubearmor agent APIs"
As a part of KubeArmor, kvmAgent should be capable of
1. Receive the policies which are target to the specific kvmAgent.
2. Parse the policies
3. If valid, apply those policies to the VM

[2021-09-21 10:44] seswarrajan opened #387 "Ext Workload Installation - Validation of the container being setup by the script"
The installation script generated by KVMSoperator needs to be run and validated in a VM.
The VM should be capable of
1. Run the installation script.
2. Download the docker images.
3. Run Kubearmor and establish connection with KVMService
4. Apply/Edit/Delete host based policies.

[2021-09-21 10:53] seswarrajan opened #389 "KVM Agent - Decoupling Kubearmor agent from Kubernetes"
_Start-Date:_
_Effort Estimate:_ **1**
- [ ] Coding - 1

[2021-09-21 10:54] seswarrajan opened #390 "KVM Service - Preparing config files to be installed on the container"
_Start-Date:_
_Effort Estimate:_ **0.75**
- [ ] Coding - 0.5
- [ ] Unit Test - 0.25

[2021-09-21 11:17] seswarrajan opened #392 "Ext Workload Installation - Validation of the script generated by the KEWS"
Collect the installation script generated in KVMSoperator and installing the same in any VM.

[2021-09-21 11:56] oneiro-naut commented on #86
@elfadel On kubearmor-dev-next:
[code]
I still the get the conflict errors. Apparmor version is:
[code]
The generated profile is:
[code]
It might be that older apparmor version doesn't detect this conflict(kubearmor-dev has apparmor version 2.12.4).

[2021-09-21 20:31] elfadel commented on #86
@oneiro-naut we are not using the same procedure to reproduce the issue. What I was expecting is an error during policies enforcement (`kubectl apply -f policy.yaml`). And there is no error neither in kubearmor-dev nor in kubearmor-dev-next

[2021-09-21 20:37] elfadel commented on #86
Indeed, no. If we apply the `apparmor_parser` cmd, the conflict is detected (that is normal I think ... because in policy A, `bash` should be blocked, and in policy B allowed). If you change and set the same action in policy A and B (as described initially by @nam-jaehyun), the `apparmor_parser` will not raise any conflict because of two /bin/bash lines.

[2021-09-22 04:51] oneiro-naut opened #393 "Fix apparmor rules for file owner readOnly Block policy"
## Bug Report
**General Information**
- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
`kubearmor-dev-next`
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
[ksp-ubuntu-5-file-path-owner-readonly-block](https://github.com/kubearmo

[2021-09-23 07:52] nam-jaehyun commented on #354
Let's keep this issue in our backlog as this issue comes from AppArmor itself.

[2021-09-23 08:07] #344 closed, assigned to nobody

[2021-09-26 16:50] seswarrajan commented on #364
https://github.com/kubearmor/KVMService/pull/4

Review in above pull request.

[2021-09-28 07:19] nam-jaehyun opened #398 "Get visibility in the behavior of hosts"
## Feature Request

**Short Description**

KubeArmor currently allows operators to get visibility in the behavior of containers
by annotating "kubearmor-visibility=[operation(,)]" (e.g., kubearmor-visibility=process,file) for pods.
However, KubeArmor currently doesn't support visibility for the host side.

**Describe the solution you'd like**

We can add the same visibility annotation for nodes to

[2021-09-28 17:13] geyslan opened #402 "kubearmor/libbpf update available"
There are updates in https://github.com/kubearmor/libbpf related to:

- new `KABPFLink.Destroy()` wrapper method
- change to `KABPFProg.AttachTracepoint` method signature

[2021-09-29 12:55] #398 closed, assigned to nam-jaehyun

[2021-09-30 07:37] #376 closed, assigned to nyrahul

[2021-10-01 10:43] oneiro-naut opened #407 "Logs can't be matched for some cases of Allow security policies"
## Bug Report
**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
`kubearmor-dev-next Vagrant environment`
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
https://github.com/kubearmor/KubeArmor/blob/master/e

[2021-10-01 11:22] elfadel commented on #86
@nam-jaehyun close, please.

[2021-10-01 11:25] elfadel commented on #352
Please, assign it to me.

[2021-10-03 10:36] elfadel commented on #352
@oneiro-naut why?

[2021-10-04 10:51] seswarrajan opened #409 "[VM] Ungraceful shutdown of kubearmor and reboot of the machine, VM is not booting up"
**Environment**
- Baremetal/VirtualMachine
- Ubuntu 20.04 with kernel version 5.11.0-37-generic

**To Reproduce**
1. Build kubearmor in a host machine/VM.
2. Run kubearmor with option **sudo ./kubearmor -enableKubeArmorHostPolicy true**
3. Now the kubearmor runs in VM and creates a new profile file (kubearmor.host) under /etc/apparmor.d/
4. Now close the kubearmor abruptly (not a graceful exit).
5

[2021-10-04 11:31] elfadel commented on #352
The same question applied to #353 ...

[2021-10-05 04:10] oneiro-naut commented on #352
@elfadel Since the sample policy given above has `readOnly` set to true for `/credentials/password` file if the action were `Allow` or `Block` instead of `Audit` we won't see any log if some process tried to open the file to read(it will have O_RDONLY flag set) because our policy allows that. But if the process opened it to write(if it doesn't have O_RDONLY flag) it would get `Permission denied`.

[2021-10-05 18:11] elfadel commented on #352
@oneiro-naut thanks for your reply.

Concerning `Block` and `Allow`, are you describing the expected or the actual behavior of KubeArmor?
Because, currently, when:
1. you set action to `Block`, the log is output for any operations: either read or write.
2. The same apply for `Allow` action (note that bash is not correctly started on pod ubuntu-4 when the action is set to `Allow` due to the way Kub

[2021-10-06 06:43] dku-boanlab opened #410 "Permission denied when KubeArmor attaches kprobes"
## Bug Report

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
vagrant-dev (NETNEXT=0)

- Kernel version (run `uname -a`)
4.15.0-159-generic

- Orchestration system version in use (e.g. `kubectl version`, ...)
v1.21.5

**To Reproduce**

1. create a clean vagrant setup

[code]

2. get into the vagrant VM

[code]

3. apply KubeArmor into

[2021-10-06 12:44] geyslan commented on #410
I'll try to reproduce this.

[2021-10-06 13:28] #393 closed, assigned to oneiro-naut

[2021-10-06 18:35] geyslan commented on #410
It's reproducible.

Initial state:

[code]

I've followed same steps and noticed that after KubeArmor (kubearmor.yaml) deletion things didn't go well:

[code]

kubearmor-host-policy-manager, kubearmor-policy-manager and kubearmor-relay remain in `Terminating` status.

Applying KubeArmor again returned a kubearmor pod in `CrashLoopBackOff` status:

[code]

[code]

Trying to terminate them with --fo

[2021-10-06 20:25] geyslan commented on #410
The kubearmor pod has `rw` access to `/sys/kernel/debug`:

[code]

[code]

[2021-10-06 21:16] geyslan commented on #410
After yaml deletion, I was able to terminate the stuck pods running:

[code]
---

What is curious is that after a fresh vagrant-up followed by halt and up again, one won't be able to get pods running. This is a behaviour of NETNEXT=1 as well. One have to set `/etc/docker/daemon.json` to use cgroupfs as the cgroupdriver to circumvent that.

`{ "exec-opts": ["native.cgroupdriver=cgroupfs"] }`

[2021-10-07 09:22] oneiro-naut commented on #407
Hi @nam-jaehyun. I was looking into feeder/policyMatcher.go code and made certain observations. Current flow of policyMatcher is something like this:
1. Assuming the log has pod metadata. It runs a loop and populates all possible Allow policies matching with current log source. It stores them here: https://github.com/kubearmor/KubeArmor/blob/44365280b2979267f93d148a354d297b227778b6/KubeArmor/feede

[2021-10-07 10:27] oneiro-naut commented on #410
@geyslan I think it might be the `kubearmor.host` apparmor profile. Can you check the output of `sudo cat /var/log/audit/audit.log | grep apparmor` to see if that's the case here. Actually even if we delete kubearmor deployment the default host profile is left.

[2021-10-07 10:28] nam-jaehyun commented on #410
@oneiro-naut it still happens even though we disable KubeArmorHostPolicy (no kubearmor.host).

[2021-10-07 10:46] #86 closed, assigned to elfadel

[2021-10-07 10:47] geyslan commented on #410
Sure thing. I'll check this.

Exactly.

[2021-10-07 10:51] geyslan commented on #410
@nam-jaehyun But removing it manually `aa-remove-unknown` the stuck pods are freed (terminated).

I assume that if the first deployment is working, and the next ones don't, then some configuration isn't being rolled back or isn't being reapplied.

[2021-10-07 10:52] oneiro-naut commented on #410
@nam-jaehyun I can't reproduce this issue on NETNEXT=1. Although one more thing happens which @geyslan pointed out the relay and policy-manager pods are not terminating. The output in `/var/log/audit/audit.log | grep apparmor` gives me this output:
[code]
@nam-jaehyun This is similar to signal issues we discussed once.

[2021-10-07 10:53] nam-jaehyun commented on #410
As I mentioned that, it happened when I used the KubeArmor deployment (not direct execution).

[2021-10-07 11:00] nam-jaehyun commented on #410
by the way, the deployment issue may be another issue. let's clearly separate these issues and focus on this permission denied issue.

[2021-10-07 11:05] geyslan commented on #410
Is there a chance of apparmor is blocking the access to `/sys/kernel/debug/tracing/kprobe_events`?

[2021-10-07 11:24] nam-jaehyun commented on #352
@elfadel KubeArmor should not generate alerts for allowed operations.
However, as Ayush mentioned, we're getting the alert for allowed operations (O_RDONLY).
[code]
That is the key point of this issue.

[2021-10-07 11:40] nam-jaehyun commented on #410
@geyslan As far as I observed, I don't think so. If you remove "-enableKubeArmorHostPolicy" in kubearmor.yaml, kubearmor.host is not installed. For better clarification, you can test the image after removing the above option.

[2021-10-07 12:14] #407 closed, assigned to nobody

[2021-10-07 12:38] geyslan commented on #410
Removing "-enableKubeArmorHostPolicy", the first applying and deletion went smoothly. The second raised the same kubearmor pod issue: "CrashLoopBackOff" - `create_probe_event: open(/sys/kernel/debug/tracing/kprobe_events): Permission denied`.

Edit: **smoothly** related to all pods being correctly terminated. This information clarifies that other issue (kubearmor.host) can be raised mentioning thi

[2021-10-07 17:22] #281 closed, assigned to nobody

[2021-10-07 17:23] #402 closed, assigned to nobody

[2021-10-07 18:38] geyslan commented on #410
I haven't had time to check this out, but at first glance it might be related.

https://github.com/kinvolk/inspektor-gadget/blob/6c1c4beb3a177b092b66e5f797fead0f69e777d7/gadget-container/entrypoint.sh#L42-L61

[2021-10-08 05:22] nam-jaehyun commented on #354
Removed fromSource(dir) from KubeArmorPolicy and KubeArmorHostPolicy while allowing fromSource(path) only.

[2021-10-08 05:22] #354 closed, assigned to nobody

[2021-10-08 05:29] nam-jaehyun commented on #380
@vaibhavmew I have some questions about this issue.
[code]
How did you run sleep as root and as user1?

[code]
The given policy doesn't restrict root executing sh.

[code]
I think there is a big gap between what the policy covers and what you intend.

[2021-10-08 09:23] vaibhavmew commented on #380
su user1 & then execute sleep.

      - path: /home/user1/sleep
          ownerOnly: true
          fromSource:
          - path: /bin/bash
The owner of sleep is root. path mentioned is bash. So that means only the root user can execute it that too from the bash shell and no other shell. Right?

[2021-10-09 08:27] elfadel commented on #353
@nyrahul @nam-jaehyun please, assign me.

[2021-10-10 01:10] geyslan opened #416 "Implement process-spec-update in the user space"
- Extract the process specs from audit policies
- Maintain the process specs (list)
- Generate unique values for each process value
- Update the process specs into eBPF maps (process-spec-map, pattern map)
- If some process specs are removed from audit policies, delete the corresponding keys from eBPF maps

[2021-10-11 03:52] #416 closed, assigned to nobody

[2021-10-11 03:57] nam-jaehyun commented on #380
@vaibhavmew It depends on the given policy. What I feel is that you're using an 'Allow' policy, but some other files used by /bin/bash are not defined in the policy, you may mostly see 'Permission denied'.

[2021-10-11 07:34] oneiro-naut commented on #410
@nam-jaehyun @nyrahul  @geyslan There is a strange `unconfined` apparmor profile being created each time we follow the steps. It has the contents of Kubearmor default container profile:
[code]
Corresponding kubectl logs for this event is:
[code]
This profile is causing trouble when we restart the kubearmor pods. Because runc is attaching this named `unconfined` profile to the necessary kubearmor p

[2021-10-11 15:23] nam-jaehyun commented on #410
@oneiro-naut Thanks! Good observation.

[2021-10-11 15:37] #410 closed, assigned to nam-jaehyun

[2021-10-15 01:40] geyslan opened #430 "Pattern IDs match using hash"
Generate hash pattern IDs based on the given `char[]` in the eBPF code.

[2021-10-19 03:48] seswarrajan opened #436 "KVM Agent - Triggering reconnection on connection failures"
_Start-Date:_
_Effort Estimate:_ **1.5**
- [ ] Design - 0.5
- [ ] Coding - 0.5
- [ ] Unit Test - 0.5

[2021-10-20 13:14] #430 closed, assigned to nobody

[2021-10-20 13:16] nam-jaehyun commented on #299
@weirdwiz I reopened this issue. you can raise a new PR after fixing any issues.

[2021-10-21 06:24] #352 closed, assigned to elfadel

[2021-10-21 06:24] #353 closed, assigned to elfadel

[2021-10-21 08:11] asifalix opened #441 "Fixes to the contribution guide"
The contribution guide could use minor updates to bring it up to date.

[2021-10-21 08:13] oneiro-naut opened #442 "Events are being lost due to untriggered kretprobes"
## Bug Report
**General Information**
- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
vagrant-dev-env(kubearmor-dev)
Modify the Vagrantfile to match github actions hardware specs.
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts

[2021-10-21 11:06] vaibhavmew opened #446 "Kind Support"
Test various functionalities of KubeArmor.

[2021-10-21 11:27] #409 closed, assigned to seswarrajan

[2021-10-21 11:28] #441 closed, assigned to nobody

[2021-10-22 03:39] elfadel opened #450 "Vagrant: Kubernetes (kubelet) failed to start with containerd as CRI runtime"
When KubeArmor is launched (from vagrant script) with `containerd` as container runtime, k8s cannot work properly. A subsequent error message is: `KubeletNotReady              [container runtime status check may not have completed yet, container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:Network plugin returns error: cni plugin not initialized]`.

[2021-10-22 06:33] nam-jaehyun commented on #450
@elfadel This is not an issue of KubeArmor. This is kind of an issue about an environment that we didn't support so far.
As you know, we only supported K8s with docker for the vagrant environment at this time.
It would be nice if you can make changes to support a vagrant environment with both docker and containerd.

[2021-10-22 06:33] nam-jaehyun commented on #380
Since the problem raised by @vaibhavmew is not properly validated and we're not sure what was the problem,
I'm closing this issue.

[2021-10-22 06:33] #380 closed, assigned to nobody

[2021-10-22 07:36] elfadel commented on #450
Right @nam-jaehyun, this is not a KubeArmor issue.

[2021-10-22 07:37] elfadel commented on #450
Done. I will make a PR soon.

[2021-10-22 08:48] seswarrajan opened #452 "KVM Service - API for the Installation script"
KVMSOperator must provision an endpoint/API with grpc to  download the installation script.
The input paramaeter should provide the configured workload and the output to be the installation script to be copied/available in the location.

[2021-10-22 08:48] seswarrajan opened #453 "Verdict Handling - TBD"

[2021-10-28 07:51] #442 closed, assigned to oneiro-naut

[2021-11-02 08:45] #299 closed, assigned to nobody

[2021-11-02 08:58] nyrahul opened #464 "doc updates for karmor cli"
## Bug Report

KubeArmor now has an explicit CLI tool [karmor](https://github.com/kubearmor/kubearmor-client) that can be used for installation/uninstall/logs/status/sysdump etc. The documentation in kubearmor needs to be updated to use this.

**Changes to handle**

- [ ] [Deployment Guide](https://github.com/kubearmor/KubeArmor/blob/master/getting-started/deployment_guide.md)
- [ ] [EKS Guide](ht

[2021-11-02 11:46] #450 closed, assigned to nobody

[2021-11-02 16:30] sayantani11 commented on #464
@nyrahul for starters, can I take this? It will help me in understanding the project better.

[2021-11-03 03:07] nyrahul commented on #464
Thank you. Issue is now assigned to you.

The documentation in general needs to outline following steps:

1. Installation/Uninstallation (using [karmor cli](https://github.com/kubearmor/kubearmor-client))
2. Using a demo application and applying a security policy using kubearmor. ([Multiubuntu example](https://github.com/kubearmor/KubeArmor/blob/master/getting-started/security_policy_examples.md)

[2021-11-03 19:19] navarrothiago opened #466 "create alias for kubectl in development environment"
It would be good to have some alias inside development environment. I'd suggest the following ones:

[code]

[2021-11-04 15:24] navarrothiago opened #469 "KubeAmor installation is missing in Multiubuntu guide"
If we check [Multiubuntu](https://github.com/kubearmor/KubeArmor/blob/master/examples/multiubuntu.md), there is no instructions for KubeAmor installation. I was testing using [development environment](https://github.com/kubearmor/KubeArmor/blob/master/contribution/development_guide.md) and there is any step related to CRDs deployments and I faced some error. Maybe we can put some "Be sure that you

[2021-11-05 03:40] nyrahul commented on #464
This issue was extensively discussed in the community meeting on 4th Nov 2021.

Key points that came out:
1. We need sample documentation for integrating with KubeArmor alerts/telemetry. This would be a separate issue.
2. For individual k8s platforms we can create a sample video using asciinema. Again his would be a separate issue.

[2021-11-05 03:51] nyrahul opened #472 "EKS - Ubuntu 20.04 problem with getting k8s info in kubearmor"
## Bug Report

KubeArmor is not able to k8s pods information using k8s client APIs. Following is seen in the logs:
[code]

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
EKS Ubuntu 20.04 image

- Kernel version (run `uname -a`)
5.11

- Orchestration system version in use (e.g. `kubectl version`, ...)
1.21

**To Reproduce**

Follow the

[2021-11-05 04:28] weirdwiz commented on #472
The issue happens because of mismatch between node name that kubearmor expects, and the node name we get from kubernetes API.
For eg. Kubearmor expects `ip-192-168-68-98` (which is derived from the host name [1]) but gets something like `ip-192-168-68-98.us-east-2.compute.internal` from the API.

[1] : https://github.com/Kubearmor/KubeArmor/blob/b5a7459fd87638546e00709ad09c564fa6b6bcd8/KubeArmor/c

[2021-11-05 04:43] weirdwiz commented on #472
According to the naming convention, listed [here](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names) we can only expect `-` and `.` other than lower case alphanumeric characters.
Would it be safe to assume, that `.` will almost always act as a separator? If yes, then can we expect the first part of the text always be the host name?

[2021-11-05 09:40] #472 closed, assigned to nam-jaehyun

[2021-11-09 10:06] daemon1024 opened #477 "KubeArmor Documentation"
Currently the KubeArmor documentation is scattered and difficult to follow.
This is a meta issue to track and improve KubeArmor documentation by collecting the docs into an organised manner with proper references and leveraging [collapsible sections](https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections)

Following is th

[2021-11-09 10:24] nyrahul commented on #477
This issue encompasses changes to be handled in #464

We also need a document section for handling KubeArmor usage on VM/Bare-metals.

[2021-11-10 11:19] seswarrajan opened #478 "Coding - 0.5"

[2021-11-10 15:37] vaibhavmew commented on #446
Kind uses Docker to run an Ubuntu image. This image acts as a host/node for deploying pods. However it uses containerd to deploy the pods on the node. Apparmor is working fine on the host but it fails to do the same when a policy is applied to the pods. This was tested on multiubuntu. Need to find a way to enable apparmor on the pods deployed using containerd.

[2021-11-11 04:36] nyrahul opened #479 "karmor log does not show alerts/telemetry in some cases"
## Bug Report

Found an issue wherein the `karmor log` was not showing any alerts even though the `tail -f /tmp/kubearmor.log` was generating appropriate alert messages.
On debugging further along with @nam-jaehyun , found that kubearmor-relay API call (`WatchMessages()`) to kubearmor were failing.
<details>
   <summary>Logs from Kubearmor-relay</summary>

[code]
</details>

**General Information*

[2021-11-15 03:44] nyrahul commented on #372
@seswarrajan , can we close this issue? I believe we have the code here?

[2021-11-15 05:48] nyrahul opened #481 "Documentation for enabling pod/containers/hosts visibility"
## Description
KubeArmor currently supports enabling visibility for containers/hosts. This was handled as part of #126 and #398.

We need the following in documentation:
- [ ] Enabling visibility in the sample app
- [ ] How to fetch the visibility info from `karmor log`?
- [ ] Sample JSONs

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ..

[2021-11-15 06:04] nyrahul commented on #478
Please do not raise issues without any context. This issue does not make sense to me.

[2021-11-15 06:04] #478 closed, assigned to nobody

[2021-11-15 10:16] #110 closed, assigned to nobody

[2021-11-15 10:24] nam-jaehyun commented on #477
@daemon1024 @nyrahul Can you split this issue into multiple ones?
Then, people can choose one of them in parallel while we may need to reorganize the pages later.

[2021-11-15 10:26] nam-jaehyun commented on #477
@daemon1024 in terms of self-managed k8s, let's have two items: one is for docker and the other is for containerd.
Also, I removed helm-based KubeArmor deployment.

[2021-11-15 11:52] seswarrajan commented on #364
https://github.com/kubearmor/KVMService/pull/4

[2021-11-15 11:52] #364 closed, assigned to nobody

[2021-11-15 14:38] nyrahul opened #484 "Support for BPF-LSM for policy enforcement"
## Feature Request

Currently, KubeArmor supports AppArmor for policy enforcement. SELinux has several limitations on what can be achieved from enforcement point of view.

The new LSM on the corner, the BPF-LSM shows a lot of promise. It essentially will allow KubeArmor to insert eBPF bytecode at LSM hooks. BPF-LSM could do away with the limitations of AppArmor, SELinux internal policy constructs

[2021-11-15 18:41] daemon1024 opened #485 "Manage YAML deployments and `karmor` install"
**Feature Request**

Pkg/tool to manage deployment yamls and export k8s objects for `karmor install`

**Is your feature request related to a problem? Please describe the use case.**

Lot of duplicate code changes when we need to change recommended yaml installations also we need to manually sync kArmor cli with the new default configurations.

[2021-11-17 10:24] nyrahul opened #491 "problem using bcc-dev edge ver pkg for alpine"
## Bug Report
After the latest kubearmor image update, the kubearmor pods were going into CrashLoopBackOff for following reason:
[code]

There was a problem using the latest update of [bcc-dev (edge, 0.23.0-r0)](https://pkgs.alpinelinux.org/packages?name=bcc-dev&branch=edge&repo=community&arch=x86_64). This pkg was updated yesterday.

#490 affixed [0.20.0-r1 of bcc-dev from alpine branch v3.14](ht

[2021-11-18 05:27] nam-jaehyun commented on #491
For safety, let's add one more testing logic that GitHub action builds a test image before pushing the latest image to Github Hub. In this process, we need to check if the test image can be deployed in a k8s cluster and the KubeArmor daemonset runs without errors.

[2021-11-18 05:28] #446 closed, assigned to nobody

[2021-11-18 05:35] nyrahul commented on #491
Yeah! Good point. I believe the current tests are run directly in a self-managed k8s env with kubearmor running as a host process. The only change we may have to do is to use karmor cli to do the tests (which will automatically install kubearmor images). Is this right?

[2021-11-18 17:37] daemon1024 opened #492 "GKE Cluster Setup Documentation"
Add prerequisites to setting up KubeArmor in a GKE Cluster in the [getting started ](https://github.com/kubearmor/KubeArmor/tree/main/getting-started) guide as a section.

**Hi, If it is the first time that you contribute to KubeArmor, follow these steps:**
Write a comment in this issue thread to let other possible contributors know that you are working on this bug. For eg : `Hey all, I would like

[2021-11-18 17:42] daemon1024 opened #493 "EKS Cluster Setup Documentation"
Add prerequisites to setting up KubeArmor in a EKS Cluster in the [getting started ](https://github.com/kubearmor/KubeArmor/tree/main/getting-started) guide as a section

Reference https://github.com/kubearmor/KubeArmor/tree/main/deployments/EKS#prerequisite-for-the-deployment

**Hi, If it is the first time that you contribute to KubeArmor, follow these steps:**
Write a comment in this issue threa

[2021-11-18 17:42] daemon1024 opened #494 "Self-hosted K8s Cluster Setup Documentation"
Add prerequisites to setting up KubeArmor in a Self Hosted K8s Cluster in the [getting started ](https://github.com/kubearmor/KubeArmor/tree/main/getting-started) guide as a section.

Note: The documentation should cover both containerd and docker container runtimes.

Reference https://github.com/kubearmor/KubeArmor/tree/main/contribution/self-managed-k8s

**Hi, If it is the first time that you co

[2021-11-18 17:42] daemon1024 opened #495 "MicroK8s Cluster Setup Documentation"
Add prerequisites to setting up KubeArmor in a Microk8s Cluster in the [getting started](https://github.com/kubearmor/KubeArmor/tree/main/getting-started) guide as a section.

Ref https://github.com/kubearmor/KubeArmor/tree/main/contribution/microk8s

**Hi, If it is the first time that you contribute to KubeArmor, follow these steps:**
Write a comment in this issue thread to let other possible con

[2021-11-18 17:42] daemon1024 opened #496 "Minikube Cluster Setup Documentation"
Add prerequisites to setting up KubeArmor in a Minikube Cluster in the [getting started ](https://github.com/kubearmor/KubeArmor/tree/main/getting-started) guide as a section.

Ref https://github.com/kubearmor/KubeArmor/tree/main/contribution/minikube

**Hi, If it is the first time that you contribute to KubeArmor, follow these steps:**
Write a comment in this issue thread to let other possible co

[2021-11-18 17:42] daemon1024 opened #497 "k3s Cluster Setup Documentation"
Add prerequisites to setting up KubeArmor in a k3s Cluster in the [getting started ](https://github.com/kubearmor/KubeArmor/tree/main/getting-started) guide as a section.

**Hi, If it is the first time that you contribute to KubeArmor, follow these steps:**
Write a comment in this issue thread to let other possible contributors know that you are working on this bug. For eg : `Hey all, I would like

[2021-11-18 18:37] daemon1024 opened #498 "KubeArmor Manual Installation"
We recently updated our [guide](https://github.com/kubearmor/KubeArmor/blob/main/getting-started/deployment_guide.md) with kArmor based installation. We should also provide a section pointing to manual YAML based KubeArmor deployment.

Ref https://github.com/kubearmor/KubeArmor/tree/main/deployments

**Hi, If it is the first time that you contribute to KubeArmor, follow these steps:**
Write a comm

[2021-11-18 18:42] daemon1024 opened #499 "Troubleshooting Guide"
- Provide List of Checks
- `karmor sysdump` utility
- List of Information required and Format to ask for help

**Hi, If it is the first time that you contribute to KubeArmor, follow these steps:**
Write a comment in this issue thread to let other possible contributors know that you are working on this bug. For eg : `Hey all, I would like to work on this issue.`, checkout [Contributing Guide :fire:

[2021-11-19 05:13] nyrahul opened #500 "kubearmor as systemd process"
## Feature Request

Currently, kubearmor supports k8s env by default. Also kubearmor can operate on a standalone VM/Bare-metal as a docker container using [KVMService](https://github.com/kubearmor/KVMService/).

Kubearmor could be ran as a host-process as a systemd service. The policy application and visibility could be accessed using karmor CLI.

**Is your feature request related to a problem? Pl

[2021-11-19 05:51] nam-jaehyun opened #501 "Incorrect value (overwritten value) in alert logs"
## Bug Report

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
vagrant-dev-env

- Kernel version (run `uname -a`)
4.15 (NETNEXT=0)

- Orchestration system version in use (e.g. `kubectl version`, ...)
v1.21.0

**Current Issue**

1. Apply the wordpress-mysql microservice
2. Apply ksp-mysql-audit-dir.yaml
3. Run touch /var/lib/mysql/test

[2021-11-19 10:38] nyrahul commented on #76
[Document prepared](https://docs.google.com/document/d/1tXg4LhVBS74fxafDt1vKmYakd3AzF9c405haq-yWtbc/edit) by @oneiro-naut for SELinux deployment in Kubearmor and limitations. Keeping here for ref.

[2021-11-20 11:54] oneiro-naut opened #503 "KubeArmor crashes on minikube because BPF code can't compile"
## Bug Report
**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
[code]
- Kernel version (run `uname -a`)
[code]
- Kernel configuration (run `zcat /proc/config.gz` or `cat /lib/modules/$(uname -r)/build/.config`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
All
- Link to relevant artifacts (policies, deployme

[2021-11-20 11:57] oneiro-naut opened #504 "Make KubeArmor aware of platform kernel configuration"
## Feature Request

**Short Description**
Every platform has a different kernel configuration and this can cause eBPF code compilation to fail at times. If that happens KubeArmor will not run on that platform. An example would be #503. Fortunately in most of the scenarios the configurations can be such that portions of BPF code can be selectively compiled using `#ifdef` directives while unsupporte

[2021-11-22 02:22] #436 closed, assigned to nobody

[2021-11-22 02:24] seswarrajan commented on #314
https://github.com/kubearmor/KVMService/pull/3
Merged in above pull request

[2021-11-22 02:25] #314 closed, assigned to Maddy007-maha

[2021-11-22 02:27] seswarrajan commented on #386
https://github.com/kubearmor/KubeArmor/pull/483

Merged into MAIN

[2021-11-22 02:27] #386 closed, assigned to nobody

[2021-11-22 02:28] seswarrajan commented on #389
https://github.com/kubearmor/KubeArmor/pull/483
Merged into main

[2021-11-22 02:28] #389 closed, assigned to nobody

[2021-11-22 02:28] seswarrajan commented on #368
https://github.com/kubearmor/KubeArmor/pull/483
Merged into MAIN in above PR

[2021-11-22 02:28] #368 closed, assigned to nobody

[2021-11-22 02:29] seswarrajan commented on #392
The generated script is validated across multiple VMs and confirmed that the same is working.

[2021-11-22 02:29] #392 closed, assigned to nobody

[2021-11-22 02:30] seswarrajan commented on #387
The created container is working. Tested with multiple VM installations.

[2021-11-22 02:30] #387 closed, assigned to nobody

[2021-11-22 02:33] seswarrajan opened #506 "KVM Service - CLI command for installation script generation"
KVM Service
==========
When a new workload is configured in kvmsoperartor, KVMService should be capable and must provision with downloading the installation script over CLI.
The implementation should be done with grpc.

Hence the download is supported by karmor CLI or by grpcurl.

[2021-11-22 02:33] #367 closed, assigned to nobody

[2021-11-22 02:37] seswarrajan commented on #506
https://github.com/kubearmor/KVMService/pull/7
Merged in above PR

[2021-11-22 02:37] #506 closed, assigned to nobody

[2021-11-22 02:38] seswarrajan commented on #452
https://github.com/kubearmor/KVMService/pull/7
MErged in above PR

[2021-11-22 02:38] #452 closed, assigned to nobody

[2021-11-22 02:39] seswarrajan commented on #371
https://github.com/kubearmor/KVMService/pull/7
Merged in this PR

[2021-11-22 02:39] #371 closed, assigned to nobody

[2021-11-22 02:39] seswarrajan commented on #369
Merged in PR
https://github.com/kubearmor/KVMService/pull/7

[2021-11-22 02:39] #369 closed, assigned to nobody

[2021-11-22 02:40] seswarrajan commented on #372
Merged PR into MAIN

[2021-11-22 02:40] #372 closed, assigned to nobody

[2021-11-22 02:40] #366 closed, assigned to nobody

[2021-11-22 02:41] seswarrajan commented on #365
Merged PR into MAIN

[2021-11-22 02:41] #365 closed, assigned to nobody

[2021-11-22 02:41] #370 closed, assigned to nobody

[2021-11-22 02:52] seswarrajan opened #507 "Tracking external node uptime/downtime"
The controller cluster needs to track the uptime, downtime of the external node based on the GRPC connection availability.
In the future, this could be used to provide alerts/telemetry to the user.

[2021-11-22 02:59] nyrahul commented on #507
Hey @seswarrajan , this issue needs to be raised in KVMService repo.

[2021-11-22 03:03] seswarrajan commented on #507
This issue is a duplicate of https://github.com/kubearmor/KVMService/issues/14
Hence closing the same

[2021-11-22 03:03] #507 closed, assigned to nobody

[2021-11-22 07:39] JeongyoonMoon commented on #484
Can I work on this? I could start on December 20, 2021. I have experience in LSM eBPF while implementing a research prototype with @nam-jaehyun.

[2021-11-22 10:07] nyrahul commented on #484
Thank you for the interest. Currently, we are in the phase of analyzing whether BPF LSM can be used for [existing policy constructs](https://github.com/kubearmor/KubeArmor/blob/main/getting-started/security_policy_specification.md) that are presently fulfilled by AppArmor. @weirdwiz, can you share the analysis xls and may be we can split up the analysis work? WDYT? @nam-jaehyun @weirdwiz

[2021-11-22 10:11] weirdwiz commented on #484
[Spreadsheets containing different POCs](https://docs.google.com/spreadsheets/d/1-4j_EcxDis0K9JWkJjZ4tgZaGlgmTOvKz6B5_A4E_pg/edit#gid=0)

[2021-11-22 14:01] JeongyoonMoon commented on #484
Thank you for the reply. Ok, then please let me know when the analysis ends. I want to participate in the analysis, but I have to focus on other things until December 20, 2021.

[2021-11-22 17:56] Ankurk99 commented on #491
The issue here is that recently function "libbpf_find_kernel_btf" was renamed to "btf__load_vmlinux_btf" in the Linux kernel [Commit link](https://github.com/torvalds/linux/commit/a710eed386f182fcbfe517b659f60024fdb7c40c#diff-333e3796217dda054b006e3cfe59f542121cf8a07f67f21c6ab7851ecf0c02e1). These changes were then included in the bcc library which takes usage of this function, but not able to fin

[2021-11-26 13:45] nyrahul opened #511 "supporting older kernels (< 4.x and >3.x) on RHEL and centos"
## Feature Request

**Short Description**

KubeArmor currently depends on certain kernel constructs (such as eBPF) for handling audit events and then correlating the k8s metadata. eBPF support required for kubearmor currently requires higher kernel versions (>4.15). This could be an impediment for kubearmor coverage.

There is an alternate train of thought. It is possible that we can have an alter

[2021-11-29 05:38] nam-jaehyun commented on #466
I feel these aliases are related to Kubernetes rather than KubeArmor.
Do we need to provide these aliases by KubeArmor?

[2021-11-29 05:40] nam-jaehyun commented on #37
due to license issues, it would be better to keep using apparmor_parser.

[2021-11-29 05:40] #37 closed, assigned to nobody

[2021-11-29 05:51] nyrahul commented on #466
The choice of aliases is very subjective. Different users will have different choices. It is easily possible for the user to replicate their list of aliases in Kubearmor's vagrant login.

[2021-11-29 05:51] #466 closed, assigned to nobody

[2021-11-29 05:52] nyrahul commented on #55
This is been handled as part of [kubearmor/policy-templates](https://github.com/kubearmor/policy-templates) repo.

[2021-11-29 05:52] #55 closed, assigned to nobody

[2021-11-29 14:17] nyrahul opened #514 "kubearmor in crashloopbackoff on minikube"
## Bug Report

* Installed minikube following the [instructions here](https://github.com/kubearmor/KubeArmor/tree/main/contribution/minikube#minikube-installation).
* used `kubectl apply -f https://raw.githubusercontent.com/kubearmor/KubeArmor/main/deployments/minikube/kubearmor.yaml` to install kubearmor (`karmor install` does not work kubearmor/kubearmor-client#30)

After installation is complet

[2021-11-29 19:41] Ankurk99 commented on #514
This issue is caused after the recent addition of bpf tracepoint for sys_exit_openat event ([https://github.com/kubearmor/KubeArmor/commit/f74e34feb8b06fa51ce8292d2070c42a787497d2](https://github.com/kubearmor/KubeArmor/commit/f74e34feb8b06fa51ce8292d2070c42a787497d2))

[2021-11-30 05:28] Ankurk99 commented on #514
@nyrahul  This is a duplicate of [https://github.com/kubearmor/KubeArmor/issues/503](https://github.com/kubearmor/KubeArmor/issues/503)

[2021-11-30 06:43] nyrahul commented on #514
Closing since duplicate

[2021-11-30 06:43] #514 closed, assigned to nobody

[2021-12-01 07:11] daemon1024 opened #515 "Fix eBPF compilation on CentOS 8 and RHEL 8"
## Bug Report

KubeArmor can't compile eBPF code on CentOS 8 and RHEL 8 and hence failing to start.

This due to our conditional checking in
https://github.com/kubearmor/KubeArmor/blob/afc99cb1e28a2b1779a884479e232fd239f6d2ca/KubeArmor/BPF/system_monitor.c#L171

But redhat has back-ported a few commits back to 4.18 so that voids are checking

Related https://github.com/draios/sysdig/pull/1650
Also

[2021-12-02 04:31] #373 closed, assigned to nobody

[2021-12-02 04:54] #390 closed, assigned to nobody

[2021-12-02 04:54] #453 closed, assigned to nobody

[2021-12-07 03:10] #497 closed, assigned to nobody

[2021-12-07 18:06] nyrahul opened #522 "docker push stopped working from vagrant dev VM"
## Bug Report

[This commit](https://github.com/kubearmor/KubeArmor/pull/505/commits/1be8d9d79cb2e1870a3e4063b144738c873795ba) introduced a change in `KubeArmor/KubeArmor/build/push_kubearmor.sh` to use `docker push -a` to push all the tags. `-a` option is not present in docker-ce version 18.09 which is by default installed in the ubuntu 18.04 vagrant dev VM. `-a` option was introduced to push mul

[2021-12-07 18:08] nyrahul commented on #522
Hey @nam-jaehyun , Is there any specific reason why we are installing docker-ce/docker-ce-cli version 18.09 in the vagrant dev VM? [ref](https://github.com/kubearmor/KubeArmor/blob/b86aa474a56a976a7407ba3ef6faa191fc4820aa/contribution/self-managed-k8s/docker/install_docker.sh#L38).

[2021-12-08 09:14] nam-jaehyun commented on #522
that is the minimum version that KubeArmor supports

[2021-12-08 13:33] nyrahul commented on #522
Is it ok to switch to latest docker in the vagrant dev env? Based on my tests, it seems to work without issues.

[2021-12-09 04:24] Ankurk99 opened #526 "KubeArmor crashing with Segmentation fault"
## Bug Report

**KubeArmor crashing**

- Environment description: Tested on vagrant-dev-env but should be a global issue

**To Reproduce**

1. Setup dev env vagrant VM
2. cd KubeArmor/KubeArmor/build && ./build_kubearmor.sh
3. Run kubearmor
	- cd deployment/docker && kubectl apply -f kubearmor.yaml

This results in KubeArmor crashing with following error:
`Error code: 139`
`/KubeArmor/entrypoint.s

[2021-12-09 04:26] Ankurk99 commented on #526
@nam-jaehyun Is there any other workaround like increasing the resources limit?

[2021-12-09 04:47] Ankurk99 opened #527 "add github actions to test image before pushing the latest"
## Feature Request

**Short Description**
Github actions to test KubeArmor image before pushing the latest one to Docker hub

**Is your feature request related to a problem? Please describe the use case.**
Currently we don't test the KubeArmor Docker image before pushing it to Docker Hub. Creating a test image before the latest will help in the stability of the Latest image.

**Describe the soluti

[2021-12-09 05:22] namdeirf opened #528 "Adopt a license scanning tool, like FOSSA or Snyk"
## Feature Request

**Short Description**

Per the CNCF [Sandbox requirements](https://github.com/cncf/sandbox/issues/226), the KubeArmor repo needs to adopt a license scanning tool.

**Is your feature request related to a problem? Please describe the use case.**

Not related to a problem

**Describe the solution you'd like**

[FOSSA](https://fossa.com/) or [Snyk](https://snyk.io/plans/)

**Descri

[2021-12-09 12:01] nyrahul commented on #526
@Ankurk99 , did you test by removing the resource limits (as mentioned in the workaround) and did it work for you?

[2021-12-09 12:12] Ankurk99 commented on #526
Yes @nyrahul, it is running fine after removing the resource limits. I tested it locally and on github actions too (https://github.com/kubearmor/KubeArmor/runs/4461345837?check_suite_focus=true, here test is passing fine. The issue is with Docker authentication).

[2021-12-10 19:28] namdeirf commented on #528
Spoke with CNCF (https://github.com/cncf/sandbox/issues/226) and they can provide us with a license or we can create our own, they stated no preference.

1) Our decisions are: pick a tool -

- [ ] FOSSA / Only license scanning
- [ ] Snyk / License scanning and other features
- [ ] Other

2) Create our own license or use CNCF

- If we want to use their tool/license, a maintainer needs to submit a r

[2021-12-13 06:21] daemon1024 commented on #528
We already use a license scanning tool called [Apache SkyWalking Eyes](https://github.com/apache/skywalking-eyes) which is configured to run here
https://github.com/kubearmor/KubeArmor/blob/60c105f04f1f3bf6fdc5d90264236e104c153d34/.github/workflows/ci-go.yml#L55-L56
If needed, we can discuss any changes is required in the way it is configured to run.
Else if it doesn't fit the requirements, we can

[2021-12-13 09:21] daemon1024 opened #531 "Use `client-go` to make requests to kube-apiserver instead of direct API calls"
## Feature Request

Use `client-go` to make requests to kube-apiserver instead of direct API calls

**Is your feature request related to a problem? Please describe the use case.**

Currently we need to have a running proxy for kube-apiserver for KubeArmor in process mode to interact with k8s.

**Describe the solution you'd like**

Current : https://github.com/kubearmor/KubeArmor/blob/60c105f04f1f3

[2021-12-13 15:44] nyrahul opened #532 "extending fields in the Telemetry/Alert feed"
## Feature Request

### Short Description

Currently, the process name is part of the telemetry/alert feeds. We need process full path as part of the same feed.

<details>
<summary>Sample Log feed</summary>

[code]
Note the field `Source` ... This is the process name. We need process path as well.
</details>

<details>
<summary>Sample Alert feed</summary>

[code]
Note the field `Source` ... This i

[2021-12-13 17:31] namdeirf commented on #528
Thank you @daemon1024! CNCF is asking for a license scanning report, comment below, is that something you can provide?

[2021-12-13 17:57] daemon1024 commented on #528
@namdeirf here's a report generated by the tool - https://gist.github.com/daemon1024/3ed45e9294f5bd4f273d03d90d0a6549
Hope this helps.

Used `dependency resolve` command provided by the tool to generate this

Ref https://github.com/apache/skywalking-eyes#resolve-dependencies-licenses

[2021-12-13 18:17] namdeirf commented on #528
Thank you @daemon1024, might be a silly question is it okay if I just share with them the link above? Or should I download a copy of that file.

[2021-12-13 18:23] daemon1024 commented on #528
@namdeirf Yeah it's perfectly ok 🙌🏽 Pasted in there, so that it could be shared 😬

[2021-12-13 21:02] namdeirf commented on #528
Per a request from CNCF @daemon1024, is there a way to create a 'badge' on our READme page that will allow people to create a report [like the one you created](https://gist.github.com/daemon1024/3ed45e9294f5bd4f273d03d90d0a6549) on demand?

Essentially our license compliance needs to be able to be verified publicly by whomever. Apparently, FOSSA offers this option.

Let me know if you want to jump

[2021-12-14 04:26] nyrahul opened #533 "documentation needed for adding system tests"
Tasks:
- [x] Explain current structure for [system tests](https://github.com/kubearmor/KubeArmor/tree/main/tests)
- [x] How to add new test?
- [x] How to check coverage?
- [x] How to integrate newly added test in the overall system test so that it can run as part of CI/GH-action?

Expected Output:
- [x] document explaining above with sample test

[2021-12-14 04:30] #491 closed, assigned to Ankurk99

[2021-12-14 14:21] sayantani11 commented on #498
Hi all, I would like to work on this issue... also @daemon1024  do I add the deployment link provided or point to each particular deployment in the guide? I hope I am able to explain myself

[2021-12-14 15:22] daemon1024 commented on #498
@sayantani11 I think it should be the link provided in the issue, with context that you need to choose the YAML based on your environment. Followed by an example with generic deployment YAML!

Thanks for taking interest in this 😄

[2021-12-15 04:09] nyrahul commented on #528
Have requested CNCF Service Desk for a synk license. Synk could be very useful since it does vulnerability scanning as well as license scanning.

[2021-12-15 19:26] nyrahul opened #534 "failed to send log/alert/message"
## Bug Report

In some of the logs that we get, there are non UTF-8 characters resulting in grpc marshaling failures.

One such case is when a abstract unix domain socket is opened. An abstract unix domain socket name starts with a nul byte and thus an invalid UTF-8 byte.

On adding additional logs in the `feeder/feeder.go` I saw following:
[code]

As can be seen the `sun_path` field which is the

[2021-12-15 19:36] nyrahul commented on #528
CNCF had graciously (and promptly) allocated us a licensed use of Snyk and it is already been put to use. @daemon1024 @namdeirf , I have added you as collaborators and you might have received the invites to check the reports.

[2021-12-15 19:58] namdeirf commented on #528
Thank you!

[2021-12-15 19:58] #528 closed, assigned to nobody

[2021-12-15 19:58] namdeirf commented on #528
We have adopted Snyk via a CNCF license.

[2021-12-17 12:11] daemon1024 opened #537 "Reconsider k8s environment detection"
## Bug Report

We currently check local k8s environment using
https://github.com/kubearmor/KubeArmor/blob/d99a1cb5f90892ce0a64e1c98b3916741890603b/KubeArmor/common/common.go#L265
which is not a valid way, since there might be a `.kube` folder but no valid config. So we should revisit this.

**General Information**

- Environment description: process mode

**To Reproduce**

1. Create a `.kube` fold

[2021-12-17 14:30] #500 closed, assigned to daemon1024

[2021-12-17 14:30] #515 closed, assigned to daemon1024

[2021-12-18 06:01] nyrahul commented on #532
Sample host policy alert:
[code]

[2021-12-21 05:54] #485 closed, assigned to nobody

[2021-12-21 05:54] #526 closed, assigned to nobody

[2021-12-21 15:59] DARK-art108 commented on #533
Can I work on this issue? @nyrahul

[2021-12-21 16:28] nyrahul commented on #533
That will be great! Let us know if you have any questions.

[2021-12-23 06:06] #527 closed, assigned to Ankurk99

[2021-12-23 10:34] nyrahul opened #546 "enabling host visibility for VM/Bare-metal"
## Feature Request

**Enabling Host Visibility for VM/Bare-Metal nodes**
#404 added support for enabling host visibility. But this support works only for k8s nodes that can be annotated with `kubectl annotate node kubearmor-dev kubearmor-visibility=process,file,network,capability`.

In case of non-k8s VM/Bare-Metal nodes, currently there is no way of enabling the host visibility.

**Is your featur

[2021-12-26 12:51] h3llix opened #550 "Remove container name dependency from documents"
## Feature Request
For example: In `multiubuntu.md` user needs to manually type in container name and this could be removed using kubectl jsonpath

**Describe the solution you'd like**
Please refer this #549

[2021-12-27 05:49] nam-jaehyun commented on #550
@h3llix can you also check the other documents and update them together?

[2021-12-27 05:55] #504 closed, assigned to nobody

[2021-12-27 05:56] h3llix commented on #550
@nam-jaehyun Sure. I'll fix them.

[2021-12-27 06:45] #546 closed, assigned to nobody

[2021-12-27 09:07] salman-accuknox opened #551 "Block policy is not enforcing as expected"
## Bug Report

**General Information**

- Environment: `GKE`
- Kernel version (run `uname -a`):
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Target : `pods`

**To Reproduce**

1. Deploy Sample Application
[code]
2. Apply Policy to block access to `/etc/passwd` of frontend pod from `server`
[code]
3. Goto `External_IP/lfi?file=/../../../etc/passwd`
[code]
URL

[2021-12-27 09:45] nyrahul commented on #551
I think the problem here is relative file access of `/etc/passwd` ... In the policy there is absolute file path specified but when the access is attempted, a relative path is used. This is a problem. CC @nam-jaehyun

@salman-accuknox , lets confirm this hypothesis? Can you please access the `/etc/passwd` using an absolute path (for e.g, you can bash into the container and use `cat /etc/passed`) an

[2021-12-27 10:29] salman-accuknox commented on #551
So it is auditing file access from UI(server) correctly. Like I m getting logs only when the file access occurred from the web(server).

Yes. If I enforce a rule like this.
[code]
Then I m getting the result. Here it also blocks relative file access.

![image](https://user-images.githubusercontent.com/86464007/147462356-f5b6247a-e1a3-4816-9eaa-ee69326f358c.png)

[code]

[2021-12-28 14:29] bestgaurav opened #552 "Host policy Matchpatterns logs"
## Bug Report

**General Information**

- Environment description (GKE)
- Kernel version (Linux cs-143956293394-default-default-5p8pf 5.10.68+ #1 SMP Wed Dec 1 10:07:21 UTC 2021 x86_64 GNU/Linux)
- Orchestration system version in use (Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.4", GitCommit:"b695d79d4f967c403a96986f1750a35eb75e75f1", GitTreeState:"clean", BuildDate:"2021

[2021-12-29 04:07] salman-accuknox opened #554 "VM policy is not blocking the process from same ssh window"
## Bug Report

**General Information**

- Environment description: Debian 11 VM (GCP- Compute Engine)
- Kernel version (run `uname -a`)
[code]
- Link to relevant artifacts: https://help.accuknox.com/open-source/kubearmor-vm/
- Target: VM

**To Reproduce**

1. Apply policy on VM
[code]

2. Validate the policy by using the cat
[code]

**Expected behavior**

-bash: /usr/bin/cat: Permission denied

**

[2021-12-29 04:44] nyrahul commented on #554
I don't think this is an issue/bug. KubeArmor will start enforcing on new processes spawned after the policy is applied. CC: @nam-jaehyun WDYT?

[2021-12-29 15:53] #550 closed, assigned to h3llix

[2021-12-29 15:59] nam-jaehyun commented on #554
Based on the description, it seems that KubeArmor enforced the policy and the file access was blocked.
@salman-accuknox we need more description. it is hard to understand why this is a bug.

[2021-12-29 16:06] nam-jaehyun commented on #551
@salman-accuknox it means that /src/server may not be the subject that accesses /etc/passwd.
/src/server may just receive some outputs from other processes (e.g., shells).

[2021-12-29 16:11] nam-jaehyun commented on #522
@nyrahul it seems that this issue was already addressed with your previous PR (removing -a). If so, can you close this?

[2021-12-29 16:41] h3llix commented on #532
[code]
In my case field `Source` already shows the `SourcePath`. @nyrahul Can you elaborate more on this ?

[2021-12-29 17:29] nyrahul opened #556 "Apply Seccomp rules as KubeArmorSeccompPolicy"
- [x] New CRD `KubeArmorSeccompPolicy (kscmp)` to specify seccomp rules ... Rational for separate CRD is [here](https://github.com/kubearmor/KubeArmor/wiki/KubeArmor-Seccomp-Support#rational-for-separate-kind-kubearmorseccomppolicy-kscmp-for-short).
- [x] Handle seccomp rules in kubearmor k8s watcher
- [ ] Map ksp to seccomp profile
- [x] Update pod/deployment spec to apply seccomp annotation
- [

[2021-12-30 05:49] #503 closed, assigned to h3llix

[2021-12-30 07:23] nyrahul commented on #532
I think the full path will show up in most cases i.e., if the process does not specify a process name then by default the process path will be used by OS kerne. However, there are few processes which allow you to change the process name. The examples I quoted are such processes. In my example, `zsh` seems to be altering the process name, thus you can try with `zsh`.

[2021-12-30 07:27] nyrahul commented on #522
Yes it was handled as part of #553

[2021-12-30 07:27] #522 closed, assigned to nobody

[2021-12-30 12:04] nam-jaehyun commented on #532
This issue is related to #501.

[2021-12-30 14:49] JeongyoonMoon commented on #537
Can I work on this issue? @nam-jaehyun

[2022-01-03 07:33] h3llix opened #561 "Add karmor in the vagrant box."
## Feature Request

Add karmor in the vagrant box.

[2022-01-03 07:54] h3llix commented on #552
I don't think it's a bug, Can you elaborate more on this issue?. It is working fine in my case.

cc @nyrahul @nam-jaehyun

[2022-01-03 14:36] salman-accuknox commented on #551
@nam-jaehyun Okay. But /src/server is initiating that right? Also, I m getting `server` in the source field also.

[2022-01-08 15:51] sayantani11 commented on #496
@daemon1024 Can I take this?

[2022-01-17 13:47] afzal442 commented on #531
hey @daemon1024, I got that proposed way to refactor that as you mentioned abv but unsure about incluster perspective.
Let me know how you would send response after getting `nodeWatcher` as example. Thanks.

// @nyrahul

[2022-01-17 14:29] daemon1024 commented on #531
Hey @afzal442, Thanks for taking interest in this issue.

As per my understanding, only difference is that how you authenticate with the server, rest the API is the same. The authentication part is already handled in https://github.com/kubearmor/KubeArmor/blob/main/KubeArmor/core/k8sHandler.go#L97-L102. So it's not an issue.

You can take a look at https://github.com/iximiuz/client-go-examples/tre

[2022-01-17 14:36] daemon1024 commented on #496
Sure go ahead @sayantani11

[2022-01-17 16:45] sbin64 commented on #531
Thanks so much, @daemon1024! That makes sense now.

That's really inspired me, that's why I landed on here. 😄
That is written wrt outside of cluster perspective.

[code]
I'm working around here! I'll ping you on slack soon. Thanks

[2022-01-20 07:04] nam-jaehyun commented on #554
When an ssh session is executed before the policy enforcement, the session is not under KubeArmor's control.
However, if a new session is executed after the policy enforcement, the session is under the control of KubeArmor.

[2022-01-20 07:04] #554 closed, assigned to nobody

[2022-01-20 12:22] #537 closed, assigned to JeongyoonMoon

[2022-01-22 04:22] #561 closed, assigned to nobody

[2022-01-22 17:52] sayantani11 commented on #495
Would like to work on it

[2022-01-22 17:53] sayantani11 commented on #494
Can I be assigned this?

[2022-01-25 17:37] sbin64 commented on #531
After going through your proposal and suggestion made, have a look  for nodeWatcher as below:
changes at k8sHandler.go code
[code]
changes at kubeUpdate.go as below
[code]

[2022-01-25 17:41] daemon1024 commented on #531
Looks in line with what I was thinking. Can you put it in a draft PR it's easy to review things here.

Are you able to compile and run things?

[2022-01-26 15:12] nyrahul opened #573 "Policies not applied when deployment is deleted/reapplied"
## Bug Report

The Kubearmor policy application does not work when a deployment is deleted and the same deployment is applied again.

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
GKE (but should be able to produce in any k8s env)
- Kernel version (run `uname -a`)
GKE-COS (but should be able to reproduce with any supported OS)
- Orch

[2022-01-26 15:37] nyrahul opened #574 "disable KubeArmorHostPolicy/Host Visibility by default for k8s env"
## Feature Request

Very few k8s deployments have a requirement to apply host-based policies for k8s worker nodes. Similarly there is much less use-case for host visibility option for worker nodes. Host visibility adds up to performance overhead. Host-policies and host visibility was primarily added for VM/Bare-metal based workloads.

This issue proposes to disable Host-Policy/Host-Visibility by d

[2022-01-27 07:52] #574 closed, assigned to nam-jaehyun

[2022-01-27 14:27] nyrahul commented on #534
This problem was fixed after updates to protobufs and haven't been seen again. `Makefile` is updated to always make protobufs before the other code is compiled.

Closing.

[2022-01-27 14:27] #534 closed, assigned to nobody

[2022-01-28 07:24] vishnusomank opened #579 "Kubearmor pod stuck in ContainerCreating with GKE Rapid Release Version"
## Bug Report

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
        `GKE Rapid Release Version 1.22.3-gke.700`
- Kernel version (run `uname -a`)

        Linux gke-cluster-1-default-pool-7b6c3cc6-hlf8 5.10.68+ #1 SMP Wed Oct 6 22:30:49 UTC 2021 x86_64 Intel(R) Xeon(R) CPU @ 2.20GHz GenuineIntel GNU/Linux
- Orchestration system versi

[2022-01-28 09:38] #573 closed, assigned to nam-jaehyun

[2022-01-28 15:32] slayer321 commented on #493
Hey @daemon1024, can I work on this?

[2022-02-03 08:28] ErenYeager713 commented on #496
Hey @daemon1024 , I would like to work on this issue.

[2022-02-03 09:50] daemon1024 commented on #496
Hey @ErenYeager713, @sayantani11 is already working on this. Can you checkout https://github.com/kubearmor/KubeArmor/blob/main/CONTRIBUTING.md#how-to-contribute-to-kubearmor to find more issues to contribute to? Thanks.

[2022-02-03 09:56] ErenYeager713 commented on #496
Sure

[2022-02-04 06:24] nyrahul opened #590 "version release and branching strategy/handling"
## Feature Request

**Short Description**

KubeArmor is now in active use in several POCs/deployments. It is expected that we have a clear branch and version release strategy enforced using CI practices.

**Describe the solution you'd like**

* `main` as our bleeding edge branch where things might be unstable.
* Release kubearmor every month or two with a new release version and release logs ... t

[2022-02-06 11:51] viveksahu26 opened #593 "Documentation issue"
## Documentation issue
Basically, I was going through docs.
Just below the policy in the section [how does kubearmor works](https://docs.kubearmor.com/kubearmor/#how-does-kubearmor-work), it is stated as :
`In the above policy - we are preventing the microservice-1 from accessing any the mysql conf file (/etc/mysql/my.cnf), or data file path (/etc/mysql/data).`

As I can see that `microservice-1`

[2022-02-06 11:56] viveksahu26 commented on #593
/assign

[2022-02-06 12:18] viveksahu26 opened #594 "Documentation issue."
## Documentation issue

Just below [design](https://docs.kubearmor.com/kubearmor/kubearmor-design), it is stated that :-
`KubeArmor operates with [Linux security modules (LSMs)](https://en.wikipedia.org/wiki/Linux_Security_Modules), **while** using eBPF to be able to track the syscalls that are happening.`

As it is mention in the [documentation ](https://docs.kubearmor.com/kubearmor/#how-does-kub

[2022-02-07 03:27] daemon1024 opened #595 "Implement `defaultArmor` option"
## Feature Request

Implement `defaultPosture` option in CLI and CRD

**Is your feature request related to a problem? Please describe the use case.**

Bug:
KubeArmor doesn't have a default posture in global context in case we only have from Source based policies.
Feature:
Add an option to audit events instead of blocking in case of whitelisting policies.

**Describe the solution you'd like**

Add

[2022-02-07 03:58] nyrahul commented on #595
SGTM, handling in CRD can be kept in different issue altogether and can be done later.

[2022-02-07 04:05] nam-jaehyun commented on #595
@nyrahul as Rahul said we can handle the CRD part later.
let's use defaultFileAction and defaultNetworkAction rather than xxxArmor.
what is the purpose of "-defaultArmor"?

[2022-02-07 04:36] daemon1024 commented on #595
Just noted the CRD Part so as keep it as a later action item.

@nam-jaehyun A global option, if someone doesn't want to individually configure file/network/future more options like caps maybe.

[2022-02-07 05:30] #498 closed, assigned to sayantani11

[2022-02-07 13:03] nyrahul commented on #595
@daemon1024, do we need a global option if we have specific options for `file`, `network`? If we have multiple option then we need to add conditions around it. We can simply keep `file`, `network` options. Maybe I miscommunicated this during our design call.

[2022-02-07 23:37] asifalix opened #601 "KubeArmor contribution guide needs to be updated without Vagrant"
## Feature Request

**Short Description**

KubeArmor contribution guide could have instructions that do not include Vagrant

KubeArmor contribution guide should have a contribution guide for developers on a Linux environment without using Vagrant. This needs to be updated..

[2022-02-07 23:38] asifalix commented on #601
Further we might want to add granular instructions on how to configure this and run in pure vm workloads.

[2022-02-08 04:05] nyrahul commented on #601
@asifalix, the [development guide](https://github.com/kubearmor/KubeArmor/blob/main/contribution/development_guide.md) has option 2 that allows the developer to setup dev env directly on Linux host without using vagrant. However, we do not recommend using it. We recommend using vagrant based setup since it takes care of setting up all the relevant build softwares. With vagrant we have seen much le

[2022-02-08 13:09] nyrahul opened #605 "policy enforcement issue when kubearmor is restarted in systemd mode"
## Bug Report

When kubearmor is operating in systemd mode, and if someone applies a set of policies and then restarts the kubearmor then one has to reapply the set of policies manually.

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
systemd (non-k8s) mode

- Kernel version (run `uname -a`)
Any supported kernel ver

- Orchestration s

[2022-02-08 13:11] nyrahul commented on #479
This issue is solved after the telemetry/alerts redesign.

[2022-02-08 13:11] #479 closed, assigned to nobody

[2022-02-09 04:45] sayantani11 commented on #477
@daemon1024 The collapsible section link doesn't work

[2022-02-09 05:28] daemon1024 commented on #477
https://gist.github.com/pierrejoubert73/902cc94d79424356a8d20be2b382e1ab

Hopefully this helps!

[2022-02-09 07:35] nthnieljson commented on #360
@nyrahul Hello, I am interested in this project and want to take this as my LFX mentorship project (referring to https://mentorship.lfx.linuxfoundation.org/project/81f0d863-30ca-43b5-a368-fd422ec681a6). I have already applied to the LFX mentorship website and also submitted my prerequisite tasks. Thank you!

[2022-02-09 09:51] Ankurk99 opened #609 "Update documentation to install latest version of bcc"
## Feature Request

**Short Description**
Currently documentation mentions to only install bcc and doesn't specify that the version should be 0.21.0 or greater (here https://github.com/kubearmor/KubeArmor/blob/main/getting-started/kubearmor_vm.md), this causes KubeArmor failing in initializing system monitor upon deployment if the user installs lower version of bcc (for eg: using package manager)

[2022-02-09 11:23] slayer321 commented on #609
Hey @Ankurk99 , I did like to work on this issue .

[2022-02-09 12:50] Ankurk99 commented on #609
Please reach out on Slack if you have any questions.

[2022-02-09 15:52] nyrahul commented on #360
Great to see your interest in solving this problem. We would be happy discuss the problem statement and possible design choices we had considered.

[2022-02-10 14:53] viveksahu26 commented on #593
Hey @nyrahul , could you please confirm that whether this issue is valid or not.

[2022-02-10 17:34] nyrahul opened #613 "observability and policy discovery helper tool"
## Feature Request

**Short Description**

KubeArmor, apart from been a policy enforcement engine also emits pod/container visibility data that can be used for observability use-cases. This observability information could in turn be used for kubearmor policy generation.
The aim of this feature is to:
1. show observability data in context to pod/container. Observability data includes
    * process

[2022-02-10 17:58] nyrahul opened #614 "support for ARM platform"
## Feature Request

**Short Description**

KubeArmor project has garnered interests from edge computing platforms (such as [LF Edge OpenHorizon](https://www.lfedge.org/projects/openhorizon/)). The primary requirement is to support several ARM platforms that are prevalent on the edge devices. KubeArmor uses kernel primitives which have been in use for several years and hence percolated across multi

[2022-02-10 18:13] viveksahu26 opened #615 "POD_NAME variable refers to wrong container instead of KubeArmor container"
## Bug Report
### Short Description
Basically all the logs stored inside KubeArmor container whenever any activity is triggered whether it's against or validating to the  applied KuberArmorPolicy in the Kubernetes cluster. Since, all logs are stored inside `/tmp/kubearmor.logs`. Therefore user need to exec inside that KubeArmor pod to see those logs.
But in the [documentation](https://github.com/k

[2022-02-10 18:14] viveksahu26 commented on #615
I would love to work on this issue.
/assign me.

[2022-02-10 18:56] slayer321 commented on #605
Hey @nyrahul , I did like to work on this issue.
Will need some pointer how can i start with this issue

[2022-02-11 03:08] #609 closed, assigned to slayer321

[2022-02-11 03:10] nyrahul commented on #615
Lets not use `/tmp/kubearmor.log` directly for alerts/telemetry purpose ... We have a [karmor](https://github.com/kubearmor/kubearmor-client) tool (`karmor log --logFilter all`) that can be used to get the alerts/telemetry. Going forward we may not use `/tmp/kubearmor.log` to store the alerts/telemetry.

[2022-02-11 05:19] h3llix opened #616 "Add Github action to check if each commit is compiling"
## Feature Request

A PR could be made up of multiple commits. We expect every commit to be self-sufficient i.e., solves a problem and is compilable/testable/revertable. We want the ability to check/ensure that every commit within a PR is compilable (and later testable). This way if needed we can revert individual commits. Further we want the ability to handle `git-bisect` to figure out which comm

[2022-02-11 12:44] viveksahu26 commented on #615
Ok. But under [Check audit logs ](https://github.com/kubearmor/KubeArmor/blob/main/examples/multiubuntu.md) section do we need to add `kubectl -n kube-system  exec -it kubearmor-7tjlk -- bash -c  "tail  /tmp/kubearmor.log`"  command or  `karmor log --logFilter all` for checking logs.

[2022-02-12 15:58] zeborg commented on #616
Hey @h3llix, I'd like to proceed with working on this issue. Thanks!

[2022-02-13 07:02] zeborg commented on #616
Hey @nyrahul, I'd like to know about the tests that we're supposed to handle within the CI.

[2022-02-13 10:18] nam-jaehyun commented on #616
@h3llix we already check if the new code is compilable during ci-test. can you check if the ci-test contains what you think?

[2022-02-13 10:34] h3llix commented on #616
@nam-jaehyun https://github.com/kubearmor/KubeArmor/blob/main/tests/test-scenarios-github.sh#L155 We run the test here. But I don't think we run and test it for individual commits.

[2022-02-14 18:30] daemon1024 opened #619 "Refactor Duplicated Type Based Logic"
Various parts of the code base has duplicated logical code to accommodate different type data. With the incoming support for Generics there's a scope of removal of lot of redundant code. This issue will act as a meta issue to collect/note/verify such parts of the code base and eventually refactor them.

Please submit permalinks to parts of the code which you think can be refactored in the thread.

[2022-02-14 18:54] daemon1024 opened #620 "TCP log not matched to a policy"
## Bug Report

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...) all
- Kernel version (run `uname -a`) Linux kubearmor-dev-all 4.15.0-156-generic Ubuntu SMP Thu Aug 19 23:31:58 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use (e.g. `kubectl version`, ...) v1.23.3
- Link to relevant artifacts (policies, deploy

[2022-02-15 10:36] nyrahul commented on #377
This issue belongs to kvmservice and was handled there.

[2022-02-15 10:36] #377 closed, assigned to nobody

[2022-02-15 13:15] daemon1024 commented on #615
@viveksahu26 I believe we should update to something like https://github.com/kubearmor/KubeArmor/blob/main/getting-started/kubearmor_vm.md#get-alerts-for-policies-and-telemetry

[2022-02-15 20:29] nyrahul opened #622 "kubearmor/kubearmor-relay stopping abruptly"
## Bug Report

It is found that the logs/telemetry from kubearmor-relay are abruptly stopped once in while.
The root-cause of the problem is not known yet.

Following are the observations (attached below is a screenshot):
1. Observed failure to send a log in kubearmor GRPC server
2. Observed in one case that the NodeIP (of kubearmor node/pod) is empty on kubearmor-relay
3. `WatchLogs()` no more wo

[2022-02-16 04:04] nyrahul opened #623 "using random kubearmor GRPC server port"
## Feature Request

**Short Description**

Currently, the GRPC server port [[is a configuration](https://github.com/kubearmor/KubeArmor/blob/bf39613c0c01e986d3e77d2f46a59c526cbf5907/KubeArmor/config/config.go#L79)](https://github.com/kubearmor/KubeArmor/blob/bf39613c0c01e986d3e77d2f46a59c526cbf5907/KubeArmor/config/config.go#L79) and the default value is 32767.
This works fine on kubearmor in k8s

[2022-02-16 04:08] nam-jaehyun commented on #623
@nyrahul is it better to use a user-defined port rather than a random port?
The port is configurable. Do we still need to support a random port too?

[2022-02-16 04:10] nyrahul commented on #623
For systemd/host-process mode it is problem ... I have seen kubearmor failing due to port already in use several times (yesterday it happened with @daemon1024 during office hours demo) ... The user might not be able to understand the problem. I was thinking may be we could reduce this friction.

[2022-02-16 04:15] nam-jaehyun commented on #616
Just curiosity. Does the GitHub Action work per commit? or... Does it work per PR?
I mean the point of view of KubeArmor repo (not a personal repo for development)

[2022-02-16 04:18] nyrahul commented on #616
The GH action is fired at PR level push event. But inside the event, we can iterate through the commits and build/test for each commit.

[2022-02-16 04:20] nam-jaehyun commented on #615
the purpose of /tmp/kubearmor.log is for debugging and quickly checking if KubeArmor works as we expected.
As Rahul and Barun mentioned, we need to use a proper way (e.g., karmor) for alerts and telemetry.

[2022-02-16 04:47] nyrahul commented on #622
Another instantiation of the same problem (reproduced in the same env):

![image](https://user-images.githubusercontent.com/9133227/154197879-1335f2b8-13a1-41e6-a730-903e0bc3cebc.png)

CC: @nam-jaehyun

[2022-02-16 15:24] #622 closed, assigned to nobody

[2022-02-16 18:35] viveksahu26 commented on #615
Ok, got it. Basically, we have to use standard way to see the logs and i.e. `karmor log --json`. And this also seems much convenient.

[2022-02-17 03:14] nyrahul commented on #619
- [ ] `GenerateHostProfileBody()` in `KubeArmor/enforcer/appArmorHostProfile.go`
- [ ] `GenerateProfileBody()` in `KubeArmor/enforcer/appArmorProfile.go`

[2022-02-21 08:09] Ankurk99 commented on #579
@vishnusomank I tried replicating the error but KubeArmor is running fine for me. Can you confirm if you are still facing the issue?

[2022-02-22 10:21] Ankurk99 commented on #579
Currently the KubeArmor seems to be running fine, if you face the problem again please feel free to open the issue.

[2022-02-24 20:41] viveksahu26 opened #629 "Support `matchExpression` for selecting resources in policy"
## Feature Request

**Short Description**

Currently, KubeArmor policies selects resource on the basis of `matchLabels`. On a large scale deployment selecting resources with `matchLabels` won't help. To filter resources in more granularity policy must support `matchExpression` to filter or select resources.

**Is your feature request related to a problem? Please describe the use case.**

To suppor

[2022-02-25 10:24] #590 closed, assigned to Ankurk99

[2022-02-28 12:57] viveksahu26 commented on #629
Hey @nyrahul , I would like to work on this issue.

[2022-02-28 21:07] nyrahul commented on #629
Thanks for the interest. Would you be able to provide an analysis (set of implementation changes) before you start making the changes? This would help us sync on the appropriate next steps.

[2022-03-03 04:57] nyrahul opened #638 "GH action to test Kubearmor in systemd mode"
## Feature Request

**Short Description**

Currently, the system tests that we have are all based on k8s environment. We need few tests in systemd mode as well. The tests should atleast cover:
1. running kubearmor in systemd mode
2. applying sample policy using karmor
3. verifying alerts using karmor on violation of those policies

**Describe the solution you'd like**

Task involved:
- [ ] GH acti

[2022-03-04 11:11] daemon1024 commented on #532
Fixed in #632

[2022-03-04 11:11] #532 closed, assigned to h3llix

[2022-03-06 16:32] nyrahul opened #641 "policy rule validation failure for a valid policy"
## Bug Report

Trying to apply a policy with valid `file.matchPaths` rule, but it fails.

[code]

Policy validation fails during policy apply giving following error:
[code]

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...)
any
- Kernel version (run `uname -a`)
any
- Orchestration system version in use (e.g. `kubectl version`, ...)
any

[2022-03-06 16:53] nyrahul opened #642 "segfault in kubearmor during policy handling"
## Bug Report

During policy apply, kubearmor got into CrashLoopBackOff. After removing the policy the kubearmor got back up normally.

<details>
  <summary>Policy causing segfault</summary>

[cartservice.yaml.txt](https://github.com/kubearmor/KubeArmor/files/8193057/cartservice.yaml.txt) save this text file as yaml.

[code]
</details>

<details>
  <summary>Segfault details</summary>

[code]
</det

[2022-03-07 03:30] #605 closed, assigned to seswarrajan

[2022-03-07 03:44] #501 closed, assigned to nobody

[2022-03-07 11:39] nam-jaehyun commented on #35
Refer to https://github.com/kubearmor/policy-templates.

[2022-03-07 11:39] #35 closed, assigned to nobody

[2022-03-08 04:26] #615 closed, assigned to viveksahu26

[2022-03-08 04:36] #641 closed, assigned to daemon1024

[2022-03-08 07:50] achrefbensaad commented on #360
@nyrahul , we cannot use mutation webhooks to annotate pods because when mutating we dont know on what node the pod will end up running on. in other words we cannot set the correct annotations for a perticular enforcer in the case that we have multiple types of enforcers in a cluster.
I would suggest that we use a controller that will watch for pods and annotate them, relatevly the same logic of `

[2022-03-10 09:08] #642 closed, assigned to seswarrajan

[2022-03-10 10:08] #620 closed, assigned to Ankurk99

[2022-03-11 03:08] nyrahul opened #647 "FAQs for Kubearmor"
## FAQs we can answer:

### General Queries
- [x] What deployments (GKE, EKS, Tanzu, OpenShift) are supported by KubeArmor? How can I check whether my deployment will be supported?
- [x] How is KubeArmor different from PodSecurityPolicy/PodSecurityContext?
- [x] What are the different approaches to runtime security? What is kubearmor's approach?
- [x] What is visibility that I hear of in KubeArmor

[2022-03-12 13:25] nyrahul commented on #76
[SELinux Test Analysis Design.docx](https://github.com/kubearmor/KubeArmor/files/8237664/SELinux.Test.Analysis.Design.docx)

These scenarios were tested by @ErenYeager713 . Thanks

[2022-03-13 16:15] nyrahul commented on #579
Opening this issue, since it looks like I just heard about this issue from a user (@vfarcic).

<details>
  <summary>Feedback/response verbatim</summary>

Here's the `karmor sysdump` output.

Sysdump at karmor-sysdump-Sun Mar 13 16:07:37 CET 2022.zip
Error: container "kubearmor" in pod "kubearmor-2w6pn" is waiting to start: ContainerCreating

I'm guessing that's not very useful since kubearmo pods

[2022-03-13 16:27] vfarcic commented on #579
GKE version: `1.22.6-gke.1000`

You can recreate the same cluster through the following commands.

[code]

[2022-03-13 17:00] nyrahul commented on #579
Yep I am able to reproduce the problem with the given release version. Thanks
@Ankurk99, @nam-jaehyun, lets discuss this tomorrow and figure out the best way to support it.

[2022-03-14 04:42] nyrahul commented on #579
@Ankurk99, @nam-jaehyun, the 1.22.* version is now available as part of GKE Regular Channel as well. Thus this is no more a problem with only Rapid Release channel.

[2022-03-14 15:11] nyrahul commented on #579
keeping it open for few manual tests.

[2022-03-15 12:41] Ankurk99 opened #653 "Performance analysis for KubeArmor"
## Profiling KubeArmor

Currently KubeArmor is consuming high CPU and the memory usage is increasing with time. This alarms the requirement of creating a profiling tool to analyze these types of issues

**Describe the solution you'd like**
- [x] Check CPU and memory usage of KubeArmor with and without visibility
- [ ] pprof to be supported as part of kubearmor startup
- [x] disable visibility and

[2022-03-15 12:47] Ankurk99 commented on #653
1) The memory usage of KubeArmor keeps on increasing with time, this suggests a possible memory leak
3) The CPU usage varies a lot (from 4% to 75%) and RAM usage keeps on increasing with time. But in general initial testing suggests that initial CPU usage is lower when KubeArmor is tested with visibility off.

[2022-03-15 13:00] Ankurk99 commented on #653
Analysis data: https://tame-haddock-e70.notion.site/KubeArmor-Profiling-2b758b7091ce4eccacf3b2dd308105ca

[2022-03-15 17:15] nyrahul commented on #579
The tests are done.
- [x] GKE Rapid Release
- [x] GKE Regular Release channel with latest image (v1.22.6-gke.1000 (default), v1.22.7-gke.900 (latest))
- [x] GKE with ubuntu images

One has to update the karmor tool to v0.6.4 using following command:
[code]

CC: @vfarcic, thanks again for the feedback.

[2022-03-16 08:26] #579 closed, assigned to nyrahul

[2022-03-17 10:21] nyrahul commented on #593
Hey @viveksahu26 , the link you specified in the issue description does not have the text you mentioning. Can you please verify again? Thanks

[2022-03-17 10:24] nyrahul commented on #594
I think the english "while using eBPF to be able to track ..." reads fine for me. Will close this since we haven't received any comments on this one from anyone else.

[2022-03-17 10:24] #594 closed, assigned to nobody

[2022-03-18 12:31] nyrahul commented on #619
go1.18 is released. Can we adopt the generics?

[2022-03-21 04:35] nam-jaehyun commented on #76
Reference: https://github.com/nam-jaehyun/KubeArmor/blob/main/examples/vagrant-selinux.md

[2022-03-22 09:30] nyrahul opened #659 "kubearmor support matrix for k8s/VM env"
# KubeArmor support matrix

| Provider  |                 Distro                  |  k8s   |
|:---------:|:---------------------------------------:|:------:|
|  Google   |     GKE-COS (Rapid/Regular Release)     |  Full  |
|  Google   |   GKE-Ubuntu (Rapid/Regular Release)    |  Full  |
|    AWS    |        EKS-Amazon Linux 2 (5.10)        | No[^1] |
|    AWS    |        EKS-Amazon Linux 2 (4.14)

[2022-03-22 09:41] SujithKasireddy commented on #659
**Rancher Kubernetes Engine (RKE)**
@nyrahul when I try to install kubearmor on **RKE** env, kubearmor pod is failing due to the following error
`MountVolume.SetUp failed for volume "lib-modules-path" : hostPath type check failed: /lib/modules is not a directory`
![image](https://user-images.githubusercontent.com/60265529/159451706-b9b80e85-026a-4145-b42b-886e7cce6219.png)

[2022-03-22 21:01] subhamgcon commented on #533
Hey @nyrahul, Is this issue still open for work? If yes, can i work on it?

[2022-03-23 04:01] subhamgcon commented on #495
@daemon1024 Is this issue still open?

[2022-03-24 15:09] daemon1024 commented on #533
@subhamgcon Sure go ahead 😄 Thanks for the interest. Let us know if you have any questions.

[2022-03-25 13:06] subhamgcon commented on #533
Hey @daemon1024, This is first time writing a documentation on System tests. Can you please share my examples with me so that i can get an idea on how to proceed?

[2022-03-25 13:14] daemon1024 commented on #533
@subhamgcon
I recently added a test case as part of https://github.com/kubearmor/KubeArmor/commit/dbfb5cc4d76824911b7da104f3b89c724b1136ae
Ignore the changes in script files.
A basic workflow of adding a test includes
- A policy YAML file - against which tests are to be performed
- A set of commands, which will be executed against the policy
	- Each cmd file includes, command to be executed, wheth

[2022-03-30 04:08] #595 closed, assigned to nobody

[2022-03-30 11:46] nthnieljson commented on #623
hello @nyrahul, I would like to try working on this issue

[2022-03-30 12:52] daemon1024 opened #660 "`DefaultPosture` for Host Security Policies"
We recently added `DefaultPosture` for our security policies, we need to support it for Host Security Policies as well.

We should also leverage viper.ConfigWatcher and support changing the global default posture at runtime.

[2022-03-30 13:51] daemon1024 opened #661 "Bug in policyMatcher w.r.t. to HSP"
## Bug Report

**General Information**

- Environment description (GKE, VM-Kubeadm, vagrant-dev-env, minikube, microk8s, ...) *
- Kernel version (run `uname -a`) *
- Orchestration system version in use (e.g. `kubectl version`, ...)
- Link to relevant artifacts (policies, deployments scripts, ...)
- Target containers/pods

**To Reproduce**

1. Apply a host security policy https://github.com/kubearm

[2022-03-31 02:54] nthnieljson commented on #623
currently I am working on the karmor cli tool, I am not really sure where can I get this env or variables, should I add another flag for k8s env on the `karmor log` command? or where can I find this?

[2022-03-31 08:43] daemon1024 commented on #623
@nthnieljson Maybe we should just add this to the existing check without adding another flag.

https://github.com/kubearmor/kubearmor-client/blob/main/log/log.go#L48-L54

We should add another check to check for the pid file in `opt/kubearmor/` directory, since that's where the files exist when KubeArmor runs in systemd mode ( Ref https://github.com/kubearmor/KubeArmor/blob/main/getting-started/ku

[2022-03-31 11:43] nthnieljson commented on #623
okay, thanks for the guide!

[2022-04-01 04:55] nyrahul commented on #552
This seems to be a bug.

If I apply following policy:
[code]
The policy is enforced and the execution of chmod is blocked. However, the alerts are not sent.

If I simply change the `- path: /**/chmod` to `- path: /usr/bin/chmod`, the alerts work as expected. Hence confirming this as an issue.

[2022-04-03 01:53] viveksahu26 commented on #593
Hey @nyrahul , I am also not getting that link. So, closing this issue for now. Will reopen in future if link found or same issue found.